/* CSS Document */
html {
    SCROLLBAR-FACE-COLOR: #ECF6E9; 
	SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; 
	SCROLLBAR-SHADOW-COLOR: #ffffff; 
	SCROLLBAR-3DLIGHT-COLOR: #C7E4BB; 
	SCROLLBAR-ARROW-COLOR: #3C832C;
	SCROLLBAR-TRACK-COLOR: #ECF6E9; 
	SCROLLBAR-DARKSHADOW-COLOR: #C7E4BB; 
	SCROLLBAR-BASE-COLOR: #000000
    }
body{ margin:0px; padding:0xp;}

DIV {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif
}
TD {
	FONT-SIZE: 12px; COLOR: #333333; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif
}
A {
	COLOR: #333333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.clear {
	CLEAR: both
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.wrapper {
	BACKGROUND: url(left-bg.gif) repeat-y;
}
UL {
	LIST-STYLE-TYPE: none
}
FORM {
	MARGIN: 0px
}
INPUT {
	BORDER-RIGHT: #b4b4b4 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #b4b4b4 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #b4b4b4 1px solid; COLOR: #333333; LINE-HEIGHT: 17px; PADDING-TOP: 0px; BORDER-BOTTOM: #b4b4b4 1px solid; HEIGHT: 17px
}
TEXTAREA {
	BORDER-RIGHT: #b4b4b4 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #b4b4b4 1px solid; PADDING-LEFT: 2px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; BORDER-LEFT: #b4b4b4 1px solid; COLOR: #333333; PADDING-TOP: 0px; BORDER-BOTTOM: #b4b4b4 1px solid
}
H4 {
	FONT-SIZE: 14px; MARGIN: 5px; TEXT-ALIGN: center
}
.topbg{
	BACKGROUND: url(top-bg.gif) repeat-x
}
.bottombg{
	background:url(buttom-bg.gif) repeat-x
}
* html .centTable{margin-top:-2px;}
.content { BACKGROUND: url(content-bg-line.gif) #f9f9fa repeat-y right 50%;clear:both;} /* Moz */
* html .content { MIN-HEIGHT: 510px; BACKGROUND: url(content-bg-line.gif) #f9f9fa repeat-y right 50%; HEIGHT: 510px;clear:both;} /* IE6 */
*+html .content { MIN-HEIGHT: 510px; BACKGROUND: url(content-bg-line.gif) #f9f9fa repeat-y right 50%; HEIGHT: 510px;clear:both;} /* IE7 */
UNKNOWN {
	HEIGHT: auto
}
/*����������*/
#contool{PADDING: 2px; margin:4px;height:20px; background-color: #EBFFE1;border: 1px solid #65D229;}
#contool .tool{ float:left;line-height:20px;background:url(icon-list.gif) no-repeat 5px;width:60px;TEXT-INDENT:15px;FONT-WEIGHT: bold;}
#contool A{
	overflow:hidden;color:#333;line-height:20px;TEXT-INDENT:4px;text-decoration: none; float:left;
}
#contool A {
	background:url(tool-line.gif) no-repeat; height:20px; padding-left:4px; padding-right:4px; line-height:20px; display:block; text-align:center;COLOR: #333; 	
}
#contool A:hover {
	COLOR: #ff6600;
}
/*�������������*/
#nav {
	PADDING-LEFT: 4px; BACKGROUND: url(content-bg.gif) repeat-x; HEIGHT: 29px
}
#nav .curr {
	MARGIN-TOP: 4px; BACKGROUND: url(nav-curr-bg.gif) repeat-x; FLOAT: left; HEIGHT: 25px
}
#nav .curr .curr-left {
	FLOAT: left; HEIGHT: 25px
}
#nav .curr .curr-text {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 6px; WHITE-SPACE: nowrap; HEIGHT: 19px; TEXT-ALIGN: center
}
#nav .curr .curr-text1 {
	PADDING-RIGHT: 6px; PADDING-LEFT: 6px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 60px; CURSOR: pointer; PADDING-TOP: 6px; WHITE-SPACE: nowrap; HEIGHT: 19px; TEXT-ALIGN: center
}
#nav .right {
	PADDING-RIGHT: 24px; PADDING-LEFT: 0px; BACKGROUND: url(nav-right-bg.gif) no-repeat right 50%; FLOAT: right; PADDING-BOTTOM: 0px; WIDTH: 50px; PADDING-TOP: 8px; HEIGHT: 29px; TEXT-ALIGN: right
}
#nav .add {
	MARGIN-TOP: 4px; FLOAT: left; MARGIN-LEFT: 5px; CURSOR: pointer; HEIGHT: 25px
}
#nav .add A {
	FONT-WEIGHT: bold; COLOR: #96a0ad
}
#nav .add A:hover {
	FONT-WEIGHT: bold; COLOR: #96a0ad
}
#Menu{
	margin:0px;
}
#Menu #MenuRoot{
	font-size:14px;font-weight:bold;width:196px;CURSOR: pointer;TEXT-INDENT: 40px;line-height: 26px;margin:0px;
}
#Menu #MenuLine{
	margin:0px;
}
#Menu .menuRootBg{
	background:url(menu_bg.gif) no-repeat;height:27px; 
}
#Menu .menusubBtn A{
	overflow:hidden;color:#333;line-height:26px;TEXT-INDENT:60px;text-decoration: none;
}
#Menu .menusubBtn A {
	background:url(menu_bg1.gif) no-repeat; height:26px; width:183px;line-height:26px; display:block; 	
}

#Menu .menusubBtn A:hover {
	background:url(menu_bg2.gif) no-repeat; height:26px;width:183px;line-height:26px; display:block; 	
}
#BottomFrom .copyright {
	FONT-SIZE: 10px; BACKGROUND: url(buttom-copy-bg.gif) repeat-x; COLOR: #93a1ab; LINE-HEIGHT: 20px; PADDING-TOP: 34px; TEXT-ALIGN: center
}
.top_button {
	FONT-WEIGHT: bold; BACKGROUND: url(login-out.gif) no-repeat; WIDTH: 44px; CURSOR: pointer; COLOR: #b8d3eb; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
#TopFrom .logo {
	FLOAT: left
}
#TopFrom #right {
	PADDING-RIGHT: 14px; BACKGROUND: url(top-right.gif) no-repeat right top; WHITE-SPACE: nowrap; HEIGHT: 64px
}
#TopFrom #right .welcom {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 4px; COLOR: #ffffff; PADDING-TOP: 12px; TEXT-ALIGN: right
}
#TopFrom #right .welcom A {
	FONT-WEIGHT: bold; COLOR: #F20038
}
#TopFrom #right .welcom A:hover {
	FONT-WEIGHT: bold; COLOR: #F20038; TEXT-DECORATION: underline
}
#TopFrom #right .welcom .my-site-text A {
	FONT-WEIGHT: normal; COLOR: #b1c8d9
}
#TopFrom #right .welcom .my-site-text A:hover {
	FONT-WEIGHT: normal; COLOR: #b1c8d9; TEXT-DECORATION: none
}
#TopFrom #right .welcom .my-site-css {
	BORDER-RIGHT: #425b6f 1px solid; PADDING-RIGHT: 5px; PADDING-LEFT: 5px; BACKGROUND: #2c455b; FILTER: Alpha(opacity=80); VISIBILITY: hidden; PADDING-BOTTOM: 5px; MARGIN-LEFT: 0px; BORDER-LEFT: #425b6f 1px solid; WIDTH: 121px; PADDING-TOP: 10px; POSITION: absolute; TEXT-ALIGN: left; border-buttom: 1px solid #425B6F; moz-opacity: 0.8
}
#TopFrom #right .welcom .my-site-css A {
	FONT-WEIGHT: normal; COLOR: #b1c8d9
}
#TopFrom #right .welcom .my-site-css A:hover {
	FONT-WEIGHT: normal; COLOR: #ffffff; TEXT-DECORATION: none
}
#TopFrom #right .welcom .my-site-css DIV {
	PADDING-LEFT: 6px; FONT-WEIGHT: normal; COLOR: #b1c8d9; LINE-HEIGHT: 20px
}
#TopFrom #right .welcom .my-site-css .over {
	BORDER-RIGHT: #9aafbf 1px solid; BORDER-TOP: #9aafbf 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: normal; BACKGROUND: #89a0b2; BORDER-LEFT: #9aafbf 1px solid; COLOR: #b1c8d9; LINE-HEIGHT: 18px; BORDER-BOTTOM: #9aafbf 1px solid; TEXT-DECORATION: none
}
#TopFrom #right .welcom .my-site-css DIV DIV {
	PADDING-LEFT: 10px; FONT-WEIGHT: normal; COLOR: #b1c8d9; LINE-HEIGHT: 20px
}
#TopFrom #right .welcom .my-site-css .inover {
	BORDER-RIGHT: #9aafbf 1px solid; BORDER-TOP: #9aafbf 1px solid; PADDING-LEFT: 9px; FONT-WEIGHT: normal; BACKGROUND: #89a0b2; BORDER-LEFT: #9aafbf 1px solid; COLOR: #b1c8d9; LINE-HEIGHT: 18px; BORDER-BOTTOM: #9aafbf 1px solid; TEXT-DECORATION: none
}
#TopFrom #right .nav {
	WHITE-SPACE: nowrap
}
#TopFrom #right .nav A {
	COLOR: #3C832C; WHITE-SPACE: nowrap;
}
#TopFrom #right .nav A:hover {
	COLOR: #000; WHITE-SPACE: nowrap; TEXT-DECORATION: none
}

#TopFrom #right .nav .list {
	FLOAT: right; PADDING-TOP: 3px; WHITE-SPACE: nowrap; HEIGHT: 22px
}
#TopFrom #right .nav .list .lan {
	BORDER-RIGHT: #a7b9cc 1px solid; BORDER-TOP: #a7b9cc 1px solid; MARGIN-TOP: 17px; BACKGROUND: #f9f9fa; FILTER: Alpha(opacity=90); VISIBILITY: hidden; BORDER-LEFT: #a7b9cc 1px solid; WIDTH: 104px; BORDER-BOTTOM: #a7b9cc 1px solid; POSITION: absolute;  moz-opacity: 0.9
}
#TopFrom #right .nav .list .lan DIV {
	PADDING-LEFT: 4px; MARGIN: 4px; WIDTH: 92px; COLOR: #61758d; PADDING-TOP: 2px; HEIGHT: 18px
}
#TopFrom #right .nav .list .lan .over {
	BORDER-RIGHT: #a7b9cc 1px solid; BORDER-TOP: #a7b9cc 1px solid; BACKGROUND: #f9f9fa; MARGIN: 4px; BORDER-LEFT: #a7b9cc 1px solid; WIDTH: 90px; CURSOR: pointer; COLOR: #003f61; PADDING-TOP: 2px; BORDER-BOTTOM: #a7b9cc 1px solid; HEIGHT: 16px
}

.inframeStyle{
PADDING:0px; MARGIN: 0px; overflow-x:hidden;
}

#incontent {
	MARGIN: 2px 20px 0px 5px
}
#incontent-oem {
	MARGIN: 2px 0px 0px 13px
}
#incontent-wel {
	MARGIN: 2px 20px 0px 13px
}
#incontent .date A {
	COLOR: #003399; TEXT-DECORATION: underline
}
#incontent .date A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
#incontent-wel .left {
	MARGIN-TOP: 24px; FLOAT: left; WIDTH: 450px
}
#incontent-wel .left .inwelcome {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #224d7e
}
#incontent-wel .left .note {
	MARGIN-TOP: 10px; PADDING-LEFT: 15px; BACKGROUND: url(icon-light.gif) no-repeat left top; COLOR: #808080; LINE-HEIGHT: 20px
}
#incontent-wel .left .space {
	MARGIN-TOP: 10px; PADDING-TOP: 1px
}
#incontent-wel .left .space SPAN {
	MARGIN-TOP: 10px
}
#incontent-wel .left .note SPAN {
	FONT-WEIGHT: bold; COLOR: #ff5e16
}
#incontent-wel .right {
	MARGIN-TOP: 35px; FLOAT: left; MARGIN-LEFT: 30px
}
#incontent-wel .right .news {
	BORDER-RIGHT: #C8D3C4 1px solid; BORDER-TOP: #C8D3C4 1px solid; BACKGROUND: #F3F8F3; MARGIN-BOTTOM: 17px; BORDER-LEFT: #C8D3C4 1px solid; WIDTH: 250px; BORDER-BOTTOM: #C8D3C4 1px solid
}
#incontent-wel .right .news .title {
	BACKGROUND: url(news-title-bg.gif) repeat-x; HEIGHT: 27px
}
#incontent-wel .right .news .title .title-left {
	FONT-WEIGHT: bold; FLOAT: left; MARGIN: 6px 0px 0px 5px
}
#incontent-wel .right .news .title .title-right {
	FLOAT: right; MARGIN: 6px 5px 0px 0px
}
#incontent-wel .right .news .title .title-right A {
	COLOR: #3C832C; TEXT-DECORATION: underline
}
#incontent-wel .right .news .title .title-right A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
#incontent-wel .right .news UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px 0px 5px 15px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#incontent-wel .right .news UL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 15px; BACKGROUND: url(icon-list.gif) no-repeat left 50%; PADDING-BOTTOM: 3px; COLOR: #b2b2b2; PADDING-TOP: 3px
}
#incontent-wel .right .news OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 30px; PADDING-TOP: 0px
}
#incontent-wel .right .news OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#incontent-wel .info-nav {
	MARGIN-TOP: 65px; MARGIN-BOTTOM: 0px; HEIGHT: 20px
}
#incontent-wel .info-nav UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#incontent-wel .info-nav LI {
	BORDER-RIGHT: #d0dde6 1px solid; PADDING-RIGHT: 9px; BORDER-TOP: #d0dde6 1px solid; PADDING-LEFT: 9px; BACKGROUND: url(nav-bg.gif) #ECF6E9 repeat-x; FLOAT: left; BORDER-LEFT: #d0dde6 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #d0dde6 1px solid; HEIGHT: 20px
}
#incontent-wel .info-nav .current {
	BORDER-RIGHT: #E3EAE1 1px solid; BORDER-TOP: #E3EAE1 1px solid; FONT-WEIGHT: bold; BACKGROUND: #E3EAE1; BORDER-LEFT: #E3EAE1 1px solid; PADDING-TOP: 5px; BORDER-BOTTOM: #E3EAE1 1px solid; HEIGHT: 20px
}
#incontent-wel .info {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; BACKGROUND: #E3EAE1; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#incontent-wel .info-in {
	BORDER-RIGHT: #cdd8df 1px solid; BORDER-TOP: #cdd8df 1px solid; BACKGROUND: #F1F6EF; BORDER-LEFT: #cdd8df 1px solid; BORDER-BOTTOM: #cdd8df 1px solid
}
#content {
	
}
#content SPAN {
	COLOR: #224d7e
}
#content .info-title {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(info-list-bg.gif) repeat-x; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; HEIGHT: 23px
}
#content .hidecontent {
	DISPLAY: none; BACKGROUND: #F1F6EF
}
#content .hidecontent-bg {
	BACKGROUND: url(info-list-bg2.gif) repeat-x; HEIGHT: 170px
}
#content UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 5px; PADDING-TOP: 0px
}
#content UL LI {
	BACKGROUND: #F1F6EF; FLOAT: left; MARGIN: 3px; WIDTH: 206px
}
#content TABLE {
	MARGIN: 8px
}
#content TD {
	HEIGHT: 25px
}
#incontent-wel .hr {
	BACKGROUND: url(bg-line.gif) repeat-x; HEIGHT: 12px
}
#incontent-wel .seaver {
	MARGIN: 0px; LINE-HEIGHT: 22px
}
#incontent-wel .seaver SPAN {
	COLOR: #5e8e00
}
#incontent-wel .seaver A {
	COLOR: #5e8e00; TEXT-DECORATION: none
}
#incontent-wel .seaver A:hover {
	COLOR: #5e8e00; TEXT-DECORATION: underline
}
#current {
	MARGIN-TOP: 13px; HEIGHT: 35px
}
#current .current-left {
	FLOAT: left; COLOR: #666666
}
#current .current-right {
	FONT-SIZE: 9px; FLOAT: right; COLOR: #666666
}
#current .current-hr {
	BACKGROUND: url(bg-line.gif) repeat-x; MARGIN: 0px; HEIGHT: 12px
}
#column {
	MARGIN: 0px 0px 20px
}
#column .column-right {
	PADDING-LEFT: 10px; VERTICAL-ALIGN: top; LINE-HEIGHT: 20px
}
#tool-down {
	
}
#tool-down .tool-down-name {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0d2d7c
}
#tool-down .tool-down-edition {
	COLOR: #00751c; LINE-HEIGHT: 20px
}
#tool-down .tool-down-hr {
	BACKGROUND: url(bg-line.gif) repeat-x; MARGIN: 0px; HEIGHT: 12px
}
#tool-down .tool-down-btn {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px
}
#backup {
	BORDER-RIGHT: #BBD3B6 1px solid; BORDER-TOP: #BBD3B6 1px solid; BORDER-LEFT: #BBD3B6 1px solid; BORDER-BOTTOM: #BBD3B6 1px solid
}
#backup .backup-title {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-WEIGHT: bold; BACKGROUND: #E2EEE1; PADDING-BOTTOM: 5px; MARGIN: 1px; PADDING-TOP: 5px; BORDER-BOTTOM: #BBD3B6 1px solid
}
#backup .backup-content {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #969696; PADDING-TOP: 5px
}
#backup .backup-content-down {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; COLOR: #969696; PADDING-TOP: 5px; BORDER-BOTTOM: #BBD3B6 1px solid
}
#backup .backup-list {
	
}
#backup .backup-list TABLE {
	
}
#backup .backup-list TABLE TH {
	PADDING-RIGHT: 5px; PADDING-LEFT: 20px; BACKGROUND: #f0f0f0; PADDING-BOTTOM: 0px; COLOR: #3b8314; PADDING-TOP: 0px; BORDER-BOTTOM: #c9c9c9 1px solid; HEIGHT: 21px
}
#backup .backup-list TABLE TD {
	PADDING-RIGHT: 5px; PADDING-LEFT: 31px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; BORDER-BOTTOM: #dfdfdf 1px solid; HEIGHT: 21px
}
#backup .backup-btn {
	PADDING-TOP: 5px; HEIGHT: 27px; TEXT-ALIGN: center
}
#incontent .contable {
	MARGIN: 12px 10px 0px
}
#incontent .contable .con-ico {
	HEIGHT: 19px
}
#incontent .contable .con-ico A {
	COLOR: #3C832C
}
#incontent .contable .con-ico A:hover {
	COLOR: #000
}
#incontent .contable .hr {
	BACKGROUND: url(bg-line.gif) repeat-x; MARGIN: 0px; WIDTH: 100%; HEIGHT: 12px
}
#incontent .contable .con-fl {
	FLOAT: left; MARGIN-RIGHT: 15px
}
#incontent .contable .con-fl IMG {
	VERTICAL-ALIGN: text-bottom; MARGIN-RIGHT: 3px
}
#incontent .contable .catalog IMG {
	VERTICAL-ALIGN: text-bottom; MARGIN-RIGHT: 3px
}
#incontent .contable .catalog .floatl IMG {
	VERTICAL-ALIGN: text-bottom; MARGIN-RIGHT: 3px
}
#incontent .contable .con-fr IMG {
	VERTICAL-ALIGN: text-bottom; MARGIN-RIGHT: 3px
}
#content-table TD IMG {
	VERTICAL-ALIGN: text-bottom; MARGIN-RIGHT: 3px
}
#incontent .contable .con-fr {
	PADDING-RIGHT: 3px; MARGIN-TOP: 7px; FONT-SIZE: 10px; FLOAT: right; COLOR: #adadad
}
#incontent .contable .catalog {
	MARGIN-TOP: -2px; HEIGHT: 24px
}
#incontent .contable .catalog .floatl {
	FLOAT: left
}
#incontent .contable .catalog .floatr {
	PADDING-RIGHT: 3px; FLOAT: right; COLOR: #224d7e
}
#incontent .contable .catalog A {
	COLOR: #3C832C
}
#incontent .contable .catalog A:hover {
	COLOR: #000
}
#incontent .contable .catalog .floatr INPUT {
	WIDTH: 120px
}
#incontent-oem .contable {
	MARGIN: 12px 10px 0px
}
#incontent-oem .contable A {
	COLOR: #3C832C; TEXT-DECORATION: underline
}
#incontent-oem .contable A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
#incontent-oem .contable .con-ico {
	HEIGHT: 19px
}
#incontent-oem .hr {
	BACKGROUND: url(bg-line.gif) repeat-x; HEIGHT: 12px
}
#incontent-oem .contable .con-ico A {
	COLOR: #3C832C
}
#incontent-oem .contable .con-ico A:hover {
	COLOR: #000
}
#incontent-oem .contable .hr {
	MARGIN: 0px; WIDTH: 100%
}
#incontent-oem .contable .con-fl {
	FLOAT: left; MARGIN-RIGHT: 15px
}
#incontent-oem .contable .con-fl IMG {
	VERTICAL-ALIGN: text-bottom; MARGIN-RIGHT: 3px
}
#incontent-oem .contable .catalog IMG {
	VERTICAL-ALIGN: text-bottom; MARGIN-RIGHT: 3px
}
#incontent-oem .contable .catalog .floatl IMG {
	VERTICAL-ALIGN: text-bottom; MARGIN-RIGHT: 3px
}
#incontent-oem .contable .con-fr IMG {
	VERTICAL-ALIGN: text-bottom; MARGIN-RIGHT: 3px
}
#content-table TD IMG {
	VERTICAL-ALIGN: text-bottom; MARGIN-RIGHT: 3px
}
#incontent-oem .contable .con-fr {
	PADDING-RIGHT: 3px; MARGIN-TOP: 7px; FONT-SIZE: 10px; FLOAT: right; COLOR: #adadad
}
.contable#incontent-oem .catalog {
	MARGIN-TOP: -2px; HEIGHT: 24px
}
#incontent-oem .contable .catalog .floatl {
	FLOAT: left
}
#incontent-oem .contable .catalog .floatr {
	PADDING-RIGHT: 3px; FLOAT: right; COLOR: #224d7e
}
#incontent-oem .contable .catalog A {
	COLOR: #3C832C
}
#incontent-oem .contable .catalog A:hover {
	COLOR: #000
}
#incontent-oem .contable .catalog .floatr INPUT {
	WIDTH: 120px
}
.content-table TD IMG {
	VERTICAL-ALIGN: text-bottom; MARGIN-RIGHT: 3px
}
.content-table TD.food {
	VERTICAL-ALIGN: middle; HEIGHT: 35px
}
.content-table A {
	COLOR: #3C832C; TEXT-DECORATION: underline
}
.content-table A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.content-table .domain A {
	COLOR: #3C832C; TEXT-DECORATION: none
}
.content-table .domain A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
.content-table TH {
	BORDER-TOP: #BBD3B6 1px solid; PADDING-LEFT: 7px; BACKGROUND: url(ico_thbg.gif) #E2EEE1 no-repeat right top; COLOR: #000; LINE-HEIGHT: 23px; BORDER-BOTTOM: #f9f9fa 1px solid; WHITE-SPACE: nowrap; HEIGHT: 21px; TEXT-ALIGN: left
}
.content-table TH.none {
	BACKGROUND: #E2EEE1
}
.content-table TH.thright {
	PADDING-RIGHT: 10px; TEXT-ALIGN: right
}
.content-table TH.thcenter {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.content-table TH.thleft {
	PADDING-LEFT: 10px; TEXT-ALIGN: left
}
.content-table TD {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; WORD-BREAK: break-all; BORDER-BOTTOM: #f9f9fa 1px solid; HEIGHT: 24px
}
.content-table TD.tdright {
	PADDING-RIGHT: 10px; TEXT-ALIGN: right
}
.content-table TD.tdrightpad30 {
	PADDING-RIGHT: 30px; TEXT-ALIGN: right
}
.content-table TD.tdrightpad0 {
	PADDING-RIGHT: 0px; TEXT-ALIGN: right
}
.content-table TD.tdleftpad0 {
	PADDING-LEFT: 0px
}
.content-table TD.tdcenter {
	TEXT-ALIGN: center
}
.content-table TD.img {
	TEXT-ALIGN: center
}
.content-table OL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 50px; PADDING-TOP: 0px
}
.content-table OL LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
.content-table .http-input {
	PADDING-LEFT: 40px; BACKGROUND: url(input-http.gif) #fff no-repeat
}
.tdblodth {
	BORDER-TOP: #BBD3B6 1px solid; PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(ico_thbg.gif) #E2EEE1 no-repeat right top; COLOR: #000; LINE-HEIGHT: 23px; BORDER-BOTTOM: #f9f9fa 1px solid; WHITE-SPACE: nowrap; HEIGHT: 21px
}
.tdblodthnone {
	BORDER-TOP: #BBD3B6 1px solid; PADDING-LEFT: 7px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #E2EEE1; COLOR: #000; LINE-HEIGHT: 23px; BORDER-BOTTOM: #f9f9fa 1px solid; WHITE-SPACE: nowrap; HEIGHT: 21px
}
.trBackColor {
	BACKGROUND: #f2f2f2
}
.all_input {
	BORDER-TOP-STYLE: none! important; BORDER-RIGHT-STYLE: none! important; BORDER-LEFT-STYLE: none! important; BORDER-BOTTOM-STYLE: none! important
}
.imgadnfont {
	MARGIN: 2px 10px 10px 0px
}
.imgadnfont .float {
	FLOAT: left; MARGIN: 0px 10px 10px 0px
}
.teblelist-buttom {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; COLOR: #666666; PADDING-TOP: 10px; TEXT-ALIGN: right
}
.teblelist-buttom A {
	COLOR: #0d2d7c
}
.teblelist-buttom A:hover {
	COLOR: #000
}
.fontbox {
	
}
.fontbox .blue {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0d2d7c; LINE-HEIGHT: 22px
}
.fontbox .blue .size12 {
	FONT-SIZE: 12px
}
.fontbox .green {
	COLOR: #00751c; LINE-HEIGHT: 22px
}
.fontbox .hui {
	COLOR: #333333; LINE-HEIGHT: 22px
}
.fontbox .buttom {
	MARGIN: 3px 0px 10px
}
.fontbox .buttom .button {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(buttom_bg1.gif); BORDER-BOTTOM-WIDTH: 0px; WIDTH: 72px; COLOR: #244055; LINE-HEIGHT: 20px; HEIGHT: 20px; BORDER-RIGHT-WIDTH: 0px
}
.hint-dialog-content {
	BACKGROUND: url(input-bg.gif) no-repeat; HEIGHT: 41px
}
.hint-dialog-content-padder {
	PADDING-LEFT: 5px
}
.hint-dialog-content-text {
	MARGIN-TOP: 14px; COLOR: #ff0000; LINE-HEIGHT: 28px
}
.litabletrbg {
	BACKGROUND: #f2f2f2
}
.Cstyle {
	BACKGROUND-COLOR: #f7f4d0! important
}
.Ovstyle {
	BACKGROUND-COLOR: #eaeaea! important
}
#buttom {
	BACKGROUND: url(buttom-bg.gif) repeat-x; WIDTH: 100%; HEIGHT: 54px
}
#buttom .copyright {
	FONT-SIZE: 10px; BACKGROUND: url(buttom-copy-bg.gif) repeat-x; COLOR: #93a1ab; LINE-HEIGHT: 20px; PADDING-TOP: 34px; TEXT-ALIGN: center
}
#green {
	COLOR: #068600
}
#accurate .accurate-content {
	PADDING-LEFT: 24px; BACKGROUND: url(accurate.gif) #e6ffe6 no-repeat left top; MARGIN: 1px 0px 0px 1px; COLOR: #1b7005; LINE-HEIGHT: 20px
}
#error {
	BORDER-RIGHT: #ff6600 1px solid; BORDER-TOP: #ff6600 1px solid; MARGIN-BOTTOM: 5px; BORDER-LEFT: #ff6600 1px solid; BORDER-BOTTOM: #ff6600 1px solid
}
#error .error-content {
	PADDING-LEFT: 24px; BACKGROUND: url(erro.gif) #fff2e9 no-repeat left top; MARGIN: 1px 0px 0px 1px; COLOR: #9c614f; LINE-HEIGHT: 20px
}
#input {
	WIDTH: 150px
}
.input_noboder {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.input_noboder INPUT {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#input_460 {
	WIDTH: 408px
}
.button {
	BACKGROUND: url(buttom_bg1.gif) no-repeat; WIDTH: 72px; CURSOR: pointer; COLOR: #395366; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.accurate {
	BORDER-RIGHT: #00be00 1px solid; BORDER-TOP: #00be00 1px solid; MARGIN-BOTTOM: 5px; BORDER-LEFT: #00be00 1px solid; BORDER-BOTTOM: #00be00 1px solid
}
.accurate .accurate-content {
	PADDING-LEFT: 24px; BACKGROUND: url(accurate.gif) #e6ffe6 no-repeat left top; MARGIN: 1px 0px 0px 1px; COLOR: #1b7005; LINE-HEIGHT: 20px
}
.error {
	BORDER-RIGHT: #ff6600 1px solid; BORDER-TOP: #ff6600 1px solid; MARGIN-BOTTOM: 5px; BORDER-LEFT: #ff6600 1px solid; BORDER-BOTTOM: #ff6600 1px solid
}
.error .error-content {
	PADDING-LEFT: 24px; BACKGROUND: url(erro.gif) #fff2e9 no-repeat left top; MARGIN: 1px 0px 0px 1px; COLOR: #9c614f; LINE-HEIGHT: 20px
}
.flux_title {
	MARGIN-TOP: 15px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #0d2d7c; TEXT-ALIGN: center
}
.flux_text {
	PADDING-RIGHT: 20px; PADDING-LEFT: 0px; PADDING-BOTTOM: 2px; COLOR: #000000; PADDING-TOP: 2px; TEXT-ALIGN: right
}
.blue {
	COLOR: #0d2d7c
}
.star {
	COLOR: #ff6600
}
.star A {
	COLOR: #0d2d7c; TEXT-DECORATION: underline
}
.star A:hover {
	COLOR: #ff6600; TEXT-DECORATION: underline
}
.button110 {
	BACKGROUND: url(buttom_bg2.gif) no-repeat; WIDTH: 110px; CURSOR: pointer; COLOR: #395366; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.button125 {
	BACKGROUND: url(buttom_bg3.gif) no-repeat; WIDTH: 125px; CURSOR: pointer; COLOR: #395366; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.button145 {
	BACKGROUND: url(buttom_bg4.gif) no-repeat; WIDTH: 165px; CURSOR: pointer; COLOR: #395366; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.top_button {
	FONT-WEIGHT: bold; BACKGROUND: url(login-out.gif) no-repeat; WIDTH: 44px; CURSOR: pointer; COLOR: #b8d3eb; BORDER-TOP-STYLE: none; PADDING-TOP: 2px; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; HEIGHT: 20px; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
#href-blue A {
	COLOR: #333333; TEXT-DECORATION: none
}
#href-blue A:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
#pad {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 12px
}
#lodingbar {
	BORDER-RIGHT: #426a98 1px solid; BORDER-TOP: #426a98 1px solid; BACKGROUND: url(loading_bg.gif); FLOAT: left; BORDER-LEFT: #426a98 1px solid; WIDTH: 240px; BORDER-BOTTOM: #426a98 1px solid; HEIGHT: 15px
}
#lodingbar .barborder {
	BORDER-RIGHT: #ccdbe6 1px solid; BORDER-TOP: #ccdbe6 1px solid; BORDER-LEFT: #ccdbe6 1px solid; BORDER-BOTTOM: #ccdbe6 1px solid; HEIGHT: 13px
}
#lodingbar .barfont {
	FONT-SIZE: 11px; WIDTH: 240px; COLOR: #fff; LINE-HEIGHT: 13px; POSITION: absolute; TEXT-ALIGN: center
}
#lodingbar .barborder .img {
	BACKGROUND: url(loading_bg2.gif); HEIGHT: 13px
}

.TreeMenu{border:#006600 solid 1px; height:350px; overflow:scroll; background-color:#ffffff; }
.TreeMenu img.s
{
	cursor:hand;
	vertical-align:middle;
}
.TreeMenu .s_1
{
	cursor:hand;
	vertical-align:middle;
	padding-left:5px;
}
.TreeMenu ul
{
	padding:0;
}
.TreeMenu li
{
	list-style:none;
	padding:0;
}
.Closed ul
{
	display:none;
}
.Child img.s
{
	background:none;
	cursor:default;
}

.TreeMenu ul
{
	margin:0 0 0 8px;
}
.TreeMenu img.s
{
	width:34px;
	height:18px;
}
.TreeMenu .Opened img.s
{
	background:url(../images/skin3/opened.gif) no-repeat 0 1px;
}
.TreeMenu .Closed img.s
{
	background:url(../images/skin3/closed.gif) no-repeat 0 1px;
}
.TreeMenu .Child img.s
{
	background:url(../images/skin3/child.gif) no-repeat 15px;
}
.divClose{ background-color:#fff;height:21px; text-align:right; border:#006600 solid 1px; border-bottom:#006600 none 1px; background-color:#ECF6E9;}
#RightCate{ height:350px; border:#006600 solid 1px; margin-left:10px;}
.allopStyle{ background-color:#fafafa; border-top:#e1e1e1 solid 1px;border-left:#e1e1e1 solid 1px;border-right:#e1e1e1 solid 1px;width:98%;padding:2px; margin-top:5px; margin-left:2px; text-align:left;line-height:23px;}
.pageStyle{ background-color:#fafafa; border:#e1e1e1 solid 1px;width:98%; padding:2px; margin-left:2px; text-align:center;}
.con-ico{border-bottom:#CCCCCC 1px solid;width:780px;}