<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/libs/kindeditor/themes/default/default.css" />
	<link rel="stylesheet" href="../public/libs/kindeditor/plugins/code/prettify.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.check_box .i, .check_box2 .i{margin-right:5px;}
		.sbox .search_table td{padding:1px 0;}
		.sline_tips{position:absolute;left:-24px;top:18px;}
	</style>
</head>
<body class="xiangmuguanli xiangmujibenxinxi zhuantiguanli">

	<h4 class="zti_title">
		<a href="javascript:;" back="专题管理-基本信息.html" class="goback ztit_abtn">基本信息</a>
		<a href="javascript:;" back="专题管理-专题课程.html" class="goback ztit_abtn active">专题课程</a>
		<a href="javascript:;" back="专题管理-人员管理.html" class="goback ztit_abtn">人员管理</a>
	</h4>
	<div id="choiceFenlei" class="choice_slable">
		<a href="javascript:;" val="" class="a active">全部分类</a><span class="l">|</span>
		<a href="javascript:;" val="入职培训" class="a">入职培训</a><span class="l">|</span>
		<a href="javascript:;" val="入职培训" class="a">入职培训</a>
	</div>
	<div id="choiceLeixing" class="choice_slable">
		<a href="javascript:;" val="" class="a active">全部类型</a><span class="l">|</span>
		<a href="javascript:;" val="免费" class="a">免费</a><span class="l">|</span>
		<a href="javascript:;" val="付费" class="a">付费</a>
		<a class="creat_forse" id="newCenter" >添加课程</a>
	</div>
	<div id="choiceZhuangtai" class="choice_slable type2">
		<a href="javascript:;" val="" class="a active">全部状态</a>
		<a href="javascript:;" val="上架" class="a">上架</a>
		<a href="javascript:;" val="下架" class="a">下架</a>
		<div class="rightres">共 43 个课程</div>
	</div>
	<!--  -->
	<div id="kechengtablelist1">
	<h4 num=0 class="cs_title">
		<div class="cstspan1">
			<a href="javascript:;" val="" class="la active">入职培训 :</a>
			<a href="javascript:;" val="入职培训1" class="la">入职培训1</a>
			<a href="javascript:;" val="入职培训2" class="la">入职培训2</a>
			<a href="javascript:;" val="入职培训3" class="la">入职培训3</a>
		</div>
		<div class="cstspan2">共 23 个课程</div>
	</h4>
	<div class="kechenglist">
		<div class="kcc_one">
			<div class="kcone_f" style="background:url('../public/img/f1.png') no-repeat center center;background-size:cover;"></div>
			<h4 class="kf_title">入职培训新员工</h4>
			<h4 class="kf_name"><span class="nn">朱婷</span><a href="javascript:;" class="zhidengbtn">置顶</a></h4>
			<div class="kf_bb"><span class="mianf">免费</span><a class="delebtn"></a><a class="downitbtn"></a></div>
		</div>
		<div class="kcc_one">
			<div class="kcone_f" style="background:url('../public/img/f1.png') no-repeat center center;background-size:cover;"></div>
			<h4 class="kf_title">入职培训新员工</h4>
			<h4 class="kf_name"><span class="nn">朱婷</span><a href="javascript:;" class="zhidengbtn">置顶</a></h4>
			<div class="kf_bb"><span class="mianf type2">¥ 20.0</span><a class="downitbtn active"></a></div>
		</div>
		<div class="kcc_one">
			<div class="kcone_f" style="background:url('../public/img/f1.png') no-repeat center center;background-size:cover;"></div>
			<h4 class="kf_title">入职培训新员工</h4>
			<h4 class="kf_name"><span class="nn">朱婷</span><a href="javascript:;" class="zhidengbtn">置顶</a></h4>
			<div class="kf_bb"><span class="mianf type2">¥ 20.0</span><a class="downitbtn active"></a></div>
		</div>
		<div class="kcc_one">
			<div class="kcone_f" style="background:url('../public/img/f1.png') no-repeat center center;background-size:cover;"></div>
			<h4 class="kf_title">入职培训新员工</h4>
			<h4 class="kf_name"><span class="nn">朱婷</span><a href="javascript:;" class="zhidengbtn">置顶</a></h4>
			<div class="kf_bb"><span class="mianf type2">¥ 20.0</span><a class="downitbtn active"></a></div>
		</div>
		<div class="kcc_one">
			<div class="kcone_f" style="background:url('../public/img/f1.png') no-repeat center center;background-size:cover;"></div>
			<h4 class="kf_title">入职培训新员工</h4>
			<h4 class="kf_name"><span class="nn">朱婷</span><a href="javascript:;" class="zhidengbtn">置顶</a></h4>
			<div class="kf_bb"><span class="mianf type2">¥ 20.0</span><a class="downitbtn active"></a></div>
		</div>
		<div class="kcc_one">
			<div class="kcone_f" style="background:url('../public/img/f1.png') no-repeat center center;background-size:cover;"></div>
			<h4 class="kf_title">入职培训新员工</h4>
			<h4 class="kf_name"><span class="nn">朱婷</span><a href="javascript:;" class="zhidengbtn">置顶</a></h4>
			<div class="kf_bb"><span class="mianf type2">¥ 20.0</span><a class="downitbtn active"></a></div>
		</div>
	</div>
	<!--  -->
	<h4 num=1 class="cs_title">
		<div class="cstspan1">
			<a href="javascript:;" val="" class="la active">商务培训 :</a>
			<a href="javascript:;" val="商务培训1" class="la">商务培训1</a>
			<a href="javascript:;" val="商务培训2" class="la">商务培训2</a>
			<a href="javascript:;" val="商务培训3" class="la">商务培训3</a>
		</div>
		<div class="cstspan2">共 23 个课程</div>
	</h4>
	<div class="kechenglist">
		<div class="kcc_one">
			<div class="kcone_f" style="background:url('../public/img/f1.png') no-repeat center center;background-size:cover;"></div>
			<h4 class="kf_title">入职培训新员工</h4>
			<h4 class="kf_name"><span class="nn">朱婷</span><a href="javascript:;" class="zhidengbtn">置顶</a></h4>
			<div class="kf_bb"><span class="mianf">免费</span><a class="delebtn"></a><a class="downitbtn"></a></div>
		</div>
		<div class="kcc_one">
			<div class="kcone_f" style="background:url('../public/img/f1.png') no-repeat center center;background-size:cover;"></div>
			<h4 class="kf_title">入职培训新员工</h4>
			<h4 class="kf_name"><span class="nn">朱婷</span><a href="javascript:;" class="zhidengbtn">置顶</a></h4>
			<div class="kf_bb"><span class="mianf type2">¥ 20.0</span><a class="downitbtn active"></a></div>
		</div>
	</div>
	</div>
	

	<!-- 弹窗 -->
	<div info="弹窗背景" class="stip_bg"></div>
	<div info="弹窗容器" class="stip_box">
		<div class="stip_content">
		
			
			<div style="width:900px;" class="sbox xiugaizhongxin tianjiakechengsbox">
				<h4 class="sbox_h4">添加课程</h4>
				<div class="sboxscroll_div">
				<div class="btn_div">
					<table class="search_table">
						<tr>
							<td>
								<span class="sear_lable">课程名称/编号</span>
								<input id="skechengcode" class="com_input com_input1" type="text" />
							</td>
							<td>
								<span class="sear_lable">讲师姓名</span>
								<select id="sjname" class="com_select com_select2">
									<option value="">请选择</option>
								</select>
							</td>
							<td>
								<span class="sear_lable">一级分类</span>
								<select id="syijifenlei" class="com_select com_select2">
									<option value="">请选择</option>
								</select>
							</td>
						</tr>
						<tr>	
							<td>
								<span class="sear_lable">二级分类</span>
								<select id="serjifenlei" class="com_select com_select2">
									<option value="">请选择</option>
								</select>
							</td>
						
							<td>
								<span class="sear_lable">课程类型</span>
								<select id="skechenglei" class="com_select com_select2">
									<option value="">请选择</option>
								</select>
							</td>
							<td>
								<span class="sear_lable">上下架状态</span>
								<select id="sshangxai" class="com_select com_select2">
									<option value="">请选择</option>
									<option value="上架">上架</option>
									<option value="下架">下架</option>
								</select>
							</td>
						</tr>
						<tr>
							<td>
								<span class="sear_lable">创建时间</span>
								<input class="com_input com_input4" id="start_time"  placeholder="起" type="text" />
							</td>
							<td>
								<span class="sear_lable">创建时间</span>
								<input class="com_input com_input4" id="end_time"  placeholder="止" type="text" />
							</td>
							<td>
								<span class="sear_lable">收费区间</span>
								<input id="sshou1" style="width:65px;" class="com_input com_input1" type="text" /> - 
								<input id="sshou2" style="width:66px;" class="com_input com_input1" type="text" />
							</td>
						</tr>
						<tr>	
							<td style="position:relative;">
								<div class="sline_tips">（已选中<span class="c2">5</span>个课程）</div>
							</td>
							<td>
								
							</td>
							<td class="searBtnTd">
								<a id="searchBtn" class="top_btn xiangMu_xiangMuSouSuo">搜索</a>
								<a id="searchAll" style="margin-right:42px;" class="top_btn type2">清空条件</a>
							</td>
						</tr>
					</table>
				</div>
				
				<div id="tableList1" class="table_div">
					<table class="table1">
						<tr>
							<th class="padding_s"><div class="check_box toAll"><i class="i"></i></div></th>
							<th style="min-width:30px;">编号</th>
							<th style="min-width:60px;">课程名称</th>
							<th style="min-width:60px;">讲师姓名</th>
							<th style="min-width:60px;">一级分类</th>
							<th style="min-width:60px;">二级分类</th>
							<th style="min-width:45px;">课件数</th>
							<th style="min-width:60px;">学习时长</th>
							<th style="min-width:60px;">收费情况</th>
							<th style="min-width:60px;">创建时间</th>
						</tr>
						<tr>
							<td class="padding_s"><div class="check_box tocommon "><i class="i"></i></div></td>
							<td>009</td>
							<td>知情同意书如何签署</td>
							<td>姚卫</td>
							<td>内部培训</td>
							<td>公司制度</td>
							<td>3 </td>
							<td>14：32：32</td>
							<td>免费</td>
							<td>2016/7/23 14:23:12</td>
						</tr>
					</table>
				</div>
				</div>
				<div class="sbox_btn_div" style="text-align:center;">
					<a href="javascript:;" id="noBtn4" onclick="closeSbox()" class="sbox_btn btn1">取消</a>
					<a id="yesBtn4" style="margin-left:25px;" href="javascript:;" class="sbox_btn btn2">添加</a>
				</div>
			</div>
			
			
		</div>
	</div>	
		
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("id") || "";//获取项目id
	g.do = Utils.getQueryString("do") || "";//获取操作 是查看（check）还是修改（change）新建 （new）
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	g.choice = [];//存储选中的二级分类
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('专题管理').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '专题管理.html';
	});
	$('#menu_show_t .s1',parent.document).html(' > 专题课程').addClass('active');
	
	$('#yesBtn4').on('click',function(){createnewone()});//添加课程确认
	$('#searchAll').on('click',function(){g.nowPage = 0;tableListShow(2)});
	$('#searchBtn').on('click',function(){g.nowPage = 0;tableListShow(1)});
	//添加课程
	$('#newCenter').on('click',function(){tableListShow(1);showSbox('.tianjiakechengsbox');});
	//全部分类 筛选
	$('.choice_slable').on('click','.a',function(){
		$(this).addClass('active').siblings('.a').removeClass('active');
		kechengtable();//专题课程列表
		g.choice = [];//清空选中的二级分类
	});
	//筛选二级分类
	$('#kechengtablelist').on('click','.la',function(){
		var num = $(this).parents('.cs_title').attr('num') || '';
		var _val = $(this).attr('val') || '';
		if(num != ''){g.choice[num] = _val;}//存储选中的二级分类
		$(this).addClass('active').siblings('.la').removeClass('active');
		kechengtable();//专题课程列表
	});
	
	
/* **************************************** setTing ******************************************** */	
	
	//确认添加课程
	function createnewone(){
		var id = id || '';
		if(id == ''){Utils.alert('id不能为空！');return false;}
		if(!confirm('确认上架或下架吗？')){return false;}
		var condi = {};
		condi.id = id;
		var url = Base.serverUrl + "role/deleteById";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('上架或下架成功！');
					kechengtable();//列表
				}
				else{
					var msg = data.message || "失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	
	
	
	//专题课程列表
	function kechengtable(){
		var fenlei = $('#choiceFenlei').find('.a.active').attr('val') || '';
		var leixing = $('#choiceLeixing').find('.a.active').attr('val') || '';
		var zhuangtai = $('#choiceZhuangtai').find('.a.active').attr('val') || '';
		
		//二级分类搜索项 变json串
		var jsonall = [];
		$('#kechengtablelist').find('.cs_title').each(function(){
			var jsonarr = {};
			var _val = $(this).find('.la.active').attr('val') || '';
			jsonarr['choise'] = _val ;
			jsonall.push(jsonarr);
		});
		jsonall = JSON.stringify(jsonall);
		var condi = {};
		condi.page = g.nowPage;//当前页
		condi.number = g.showPages;//每页显示行数
		condi.fenlei = fenlei;
		condi.leixing = leixing;
		condi.zhuangtai = zhuangtai;
		condi.choice = jsonall;
		var url = Base.serverUrl + "role/getAll";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					g.totalPage = data.totalPages || 0;//总页数
					var totalElements = data.totalElements || 0;//总共模块数
					$('#totalElements').html(totalElements);
					var html = '';
					
					var con = data.content || [];
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || {};
						var cellall = d.cell || [];
						var celllist = d.celllist || [];
						
						html+='<h4 num='+i+' class="cs_title">'
							+'<div class="cstspan1">';
								for(var j=0,lenj=cellall.length;j<lenj;j++){
									var dj = cellall[i] || {};
									var val = dj.val || '';
									var _active = g.choice[i] == val ? 'active' : '' ;
									
									html+='<a href="javascript:;" val="'+val+'" class="la '+_active+'">入职培训 :</a>';
								}
							html+='</div>'
							+'<div class="cstspan2">共 23 个课程</div>'
						+'</h4>'
						+'<div class="kechenglist">';
						for(var k=0,lenk=celllist.length;k<lenk;k++){
							var dk = celllist[k] || {};
							var id = dk.id || '';
							html+='<div class="kcc_one">'
								+'<div class="kcone_f" style="background:url(../public/img/f1.png) no-repeat center center;background-size:cover;"></div>'
								+'<h4 class="kf_title">入职培训新员工</h4>'
								+'<h4 class="kf_name">朱婷</h4>'
								+'<div class="kf_bb"><span class="mianf">免费</span>'
								+'<a href="javascript:;" onclick="delit('+id+')" class="delebtn"></a>'
								+'<a href="javascript:;" onclick="updownit('+id+')" class="downitbtn"></a>'
								+'</div>'
							+'</div>';
						}
						html+='</div>';
					}	
					$('#kechengtablelist').html(html);
					
				}
				else{
					var msg = data.message || "获取信息失败";
					$('#kechengtablelist').html('');
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
				$('#kechengtablelist').html('');
			}
		});
	}

	//上架 下架课程
	window.updownit = function(id){
		var id = id || '';
		if(id == ''){Utils.alert('id不能为空！');return false;}
		if(!confirm('确认上架或下架吗？')){return false;}
		var condi = {};
		condi.id = id;
		var url = Base.serverUrl + "role/deleteById";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('上架或下架成功！');
					kechengtable();//列表
				}
				else{
					var msg = data.message || "失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	//删除一项
	window.delit = function(id){
		var id = id || '';
		if(id == ''){Utils.alert('id不能为空！');return false;}
		if(!confirm('确认删除吗？')){return false;}
		var condi = {};
		condi.id = id;
		var url = Base.serverUrl + "role/deleteById";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('删除成功！');
					kechengtable();//列表
				}
				else{
					var msg = data.message || "删除失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
//----------------------------------------弹窗------------------------------------------------------
	
	//设置获取当前选中的导出项 全选 全取消
	function getSetIDS(id,sta){
		var id = id || '';//id : all 全选 : no 全部取消
		var sta = sta || '';
		var res = '';
		if(g.ids.length <= 0 ){return res;}
		for(var i=0,len=g.ids.length;i<len;i++){
			var d = g.ids[i] || '';
			var num = d[0] || '';
			var state = d[1] || 0;
			//获取当前选中项
			if(state == '1'){
				if(res == ''){
					res = num;
				}else{
					res = res + ',' + num;
				}
			}
			//设置当前选中项
			if(id != '' && sta != '' && id == num){
				g.ids[i][1] = sta;
			}
			//全选
			if(id == 'all' && sta == ''){
				g.ids[i][1] = '1';
			}
			//全部取消
			if(id == 'no' && sta == ''){
				g.ids[i][1] = '0';
			}
		}
		return res;
	}				
	//全选
	function selAll(){
		$('.xiangmuguanli').off('click','.check_box').on('click','.check_box',function(){
			var _this = $(this) || {};
			var _id = _this.attr('idx') || '';
			if(_this.hasClass('active')){
				_this.removeClass('active');
				if(_id != ''){getSetIDS(_id,'0');}//取消选中当前项
			}else{
				_this.addClass('active');
				if(_id != ''){getSetIDS(_id,'1');}//选中当前项
			}
		});
		
		$('.xiangmuguanli').off('click','.toAll').on('click','.toAll',function(){
			//$(this).toggleClass('active');
			if($(this).hasClass('active')){
				$('.tocommon').addClass('active');
				getSetIDS('all');//全选
				g.quanxuan = 1;
			}else{
				$('.tocommon').removeClass('active');
				getSetIDS('no');//全部取消
				g.quanxuan = 0;
			}
		});
		
	}

	//列表
	function tableListShow(is){
		var is = is || '';
		g.skechengcode = $('#skechengcode').val() || '';
		g.sjname = $('#sjname').val() || '';
		g.syijifenlei = $('#syijifenlei').val() || '';
		g.serjifenlei = $('#serjifenlei').val() || '';
		g.skechenglei = $('#skechenglei').val() || '';
		g.sshangxai = $('#sshangxai').val() || '';
		g.start_time = $('#start_time').val() || '';
		g.end_time = $('#end_time').val() || '';
		g.sshou1 = $('#sshou1').val() || '';
		g.sshou2 = $('#sshou2').val() || '';
		var condi = {};
		condi.page = g.nowPage;//当前页
		condi.number = g.showPages;//每页显示行数
		if(is == 1 || is == 'pa'){//搜索条件
			condi.code = g.skechengcode;//
			condi.code = g.sjname;//
			condi.code = g.syijifenlei;//
			condi.code = g.serjifenlei;//
			condi.code = g.skechenglei;//
			condi.code = g.sshangxai;//
			condi.code = g.start_time;//
			condi.code = g.end_time;//
			condi.code = g.sshou1;//
			condi.code = g.sshou2;//
			g.loadPage = true;//开启分页
		}else if(is == 2){//搜索全部
			//全部的时候 清空搜索项
			$('#skechengcode').val('');
			$('#sjname').val('');
			$('#syijifenlei').val('');
			$('#serjifenlei').val('');
			$('#skechenglei').val('');
			$('#sshangxai').val('');
			$('#start_time').val('');
			$('#end_time').val('');
			$('#sshou1').val('');
			$('#sshou2').val('');
			g.loadPage = true;//开启分页
		}
		var url = Base.serverUrl + "project/search";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					g.totalPage = data.totalPages || 0;//总页数
					var totalElements = data.totalElements || 0;//总共中心数
					//$('#totalElements').html(totalElements);
					var html = '';
					html += '<table class="table1">'
						+'<tr>'
							+'<th class="padding_s"><div class="check_box toAll"><i class="i"></i></div></th>'
							+'<th style="min-width:30px;">编号</th>'
							+'<th style="min-width:60px;">课程名称</th>'
							+'<th style="min-width:60px;">讲师姓名</th>'
							+'<th style="min-width:60px;">一级分类</th>'
							+'<th style="min-width:60px;">二级分类</th>'
							+'<th style="min-width:45px;">课件数</th>'
							+'<th style="min-width:60px;">学习时长</th>'
							+'<th style="min-width:60px;">收费情况</th>'
							+'<th style="min-width:60px;">创建时间</th>'
						+'</tr>';
					var con = data.content || [];
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || '';
						var id = d.id || '';
						var code = d.code || '';//编号
						var create_time = getDate((d.create_time || ''),'2');
						var stra = '';
		
						html+='<tr>'
							+'<td class="padding_s"><div idx="'+id+'" class="check_box tocommon '+stra+'"><i class="i"></i></div></td>'
							+'<td>009</td>'
							+'<td>知情同意书如何签署</td>'
							+'<td>姚卫</td>'
							+'<td>内部培训</td>'
							+'<td>公司制度</td>'
							+'<td>3 </td>'
							+'<td>14：32：32</td>'
							+'<td>免费</td>'
						+'</tr>';
					}	
					 html+='</table>';
					$('#tableList').html(html);
					selAll();//定义导出按钮
					
				}
				else{
					var msg = data.message || "获取项目信息失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}	
	
		
	//设置每页显示多少行
	$('.pagesShow').change(function(){
		var num = $(this).val() || 10;
		g.nowPage = 0;//回到第一页
		g.showPages = num;
		g.loadPage = true;//设置页面加载 配置分页
		tableListShow();//显示列表
	});
	
	$(".gogo").on("click",function(){
    	var allPage = g.totalPage;
    	//console.log(allPage);
      var goPage = $(".page-go input").val() - 1; //跳转页数
      if(goPage > -1 && goPage <= allPage){
		g.nowPage = goPage;
		tableListShow();//显示列表
      }else {
      	Utils.alert('超出范围!');
      }
      //清空用户跳转页数
      //$(".page-go input").val("");
    });
	
	//分页
	function setPages(){
		$("#Pagination").pagination(g.totalPage,{
			callback: PageCallback, 
			 prev_text: '<',             
			 next_text: '>',
			 current_page:g.nowPage
		});
		$('.allPage').html(g.totalPage);
		$('.searchPage').show();
	}
	function PageCallback(index, jq){
		  g.nowPage = index || 0;
		  tableListShow('pa');//列表
	 }

	
});

</script>
</html>