<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/pagination.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.daochuCommonBtn{background:none;}
	</style>
</head>
<body class="xiangmuguanli updownbody kechengguanli ">
	
	<div class="m_info">
		<!-- 共<span id="totalElements" class="m_value">0</span>条结果 -->
		<a class="daochuCommonBtn cao_btn cao_btn1" id="upmove" >上移</a>
		<a style="left:74px;" class="daochuCommonBtn cao_btn cao_btn2" id="downmove" >下移</a>
		<a class="creat_forse " id="newCenter" >新建分类</a>
	</div>
	<div id="tableList" class="table_div">
		<!-- <table class="table1">
			<tr>
				<th class="padding_s"><div class="check_box toAll"><i class="i"></i></div></th>
				
				<th style="min-width:60px;">分类</th>
				<th style="min-width:200px;">操作</th>
			</tr>
			<tr>
				<td class="padding_s"><div class="check_box tocommon "><i class="i"></i></div></td>
				
				<td>└─ 入职培训</td>
				<td class="last">
					<a class="cao_btn cao_btn1">修改</a>
					<a class="cao_btn cao_btn3">删除</a>
					<a class="cao_btn cao_btn2">新增子项</a>
					<a class="cao_btn cao_btn4 shouqi">展开</a>
				</td>
			</tr>
			<tr>
				<td class="padding_s"><div class="check_box tocommon "><i class="i"></i></div></td>
				
				<td>&nbsp;&nbsp;&nbsp;&nbsp;├─ 入职培训</td>
				<td class="last">
					<a class="cao_btn cao_btn1">修改</a>
					<a class="cao_btn cao_btn3">删除</a>
				</td>
			</tr>
			<tr>
				<td class="padding_s"><div class="check_box tocommon "><i class="i"></i></div></td>
				
				<td>&nbsp;&nbsp;&nbsp;&nbsp;├─ 入职培训</td>
				<td class="last">
					<a class="cao_btn cao_btn1">修改</a>
					<a class="cao_btn cao_btn3">删除</a>
				</td>
			</tr>
			<tr>
				<td class="padding_s"><div class="check_box tocommon "><i class="i"></i></div></td>
				
				<td>&nbsp;&nbsp;&nbsp;&nbsp;├─ 入职培训</td>
				<td class="last">
					<a class="cao_btn cao_btn1">修改</a>
					<a class="cao_btn cao_btn3">删除</a>
				</td>
			</tr>
			<tr>
				<td class="padding_s"><div class="check_box tocommon "><i class="i"></i></div></td>
				
				<td>└─ 入职培训</td>
				<td class="last">
					<a class="cao_btn cao_btn1">修改</a>
					<a class="cao_btn cao_btn3">删除</a>
					<a class="cao_btn cao_btn2">新增子项</a>
					<a class="cao_btn cao_btn4 shouqi">展开</a>
				</td>
			</tr>
		</table> -->
	</div>
	<div class="pages">
        <div id="Pagination"></div>
        <div class="searchPage">
          <span style="display:none;" class="page-sum">共<strong class="allPage">1</strong>页</span>
          <span class="page-sum">
			<select class="com_select pagesShow">
				<option value=10 >10条/页</option>
				<option value=30 >30条/页</option>
				<option value=50 >50条/页</option>
			</select>
		</span>
          <span class="page-go">跳转<input type="text">页</span>
          <a href="javascript:;" class="page-btn gogo">GO</a>
        </div>
    </div>
	
	<!-- 弹窗 -->
	<div info="弹窗背景" class="stip_bg"></div>
	<div info="弹窗容器" class="stip_box">
		<div class="stip_content">
			<div class="sbox xiugaizhongxin">
				<h4 class="sbox_h4">分类管理</h4>
				<div class="sbox_c"><span class="slable">分类名称</span><i class="star">*</i><input id="jname" class="sbox_input" type="text"/></div>
				<div class="sbox_c shangjidiv"><span class="slable">所属上级</span><i class="star"></i>
					<select id="suoshushangji" class="sbox_select">
						<option value="目录">所属上级</option>
					</select>
				</div>
				<div  class="sbox_btn_div" style="text-align:center;">
					<a href="javascript:;" id="noBtn" onclick="closeSbox()" class="sbox_btn btn1">取消</a>
					<a id="yesBtn" style="margin-left:25px;" href="javascript:;" class="sbox_btn btn2">确认</a>
				</div>
			</div>
		</div>
	</div>	
		
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	<script type="text/javascript" src="../public/libs/jquery.pagination.js"></script>
	
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	//g.id = Utils.getQueryString("id") || "";
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */		
	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).html('资源管理');
	$('#menu_show_t .s1',parent.document).html(' > 分类管理').addClass('active');

	$('#newCenter').on('click',function(){shownewCenterSbox('new')});
	$('#upmove').on('click',function(){moveposition(1)});//上移
	$('#downmove').on('click',function(){moveposition(2)});//上移
	reloadSbox();
	setsuoshusahngji();//显示选择所属分类项
	tableListShow();//显示列表

	
/* **************************************** setTing ******************************************** */	

	//移动位置
	function moveposition(is){
		var is = is || '';
		var ids = '';
		var it = $('#tableList').find('.tocommon.active') || {};
		var itlevel = it.attr('level') || '';
		var itlv = parseInt(it.parents('tr').attr('lv'));//所有一级元素的排序号
		var itlv0 = itlv - 1 ;
		var itlv1 = itlv + 1 ;
		var itprev = itlevel == '1' ? $('.lv'+itlv0).find('.tocommon') : it.parents('tr').prev('tr').find('.tocommon');
		var itnext = itlevel == '1' ? $('.lv'+itlv1).find('.tocommon') : it.parents('tr').next('tr').find('.tocommon');
		var itid = it.attr('aid') || '';
		if(it.length <= 0){Utils.alert('请选择再移动！');return false;}
		ids += itid;
		if(is == 1){//上移
			var itprevid = itprev.attr('aid') || '';
			var itprevlevel = itprev.attr('level') || '';
			if(itprev.length <= 0 || itlevel != itprevlevel){Utils.alert('当前已经是第一个，无法移动！');return false;}
			ids = ids+','+itprevid;
		}else{//下移
			var itnextid = itnext.attr('aid') || '';
			var itnextlevel = itnext.attr('level') || '';
			if(itnext.length <= 0 || itlevel != itnextlevel){Utils.alert('当前已经是最后一个，无法移动！');return false;}
			ids = ids+','+itnextid;
		}
		var condi = {};
		condi.ids = ids;
		var url = Base.serverUrl + "category/move";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					tableListShow();//显示列表
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	
	}

	//填充所属上级
	function setsuoshusahngji(){
		var condi = {};
		condi.number = 1000;
		var url = Base.serverUrl + "category/searchAll";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var con = data;
					var html = '<option value="">所属上级</option>';
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || '';
						var id = d.id || '';
						var level = d.level || '';
						var name = d.name || '';//名称
						if(level == '2'){continue;}//所属上级排除按钮
						html+='<option  value="'+id+'">'+name+'</option>';
					}	
					$('#suoshushangji').html(html);
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	//设置每页显示多少行
	$('.pagesShow').change(function(){
		var num = $(this).val() || 10;
		g.nowPage = 0;//回到第一页
		g.showPages = num;
		g.loadPage = true;//设置页面加载 配置分页
		tableListShow();//显示列表
	});
	
	$(".gogo").on("click",function(){
    	var allPage = g.totalPage;
    	//console.log(allPage);
      var goPage = $(".page-go input").val() - 1; //跳转页数
      if(goPage > -1 && goPage <= allPage){
		g.nowPage = goPage;
		tableListShow();//显示列表
      }else {
      	Utils.alert('超出范围!');
      }
      //清空用户跳转页数
      //$(".page-go input").val("");
    });

	//初始化弹窗
	function reloadSbox(){
		$('.xiugaizhongxin input').val('');//清空弹窗
		$('.xiugaizhongxin select').val('');//清空弹窗
		$('#noBtn').html('取消');
		$('#yesBtn').off().show();
		$('.xiugaizhongxin input').removeAttr('readonly').removeClass('readonly');//清空
		$('.xiugaizhongxin select').removeAttr('disabled').removeClass('readonly');//清空
	}	
	//显示新建窗口
	window.shownewCenterSbox = function(ne,id,pid){
		var ne = ne || 'new';
		var id = id || '';
		var pid = pid || '';
		reloadSbox();//初始化弹窗
		$('.xiugaizhongxin .sbox_h4').html('添加分类');
		pid = id == '' ? pid : id;
		$('#suoshushangji').val(pid);
		showSbox('.xiugaizhongxin');//显示弹窗
		$('#yesBtn').off().on('click',function(){centerFunc(ne,id,pid)});
	}
	//新建
	window.centerFunc = function(is,id,pid){
		var is = is || '';
		var id = id || '';
		var pid2 = pid || '';
		//var mokuaibianhao = $('#mokuaibianhao').val() || '';
		var jcode = $('#jcode').val() || '';
		var jname = $('#jname').val() || '';
		var suoshushangji = $('#suoshushangji').val() || '';
		if(jname == ''){Utils.alert('分类名称不能为空！');return false;}
		$('#yesBtn').off();
		var condi = {};
		//condi.page = g.nowPage;//当前页
		//condi.number = g.showPages;//每页显示行数
		var pid = suoshushangji == '' ? '0' : suoshushangji;
		var level = suoshushangji == '' ? '1' : '2';
		condi.pid = pid;
		condi.name  = jname;
		condi.level = level;
		//if(is == 'new'){condi.pid = pid;condi.level = level;}
		//if(is == 'new2'){condi.pid = pid;condi.level = level;}
		var url = Base.serverUrl + "category/add";
		if(is == 'change'){condi.id = id;condi.pid = pid;url = Base.serverUrl + "category/updateById";}
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var tips = '新增成功！';
					if(is == 'change'){tips = '修改成功！';}
					Utils.alert(tips);
					tableListShow(2);//列表
					closeSbox();//关闭弹窗
				}
				else{
					var msg = data.message || "获取失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	//分页
	function setPages(){
		$("#Pagination").pagination(g.totalPage,{
			callback: PageCallback, 
			 prev_text: '<',             
			 next_text: '>',
			 current_page:g.nowPage
		});
		$('.allPage').html(g.totalPage);
	}
	function PageCallback(index, jq){
		  g.nowPage = index || 0;
		  tableListShow('pa');//列表
	 }
	//列表
	function tableListShow(is){
		var is = is || '';
		var condi = {};
		condi.page = g.nowPage;//当前页
		condi.number = 1000;//每页显示行数
		var url = Base.serverUrl + "category/searchAll";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					g.totalPage = data.totalPages || 0;//总页数
					var totalElements = data.totalElements || 0;//总共模块数
					$('#totalElements').html(totalElements);
					var html = '';
					html += '<table class="table1">'
						+'<tr>'
							//+'<th class="padding_s"><div class="check_box toAll"><i class="i"></i></div></th>'
							+'<th style="min-width:30px;">选择移动项</th>'
							+'<th style="min-width:60px;">分类名称</th>'
							+'<th style="min-width:156px;">操作</th>'
						+'</tr>';
					var con = data;
					var lv = 0;
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || '';
						var id = d.id || '';
						var pid = d.pid || '';
						var name = d.name || '';//名称
						var level = d.level || '';
						var lstr = '';
						switch(level){
							case 1:lstr = '└─ ';break;
							case 2:lstr = '&nbsp;&nbsp;&nbsp;&nbsp;├─ ';break;
							case 3:lstr = '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;├── ';break;
							default:break;
						}
						var string = '';
						//if(level != '1'){string = 'style="display:none;"';}
						
						if(level == 1){lv++;}
						html+='<tr '+string+' lv='+lv+' class="slide'+id+' lv'+lv+' level'+level+'">'
							+'<td class="padding_s"><div level="'+level+'" aid="'+id+'" class="check_box tocommon"><i class="i"></i></div></td>'
							+'<td>'+lstr+name+'</td>'
							+'<td class="last">'
								+ '<a href="javascript:;" onclick="change(\''+id+'\',\''+pid+'\')" class="cao_btn cao_btn1">修改</a>'
								+'<a href="javascript:;" onclick="deleteIt(\''+id+'\')" class="cao_btn cao_btn3">删除</a>';
							if(level == '1'){
								html+='<a href="javascript:;" onclick="shownewCenterSbox(\'new2\',\''+id+'\',\''+pid+'\')" class="cao_btn cao_btn2">新增子分类</a>'
								+'<a href="javascript:;" onclick="slideUp(\'slide'+id+'\')" class="cao_btn cao_btn4 shouqi">收起</a>';
							}
							html+='</td>'
						+'</tr>';
					}	
					 html+='</table>';
					$('#tableList').html(html);
					setsuoshusahngji();//显示选择所属分类项
					//加载分页
					if(g.loadPage){
						setPages();//分页
						if($('#Pagination').html() == ''){//判断是否显示分页跳转等
							$('.pagesShow,.page-go,.gogo').hide();
						}else{
							$('.pagesShow,.page-go,.gogo').show();
						}
						g.loadPage = false;
					}
					//列表复选框 点击
					$('#tableList').on('click','.tocommon',function(){
						$('#tableList').find('.tocommon').removeClass('active');
						$(this).addClass('active');
						return false;
					});
					
				}
				else{
					var msg = data.message || "获取信息失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	//收起 展开
	window.slideUp = function(cla){
		var cla = cla || '';
		if(cla == ''){return false;}
		$('.'+cla).toggleClass('show').nextUntil('.level1').fadeToggle(300);
		if($('.'+cla).hasClass('show')){
			$('.'+cla).find('.shouqi').html('展开');
		}else{
			$('.'+cla).find('.shouqi').html('收起');
		}
	}
	//删除一项
	window.deleteIt = function(id){
		var id = id || '';
		if(id == ''){Utils.alert('分类id不能为空！');return false;}
		if(!confirm('确认删除吗？')){return false;}
		var condi = {};
		condi.id = id;
		var url = Base.serverUrl + "category/deleteById";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('删除成功！');
					tableListShow(2);//列表
				}
				else{
					var msg = data.message || "删除失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	//修改
	window.change = function(id,pid){
		showOrChange(id,'change',pid);
	}

	//查看或者修改的 公共方法
	window.showOrChange = function(id,is,pid){
		var id = id || '';
		var pid = pid || '';
		var is = is || '';
		if(id == ''){Utils.alert('id不能为空！');return false;}
		var condi = {};
		condi.id = id;
		var url = Base.serverUrl + "category/editById";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || {};
					
					reloadSbox();//初始化弹窗
					//赋值
					$('#jname').val(d.name || '');
					//弹窗
					var tips = '';//判断弹窗标题
					
					if(is == 'review'){//弹窗是查看
						tips = '分类详情';
						$('#yesBtn').off().hide();
						$('#noBtn').html('关闭');
						$('.xiugaizhongxin input').attr('readonly',true).addClass('readonly');//清空
						$('.xiugaizhongxin select').attr('disabled',true).addClass('readonly');//清空
					}else{//弹窗是修改
						tips = '修改分类';
						$('#yesBtn').off().on('click',function(){centerFunc('change',id)});
					}
					$('.xiugaizhongxin .sbox_h4').html(tips);
					if(d.level == '1'){pid = '';}
					$('#suoshushangji').val(pid);
					showSbox('.xiugaizhongxin');//显示弹窗
				}
				else{
					var msg = data.message || "删除失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	
});

</script>
</html>