<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/libs/kindeditor/themes/default/default.css" />
	<link rel="stylesheet" href="../public/libs/kindeditor/plugins/code/prettify.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.check_box .i, .check_box2 .i{margin-right:5px;}
		.updownbody .search_table tr:nth-child(2), .updownbody .search_table tr:nth-child(3), .updownbody .search_table tr:nth-child(4){display:table-row;}
		.daochuCommonBtn{background:none;}
		.updownbody .searBtnTd{bottom:1px;}
		.xiugaizhongxin4.sbox .slable{width:15%;}
		.uploadexcelinput{cursor:pointer;top:0;position:absolute;left:97px;z-index:2;width:87px;height:32px;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity: 0; }
		.uploadexcelinput.type2{position:relative;left:0;width:72px;height:28px;filter:alpha(opacity=0);-moz-opacity:0;-khtml-opacity: 0;opacity: 0; }
		.infotextsay{line-height:25px;float:right;width:81%;display:inline-block;vertical-align:top;}
		.zhuantiguanli .zti_title{border:none;}
	</style>
</head>
<body class="xiangmuguanli xiangmujibenxinxi zhuantiguanli updownbody">
	<h4 class="it_title">
		<i class="usico"></i>
		<span class="usame">用户名</span>
		<span class="usphone">13212334235</span>
	</h4>
	<h4 class="zti_title">
		<a href="javascript:;" back="用户学习记录-我的专题.html" class="goback ztit_abtn">我的专题</a>
		<a href="javascript:;" back="用户学习记录-我的课程.html" class="goback ztit_abtn active">我的课程</a>
		<a href="javascript:;" back="用户学习记录-我的活动.html" class="goback ztit_abtn">我的活动</a>
	</h4>
	<div class="btn_div">
		<table class="search_table">
			<tr>
				<td>
					<span class="sear_lable">课程名称</span>
					<input id="kechengmingcheng" class="com_input com_input1" type="text" />
				</td>
				<td>
					<span class="sear_lable">一级分类</span>
					<select id="yijifenlei" class="com_select com_select2">
						<option value="">请选择</option>
					</select>
				</td>
				<td>
					<span class="sear_lable">二级分类</span>
					<select id="erjifenlei" class="com_select com_select2">
						<option value="">请选择</option>
					</select>
				</td>	
				<td>
					<span class="sear_lable">状态</span>
					<select id="zhaungtai" class="com_select com_select2">
						<option value="">请选择</option>
						<option value="学习中">学习中</option>
						<option value="已完成">已完成</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
				<td style="height:31px;">
					
				</td>
			</tr>
		</table>
		<span class="searBtnTd">
			<a id="searchBtn" class="top_btn xiangMu_xiangMuSouSuo">搜索</a>
			<a id="searchAll" class="top_btn type2">清空条件</a>
			<a class="upserBtn up" href="javascript:;" >收起</a>
		</span>
		<div class="sear_line"></div>
	</div>
	<div id="tableList1" class="table_div">
		<table class="table1">
			<tr>
				<th style="min-width:60px;">课程名称</th>
				<th style="min-width:60px;">一级分类</th>
				<th style="min-width:60px;">二级分类</th>
				<th style="min-width:90px;">开始学习时间</th>
				<th style="min-width:75px;">已学习时长</th>
				<th style="min-width:90px;">课程学习进度</th>
				<th style="min-width:30px;">状态</th>
			</tr>
			<tr>
				<td>课程1</td>
				<td>入职培训</td>
				<td>入职培训1</td>
				<td>2016/7/23 14:23:12</td>
				<td>14:23:12</td>
				<td style="line-height:20px;"><span class="pro_t">5/10</span><br><li class="pro_b"><i class="pro_w"></i></li></td>
				<td>学习中</td>
			</tr>
			<tr>
				<td>课程2</td>
				<td>入职培训</td>
				<td>入职培训1</td>
				<td>2016/7/23 14:23:12</td>
				<td>14:23:12</td>
				<td style="line-height:20px;"><span class="pro_t">5/10</span><br><li class="pro_b"><i class="pro_w"></i></li></td>
				<td>已完成</td>
			</tr>
		</table>
	</div>
	
	<div class="pages">
        <div id="Pagination"></div>
        <div style="display:none;"  class="searchPage">
          <span style="display:none;" class="page-sum">共<strong class="allPage">1</strong>页</span>
          <span class="page-sum">
			<select class="com_select pagesShow">
				<option value=10 >10条/页</option>
				<option value=30 >30条/页</option>
				<option value=50 >50条/页</option>
			</select>
		</span>
          <span class="page-go">跳转<input type="text">页</span>
          <a href="javascript:;" class="page-btn gogo">GO</a>
        </div>
    </div>

	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("id") || "";//获取项目id
	g.do = Utils.getQueryString("do") || "";//获取操作 是查看（check）还是修改（change）新建 （new）
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('用户学习记录').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '用户学习记录.html';
	});
	$('#menu_show_t .s1',parent.document).html(' > 我的课程').addClass('active');
	
	$('#change_ok_btn').on('click',function(){changeOrCreateProject(1)});
	$('#addfromtable').on('click',function(){showSbox('.xiugaizhongxin4');});
	
	subSomething();//加载进度条
/* **************************************** setTing ******************************************** */	
	
	//getProject();//获取项目信息
	
	//加载进度条
	function subSomething(){
		if(document.readyState == 'complete'){//页面加载完成
			$('.xiangmuguanli .pro_w').each(function(){
				var _this = $(this) || {};
				var _w1 = _this.parents('td').find('.pro_t').html() || '';
				var _w = _w1 == '' ? '0%' : parseInt(100*_w1.split('/')[0]/_w1.split('/')[1])+'%';
				_this.animate({'width':_w},'slow');
			});
		}
	}
	
	//修改保存项目信息
	function changeOrCreateProject(is){
		var is = is || '';//is 1 修改或保存 2 新建
		var sponsor_name = $('#sponsor_name').val() || '';
		var edithtml = g.editor.html() || '';
		console.log(g.editor.html());
		if(sponsor_name == ''){Utils.alert('不能为空！');return false;}
		var condi = {};
		condi.sponsor_name = sponsor_name;
		if(is != '2'){//保存
		condi.id = g.id;
		condi.audit_aim = audit_aim;
		condi.audit_scope = audit_scope;
		condi.audit_reference = audit_reference;
		condi.audit_module = audit_module;
		}
		var url = Base.serverUrl + "project/update";
		if(is == '2'){url = Base.serverUrl + "project/create"}
		$('#create_new_btn').off();
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var tip = is != '2' ? '保存成功！' : '新建成功！' ;
					Utils.alert(tip);
					if(is == '2'){//新建项目
						setTimeout(function(){
							parent.document.getElementById("iframeObj").src = '专题管理.html';
						},1000);
					}
				}
				else{
					var msg = data.message || "保存失败";
					Utils.alert(msg);
					$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}	
	
	//获取项目信息
	function getProject(){
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "project/edit";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var id = d.id || '';
					$('#sponsor_name').val(d.sponsor_name || '');
					
				}
				else{
					var msg = data.message || "获取项目信息失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	//加载时间控件
	var start = {
	  elem: '#start_time0',
	  format: 'YYYY-MM-DD hh:mm:ss',
	  //min: laydate.now(), //设定最小日期为当前日期
	  max: '2099-06-16', //最大日期
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		 //end.min = datas; //开始日选好后，重置结束日的最小日期
		 //end.start = datas //将结束日的初始值设定为开始日
	  }
	};
	var end = {
	  elem: '#end_time0',
	  format: 'YYYY-MM-DD hh:mm:ss',
	  //min: laydate.now(),
	  max: '2099-06-16',
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		start.max = datas; //结束日选好后，重置开始日的最大日期
	  }
	};
		//加载时间控件
	var start1 = {
	  elem: '#start_time1',
	  format: 'YYYY-MM-DD hh:mm:ss',
	  //min: laydate.now(), //设定最小日期为当前日期
	  max: '2099-06-16', //最大日期
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		 //end.min = datas; //开始日选好后，重置结束日的最小日期
		 //end.start = datas //将结束日的初始值设定为开始日
	  }
	};
	var end1 = {
	  elem: '#end_time1',
	  format: 'YYYY-MM-DD hh:mm:ss',
	  //min: laydate.now(),
	  max: '2099-06-16',
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		start.max = datas; //结束日选好后，重置开始日的最大日期
	  }
	};
	laydate(start);
	laydate(end);
	laydate(start1);
	laydate(end1);
	
	
	
});

</script>
</html>