<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/libs/kindeditor/themes/default/default.css" />
	<link rel="stylesheet" href="../public/libs/kindeditor/plugins/code/prettify.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.check_box .i, .check_box2 .i{margin-right:5px;}
		.xiangmujibenxinxi .common_select{width:311px;}
		.common_radio{margin-right:30px;}
	</style>
</head>
<body class="xiangmuguanli xiangmujibenxinxi zhuantiguanli kechengguanli">
	<!-- 讲师姓名 -->
	<ul style="width:356px;" class="choiseDanwei choiseDanwei12">
		
	</ul>
	<div class="content_box1">
		<div class="con_d">
			<span class="lable need">讲师姓名</span><i class="x">*</i>
			<input id="jiangshixingming" readonly class="common_input" type="text" />（讲师需要先有系统账号）
		</div>
		<div class="con_d"><span class="lable need">讲师电话</span><i class="x">*</i>
			<span id="sjphone"></span>
		</div>
		<div class="con_d">
			<span class="lable need">讲师头像</span>
			<i class="x"></i>
			<span id="container" class="user_h">
				<img src="../public/img/js.png" id="uploadAbnt" class="userh_img"/>
				<!-- <form enctype="multipart/form-data" method="post" id="fileForm" name="fileForm">
					<input id="orderMaterialFile" name="file" class="headUpload" type="file" />
				</form>	 -->
			</span>
		</div>
		<div class="con_d">
			<span class="lable need">讲师职称</span><i class="x">*</i>
			<input id="jiangshizhicheng" style="width:620px;" class="common_input" type="text" />
		</div>
		<div class="con_d">
			<span class="lable need">讲师简介</span>
			<i class="x">*</i>
			<div class="keditdiv">
				<textarea id="editor_id" style="width:776px;height:272px;visibility:hidden;"></textarea>
			</div>
		</div>
		
		<div class="btns_div">
			<a back='专题管理.html' class="common_abtn goback type1">取消</a>
			<a href="javascript:;" id="change_ok_btn" class="common_abtn type2">确定</a>
		</div>
	</div>

	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script charset="utf-8" src="../public/libs/kindeditor/kindeditor-all.js"></script>
	<script charset="utf-8" src="../public/libs/kindeditor/lang/zh-CN.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/ajaxfileupload.js"></script>
	<script type="text/javascript" src="../public/js/jquery.form.js"></script>
	<script type="text/javascript" src="../public/libs/qiniu.min.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.do = Utils.getQueryString("jiangshiguanlido") || Utils.offLineStore.get("jiangshiguanlido",false);//从讲师管理传来获取操作 还是修改（change）新建 （new）
	g.id = Utils.getQueryString("jiangshiguanliid") || Utils.offLineStore.get("jiangshiguanliid",false);//从讲师管理传来获取讲师id
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	g.src = '';//存头像地址
	g.editor = '';
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('讲师管理').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '讲师管理.html';
	});
	var dostr = g.do == 'change' ? ' > 编辑讲师' : ' > 新建讲师' ;
	$('#menu_show_t .s1',parent.document).html(dostr).addClass('active');
	$('#change_ok_btn').on('click',function(){changeOrCreateProject()});
	
	
	loadPage();
	uploadToQiniu('uploadAbnt',2);//定义七牛云上传
	
/* **************************************** setTing ******************************************** */	
	
	
	function loadPage(){
		getTeachers();//填充讲师选择框
		setGetSearchInput2('#jiangshixingming','.choiseDanwei12');//定义可以搜索下拉的
		if(g.do == 'change'){
			getEdit();//获取项目信息
		}
		//编辑插件---------------------------------------------------
		KindEditor.ready(function(K) {
			g.kind = K.create('#editor_id',{
				//height: '600px',
				themeType: 'default',
				allowPreviewEmoticons: false,
				allowImageUpload: true,
				allowFileManager: false,
				//uploadJson: "http://upload.qiniu.com/",
				//uploadJson: Base.serverUrl + "file/utils/uploadFile",
				//uploadJson: "http://192.168.1.20/training-system/public/libs/kindeditor/php/upload_json.php",
				filePostName:'file',
				afterUpload: function (d) {
					this.sync()
				}
			});
			
		});
		//编辑插件---------------------------------------------------
	
	}
	
	//获取讲师姓名列表
	function getTeachers(){
		var condi = {};
		var url = Base.serverUrl + "user/getAllUsers";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var html = '';
					for(var i=0,len=data.length;i<len;i++){
						var d = data[i] || {};
						var id = d.id || '';
						var name = d.name || '';
						var phone = d.phone || '';
						var department = d.department || '';
						var headImg = d.headImg || '';
						html += '<li onclick="setitinfo(\''+phone+'\',\''+headImg+'\')" tip="'+id+'">'+name+'</li>';
					}
					$('.choiseDanwei12').append(html);
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	//带出讲师电话和头像
	window.setitinfo = function(phone,himg){
		var phone = phone || '';
		var himg = himg || '../public/img/js.png';
		$('#sjphone').html(phone);
		$('.userh_img').attr('src',himg);
	}
	
	//修改保存项目信息
	function changeOrCreateProject(){
		g.kind.sync();//同步编辑器内容
		var jiangshixingming = $('#jiangshixingming').val() || '';
		var sjphone = $('#sjphone').html() || '';
		var jiangshizhicheng = $('#jiangshizhicheng').val() || '';
		var himg = $('.userh_img').attr('src') || '';
		var edithtml = $('#editor_id').val() || '';
		if(jiangshixingming == ''){Utils.alert('讲师姓名不能为空！');return false;}
		if(sjphone == ''){Utils.alert('讲师电话不能为空！');return false;}
		if(jiangshizhicheng == ''){Utils.alert('讲师职称不能为空！');return false;}
		if(edithtml == ''){Utils.alert('简介不能为空！');return false;}
		var condi = {};
		condi.name = jiangshixingming;
		condi.phone = sjphone;
		condi.headImg = himg;
		condi.title = jiangshizhicheng;
		condi.abs = edithtml;
		if(g.do != 'new'){//保存
			condi.id = g.id;
		}
		var url = Base.serverUrl + "teacher/update";
		if(g.do == 'new'){url = Base.serverUrl + "teacher/add"}
		$('#change_ok_btn').off();
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var tip = g.do != 'new' ? '保存成功！' : '新建成功！' ;
					Utils.alert(tip);
					if(g.do == 'new'){//新建项目
						setTimeout(function(){
							parent.document.getElementById("iframeObj").src = '讲师管理.html';
						},1000);
					}else{
						getEdit();//获取编辑信息
					}
				}
				else{
					var msg = data.message || "保存失败";
					Utils.alert(msg);
				}
				$('#change_ok_btn').on('click',function(){changeOrCreateProject()});
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('#change_ok_btn').on('click',function(){changeOrCreateProject()});
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}	
	
	//获取项目信息
	function getEdit(){
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "teacher/edit";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			async:false,
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var id = d.id || '';
					$('#jiangshixingming').val(d.name || '');
					$('#sjphone').html(d.phone || '');
					$('.userh_img').attr('src',d.headImage || '');
					$('#jiangshizhicheng').val(d.title || '');
					$('#editor_id').val(d.teacherAbstract || '');
	
				}
				else{
					var msg = data.message || "获取项目信息失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				console.log(data);
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	
});

</script>
</html>