<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/common.css" />
	<title>经纬传奇稽查报价系统</title>
	
</head>
<body class="">
	<div info="公共头部" class="header">
		<div class="logo_div">
			<!-- <img class="logo_img" src="../public/img/logo.png"> -->
			<a id="slideLmenu" class="slideLmenu"><img class="go_img" src="../public/img/s_io.png"></a>
		</div>
		<div id="menu_show_t" class="header_title">
			<span class="ss s0 active">预算管理</span><span class="ss s1"></span><span class="ss s2"></span>
			<div class="login_div">
				<a class="usr_head"></a>
				<a style="cursor:unset;margin-right:10px;" class="userName"></a>
				<a id="login_out" class="usr_name">退出</a>
				<!-- <a class="login_abtn">登录</a> -->
				<!-- <a class="out_abtn">退出</a> -->
			</div>
		</div>
	</div>
	<div info="左侧菜单" id="common_menu" class="left_menu">
		<div id="1" url="list.html" class="mm c1"><span class="text_c">预算管理</span></div>
		<div id="3" url="list3.html" class="mm c1"><span class="text_c">保密编号管理</span></div>
		<div id="2" url="list2.html" class="mm c1"><span class="text_c">审核</span></div>
		
	</div>
	<div class="frame_div">
		<div style="position:relative;height:100%;">
		<iframe class="iframe" id="iframeObj"  src="list.html" height="98%" width="100%" frameborder="0"></iframe>
		</div>
	</div>
	
	
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common1.js"></script>
</body>
</html>