<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/common.css" />
	<title>动态中心</title>
	<style>
		.serch_it{padding-top:5px;position:relative;height:40px;background-color:#fff;}
		.serch_it .sit_input{position:absolute;left:0;right:0;margin:0 auto;width:92%;height:30px;line-height:30px;padding-left:30px;border: 1px solid #EEEEEE;border-radius: 5px;background:url('../public/img/sit.png') no-repeat 10px center;background-size:auto 50%;background-color: #FAFAFA;}
		.serch_it .sit_abnt{display:inline-block;padding:7px;position:absolute;right:3%;font-size: 14px;color: #2D8CF0;}
		.project_tt{width:auto;padding-top:7px;}
		.pro_h4 .title_text{font-size: 16px;color: #000000;padding-left:5%;padding-right:4px;}
		.pro_h4 .title_text.r{font-size: 12px;color: #787778;left:auto;right:0;padding-left:4px;padding-right:5%;}
		.sta_one{margin:0 4% 11px;padding:2px 12px 10px;}
	</style>
</head>
<body class="projectLs">
	<!-- <div class="serch_it"><input class="sit_input" type="text" /><a class="sit_abnt">搜索</a></div> -->
	<div class="serch_it">
		<select class="sit_input" id="headInput">
		</select>
	</div>
	<!-- 项目列表 -->
	<div class="project_tt">
		<!-- <h4 class="pro_h4"><span class="title_text">项目动态</span></h4> -->
		<div  id="tablecontent">
		</div>
	</div>
	
	
	
	
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
	<script type="text/javascript" src="../public/js/common1.js"></script>

</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.sid = Utils.offLineStore.get("sid",false);//从项目列表页面传来 传申办方id
	//g.id = Utils.getQueryString("id") || "";
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.totalElements = 0;//总数
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */		

	loadPage();//加载页面

	
/* **************************************** setTing ******************************************** */	
	//加载页面
	function loadPage(){
		setTimeout(function(){tableListShow();},600);
		//tableListShow();//获取项目列表
		getSponsors();//获取机构申办方列表
	}
	
	//获取机构申办方列表
	function getSponsors(){
		var condi = {};
		//condi.page = g.nowPage;//当前页
		condi.number = 1000;//每页显示行数
		var url = Base.serverUrl + "open/platform/sponsors";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					//判断data为空 表示没有权限
					var thtml = '<div class="notipsdiv"><h4 class="ttl">登录成功</h4><p>您还没有任务权限<br/>管理员会尽快为您分配权限</p></div>';
					if(data.length <= 0){
						$('.project_tt').html(thtml);
						return false;
					}
					var html = '';
					for(var i=0,len=data.length;i<len;i++){
						var d = data[i] || {};
						var id = d.id || '';
						var name = d.name || '';
						html += '<option value="'+id+'">'+name+'</option>';
					}
					$('#headInput').html(html);
					if(g.sid != ''){$('#headInput').val(g.sid);}
				}
				else{
					var msg = data.message || "失败";
					//Utils.alert(msg);
					$('#tablecontent').html('');
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('#tablecontent').html('');
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	//切换申办方时自动搜索
	$('.projectLs').on('change','#headInput',function(e){
		setTimeout(function(){
			tableListShow();
			var spaid = $('#headInput').val() || '';//获取申办方id
			Utils.offLineStore.set("sid",spaid,false);//存储申办方id
		},600);
	});
	
	//获取项目列表
	function tableListShow(){
		var spaid = $('#headInput').val() || '';//获取申办方id
		var condi = {};
		condi.page = g.nowPage;//当前页
		condi.number = g.showPages;//每页显示行数
		condi.sponsor_id = spaid;
		var url = Base.serverUrl + "open/platform/dynamic/search";
		g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				g.totalPage = data.totalPages || 0;//总页数
				if(status){
					var data = data.result || {};
					var data = data.content || [];
					var html = '<div class="sta_content">';
					g.totalElements = data.length || 0;//总数
					for(var i=0,len=data.length;i<g.showPages;i++){
						var d = data[i] || '';
						if(d == '')continue;
						var id = d.id || '';
						var content = d.content || '';
						var medicine = d.medicine || '';
						var user_name = d.user_name || '';
						var icons = d.icons || '../public/img/head_small.png';
						var title = d.title || '';
						var discovery_id = d.discovery_id || '';
						var project_id = d.project_id || '';
						var project_name = d.project_name || '';
						var task_id = d.task_id || '';
						var code = d.code || '';
						var create_time = getDate(d.create_time || '');
						var date1 = getDate((d.create_time || ''),'2');
						var time2 = getDate((d.create_time || ''),'3');
						create_time = create_time.replace('-','/');
						create_time = create_time.replace('-','/');
						var lessdate = getLessDate(create_time) || '';
						lessdate = lessdate != '' && lessdate.indexOf('刚刚') < 0 ? lessdate + '之前' : lessdate ;
						html += '<div onclick="gohref(\''+discovery_id+'\',\''+project_id+'\',\''+project_id+'\',\''+task_id+'\')" class="sta_one">'
							+'<h4 class="sta_title_h4">'
								+'<span class="day_span">'+lessdate+'</span> · '
								+'<span class="date_span">'+date1+'</span>'
								+'<span class="right_name">'+code+'</span>'
							+'</h4>'
							+'<div class="time_div"><span>'+time2+'</span></div>'
							+'<div class="left_part">'
								+'<span class="usr_ico"><img class="usr_img" src="'+icons+'"/></span>'
								+'<div class="inline_right">'
									+'<span class="usr_name">'+user_name+'</span><br/>'
									+'<span class="usr_title">'+title+'</span>'
								+'</div>'
							+'</div>'
							+'<div class="right_context">'+content+'</div>'
						+'</div>';
					}
					html += '</div>';
					if(g.showPages < g.totalElements)html += '<div class="more_div"><a onclick="showMore()" class="more_one_btn">更多动态<i class="dd"></i></a></div>';
					$('#tablecontent').html(html);
				}
				else{
					var msg = data.message || "失败";
					//Utils.alert(msg);
					$('#tablecontent').html('');
				}
				g.httpTip.hide();
			},
			error:function(data,status){
				g.httpTip.hide();
				$('#tablecontent').html('');
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	//根据disid 判断跳转页面
	window.gohref = function(disid,xid,xname,rid){
		var disid = disid || '';
		var xname = xname || '';
		var xid = xid || '';
		var xname = encodeURI(encodeURI(xname));//加密
		if(disid == ''){//判断应该跳转到任务页面
			location.href="renwu-mobile.html?xid="+xid+"&xname="+name;
		}else{//判断应该跳转到在线评审页面
			location.href="taskMobie.html?xid="+xid+"&rid="+rid+"&xname="+xname;
		}
		
		
	} 
	
	//点击查看更多
	window.showMore = function(){
		if(g.showPages >= g.totalElements){return false;}
		if(g.totalElements - g.showPages < 10 ){g.showPages = g.totalElements;}
		else{g.showPages += 10;}
		tableListShow();
	} 
	

});
</script>
</html>