<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/common.css" />
	<title>登录</title>
	<style>
		body{height:auto;position:relative;background:url('../public/img/mo_bg.jpg') no-repeat center center;background-size:cover;}
		.login_div1{height:100%;position:relative;min-height:400px;background:url('../public/img/mo_bg.jpg') no-repeat center center;background-size:cover;}
		.login_div1 .ld1_img1{}
		.login_box{margin-top:20px;background:none;}
		.login_box .lb_title{text-align:center;margin-bottom:30px;padding:30px 0 25px;border-bottom: 1px solid #C6C6C6;font-size:18px;color: #000000;}
		.login_box .lb_input{background:none;outline:none;transition:all .25s ease-in-out;padding-left:2%;width:73%;display:block;margin:0 auto;border:none;border-bottom:1px solid #C6C6C6;font-size: 14px;color: #000000;height:42px;line-height:42px;}
		.login_box .login_btn{width:75%;text-decoration:none;transition:all .25s ease-in-out;text-align:center;border-radius:4px;background-color:#2D8CF0;display:block;margin:56px auto 0px;font-size: 18px;color: #ffffff;height:45px;line-height:45px;}
		.login_box .login_btn:hover{background-color:#1372d6;}
		.login_box .login_btn2{border:1px solid #19BE6B;text-decoration:none;transition:all .25s ease-in-out;text-align:center;border-radius:4px;width:100%;display:block;margin:30px auto 0px;font-size: 18px;color: #19BE6B;height:45px;line-height:45px;}
		.login_box .login_btn2:hover{border:1px solid #19BE6B;background-color:#19BE6B;color:#ffffff;}
		.login_box .login_btn2 .ii{vertical-align:middle;transition:all .25s ease-in-out;background:url('../public/img/wexin.png') no-repeat center center;background-size:contain;display:inline-block;height:20px;width:20px;}
		.login_box .login_btn2:hover .ii{background:url('../public/img/wexin2.png') no-repeat center center;background-size:contain;}
		.footerText{opacity: 0.6;position:absolute;left:0;right:0;bottom:6%;text-align:center;font-size:12px;color:#333333;line-height:14px;}
		.font{margin-top:10px;font-family:Microsoft YaHei;font-size: 12px;color: #989898;letter-spacing: 0;line-height: 12px;}
		.findPass{float:right;color:#2D8CF0;display:inline-block;margin-top:4px;margin-right:13%;}
		.audit_div{text-align:center;margin-bottom:30px;margin-top:50px;}
		.audit_div .ldd1{max-width:140px;width:40%;}
		.btom{margin-top:15px;text-align:center;font-family: Microsoft YaHei;font-size: 14px;color: #989898;letter-spacing: 0;line-height: 12px;}
		.line{height:1px;margin:30px auto;background-color:#D8D8D8;}
		.reg_url{color:#2D8CF0;}
		.login_box .lb_co{position:relative;}
		.login_box .shAbtn{position:absolute;top:20px;right:16%;display:inline-block;width:15px;height:11px;background:url('../public/img/ice1.png') no-repeat center center;background-size:contain;}
		.login_box .shAbtn.active{background:url('../public/img/ice0.png') no-repeat center center;background-size:contain;}
	</style>
</head>
<body class="">
	<div class="login_box">
		<div style="position:relative;">
			<div class="audit_div"><img class="ldd1" src="../public/img/mo_img1.png"/></div>
			<div class="lb_co"><input id="login_usr" class="userName lb_input" placeholder="手机号" type="text" /></div>
			<div class="lb_co"><input id="login_pass" class="passWord lb_input" placeholder="密码" type="password" /><a href="javascript:;" id="showorhideit" class="shAbtn"></a></div>
			<div class="lb_co font">
				<!-- <div class="check_box"><i class="i"></i>&nbsp;下次自动登录</div> -->
				<a href="findpass-mobile.html" class="findPass">忘记密码了？</a>
			</div>
			<div class="lb_btn "><a href="javascript:;" id="loginBtn" class="login_btn">登&nbsp;&nbsp;&nbsp;&nbsp;录</a></div>
			<div class="btom">还没有账号？ <a href="reg-mobile.html" class="reg_url">立即注册 ></a></div>
		</div>
	</div>
	
<!-- 弹出层 -->
<div class="stip_bg"></div>
<div class="weixinloginerweima" style="display:none;top:50%;margin-top:-195px;left:50%;margin-left:-192px;position:fixed;z-index:999;" id="login_container"></div>
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
	<script type="text/javascript" src="../public/js/common1.js"></script>
</body>
<script>
$(function(){
	var g = {};
	//g.login_token = Utils.offLineStore.get("token",false) || "";
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.totalElements = 0;//总数
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */		
	
	loadPage();//加载页面
	$('#loginBtn').on('click',loginFunc);
	$('#showorhideit').on('click',showorhideitFunc);//显示隐藏密码
	
	
/* **************************************** setTing ******************************************** */	
	//加载页面
	function loadPage(){
		
	}

	//显示隐藏密码
	function showorhideitFunc(){
		var _type = $('#login_pass').attr('type') || '';
		if(_type == 'text'){
			$(this).removeClass('active');
			$('#login_pass').attr('type','password');
		}else{
			$(this).addClass('active');
			$('#login_pass').attr('type','text');
		}
	
	}
	
	//登录
	function loginFunc(){
		var usr = $('#login_usr').val() || '';
		var pas = $('#login_pass').val() || '';
		usr = trim2(usr);
		pas = trim2(pas);
		if(usr == ''){Utils.alert('用户名不能为空！');return false;}
		if(pas == ''){Utils.alert('密码不能为空！');return false;}
		var condi = {};
		condi.username = usr;
		condi.password = pas;
		var url = Base.serverUrl + "login";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || '';
					var username = data.username || '';
					var userid = data.userid || '';
					if(userid != ''){Utils.offLineStore.set("token",userid,false);}//存储用户登录
					if(userid != ''){Utils.offLineStore.set("usrid",userid,false);}//存储用户登录
					Utils.alert('登录成功！');
					setTimeout(function(){
						location.href="project-mobile.html";
					},1000);
				}
				else{
					var msg = data.message || "登录失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	
});
</script>	
</html>