<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=yes, width=1320, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/common.css" />
	<title>第三届临床研究质量学术研讨会-报名</title>
	<style>
		body{background-color:#f7f7f7;}
	</style>
</head>
<body class="common_body apply">
	<div class="header">
		<span class="logo_content"><img src="../public/img/logo.png" class="logo_ico" /></span>
		<ul class="menu_content">
			<li class="mm gotoHome">首页</li>
			<li class="mm gotoHome">大会介绍</li>
			<li class="mm gotoHome">大会主讲</li>
			<li class="mm gotoHome">大会议程</li>
			<li class="mm gotoHome">精彩回顾</li>
			<li class="mm gotoHome">联系我们</li>
			<li class="mm apply_common_btn active">大会报名</li>
			<li class="mm myorderabtn">我的订单</li>
		</ul>
		<div class="h_right_part">
			<span style="display:none;" class="hrp_span usr_hh_phone type2"></span>
			<a href="javascript:;" id="login_abtn" class="hrp_span">登录</a>
			<a href="javascript:;" style="display:none;" id="login_out" class="hrp_span">退出</a>
		</div>
	</div>
	<div class="app_content">
		<div class="left_app_div">
			<h4 class="appl_title">参会人报名信息</h4>
			<div class="part_div1">
				<div class="pdd">
					<span class="common_lable">会议名称</span>
					<span class="context">2017第三届临床研究质量大会 （2017年11月18日-2017年11月19日）</span>
				</div>
				<div class="pdd">
					<span class="common_lable">费用说明</span>
					<span class="context context2"><span class="col1">2200 元/人</span>，含报名费、资料费、18 日晚餐、19 日午餐费，住宿、交通费用自理</span>
				</div>
				<div class="pdd">
					<span class="common_lable">报名人数</span>
					<span style="overflow:hidden;display:inline-block;vertical-align:middle;">
						<a href="javascript:;" class="less_btn">-</a>
						<input id="peper" readonly type="text" class="num_input" />
						<a href="javascript:;" class="add_btn">+</a> 人
					</span>
				</div>
				<div class="pdd">
					<span class="common_lable">公司名称</span>
					<input id="company_name" class="common_input type2" type="text" />
					<span class="common_lable type2">发票类型</span>
					<div id="choiseHide" class="posi">
						<div><div name="zeng1" val="增值税普通发票" class="common_radio active zengzhishui"><i class="i"></i>增值税普通发票</div>
						<div name="zeng1" val="不需要发票" class="common_radio"><i class="i"></i>不需要发票</div></div>
						<span class="r_tip">（ 如需开具增值税专用发票，请联系会务组 ）</span>
					</div>
				</div>
				<div class="pdd hidefapiao">
					<span class="common_lable color2">税号</span>
					<input id="shuihao" class="common_input type2" type="text" />
					<span class="common_lable type2 color2">发票抬头</span>
					<input id="fapiaotaitou" class="common_input type2" type="text" />
				</div>
				<div class="pdd hidefapiao">
					<span class="common_lable color2">发票邮寄</span>
					<input id="fapiaoyouji" class="common_input" type="text" />
				</div>
			</div>
			<div class="bt_line"></div>
			<div class="app_list">
				<!-- 列表 -->
				<div id="addone_list"></div>
			</div>
			<div class="part3_div">
				<div class="bt_line type3"></div>
				<div class="tt_show">总计： ¥ <span id="tttmoney">2200</span></div>
				<!-- <div id="tttmoney_str" class="computer_show">2200x1 + 0x0  = 2200</div> -->
				<div id="pay_type_one" class="pay_show">
					<span class="common_lable color2">支付方式</span>
					<div name="radiopay" val="支付宝" class="common_radio common_radio1 active"><i class="i"></i><img src="../public/img/zhifu.png" class="pay_c_ico" />支付宝</div>
					<div name="radiopay" val="微信" class="common_radio"><i class="i"></i><img src="../public/img/weixin.png" class="pay_c_ico" />微信</div>
					<a href="javascript:;" id="pay_apply_btn" class="pay_abtn" >立即支付</a>
				</div>
			</div>
		</div>
		<div class="right_app_div">
			<div class="part1_p">
				<h4 class="p1p_title">报名流程</h4>
				<p class="p1p_text p1p_text1">
					1、信息填写<br/>
					2、提交订单并支付成功<br/>
					3、客服会尽快（工作日）与您确认参会者信息<br/>
					4、届时为您提供参会凭证和相关发票报销
				</p>
				<p class="p1p_text">
					如有其他问题，请拨打客服电话<br/>
					4008-157-222
				</p>
			</div>
			<div class="part2_p">
				<h4 class="p1p_title">参会须知</h4>
				<p class="p2p_text">
					1. 报名截止日期:2017 年 11 月 13 日<br/><br/>
					2. 组委会指定汇款账号:11001042300053017272<br/>
					开户名称：北京经纬传奇医药科技有限公司<br/>
					开户银行：中国建设银行北京永安支行<br/><br/>
					3. 报名注意事项:<br/>
					1) 网站支付，可直接填写信息后使用微信或者支付宝支付，支付成功后可以在我的订单里查看到订单信息，随后客服会尽快与您联系。<br/>
					2）支付成功后将为您准备增值税普通发票，会议签到时领取发票，如有特别需求需要开具增值税专用发票的可以与客服联系， <br/>
					3) 请认真填写此表，保证信息的真实有效，如有多人参加，点击增加报名人数即可。<br/><br/>
					4. 会务组联系: <br/>
					北京经纬传奇医药科技有限公(3AUDIT.COM) <br/>
					电话:010-85806088 <br/>
					免费电话:4008-157-222 <br/>
					地址:北京市西城区西环广场T1座20层D3B-D6<br/><br/>
					5. 会务组联系人<br/>
					叶   敏 :  15072376710 <br/>
					蔡绪柳 :  18910275153<br/>
					蔡靖芳 :  13811838318<br/>
					王娜娜 :  15811417456<br/>
				</p>
				
			</div>
		</div>
	</div>
	
	<!-- 弹窗 -->
	<div info="弹窗背景" class="stip_bg"></div>
	<div info="弹窗容器" class="stip_box">
		<div class="stip_content">
			<!-- 登录 -->
			<div style="width:385px;" class="sbox login_box_box">
				<div class="login_box">
					<a class="close_common_btn"></a>
					<div style="position:relative;">
						<div style="margin-bottom:20px;" class="lb_co"><input id="login_usr" class="userName lb_input" placeholder="手机号" type="text" /></div>
						<div class="lb_co"><input id="login_pass" class="passWord lb_input" placeholder="密码" type="password" /></div>
						<div class="lb_co font">
							<!-- <div class="check_box"><i class="i"></i>&nbsp;下次自动登录</div> -->
							<a href="javascript:;" class="findPass common_goto_findpass">忘记密码了？</a>
						</div>
						<div class="lb_btn "><a href="javascript:;" class="login_btn common_login_btn">登&nbsp;&nbsp;&nbsp;&nbsp;录</a></div>
						<div class="btom">还没有账号？ <a href="javascript:;"  class="common_goto_reg reg_url">立即注册 ></a></div>
					</div>
				</div>
			</div>
			<!-- 注册 -->
			<div style="width:385px;" class="sbox reg_box_box">
				<div class="login_box">
					<a class="close_common_btn"></a>
					<div style="position:relative;">
						<div class="audit_div"><img class="ldd1" src="../public/img/audit.png"/></div>
						<div style="margin-bottom:15px;" class="lb_co"><input id="usrName" class="userName lb_input" placeholder="真实姓名" type="text" /></div>
						<div style="margin-bottom:15px;" class="lb_co"><input class="userName lb_input phoneNum" placeholder="手机号" type="text" /></div>
						<div style="margin-bottom:15px;" class="lb_co">
							<input id="yancode" class="userName lb_input type2" placeholder="验证码" type="text" />
							<a href="javascript:;" class="login_btn2 btnSendCode">获取验证码</a>
						</div>
						<div class="lb_co"><input id="newPass" class="passWord lb_input" placeholder="设置6位以上密码" type="password" /></div>
						<div class="lb_btn "><a href="javascript:;" id="regBtn" class="login_btn common_reg_btn">注&nbsp;&nbsp;&nbsp;&nbsp;册</a></div>
						<div class="btom">已有账号 <a href="javascript:;" class="common_goto_login reg_url">返回登录 ></a></div>
					</div>
				</div>
			</div>
			<!-- 找回密码 -->
			<div style="width:385px;" class="sbox findpass_box_box">
				<div class="login_box">
					<a class="close_common_btn"></a>
					<div style="position:relative;">
						<div class="audit_div"><img class="ldd1" src="../public/img/audit.png"/></div>
						<div style="margin-bottom:15px;" class="lb_co"><input class="userName lb_input phoneNum" placeholder="手机号" type="text" /></div>
						<div style="margin-bottom:15px;" class="lb_co">
							<input id="yancode2" class="userName lb_input type2" placeholder="验证码" type="text" />
							<a href="javascript:;" class="login_btn2 btnSendCode">获取验证码</a>
						</div>
						<div class="lb_co"><input id="newPass2" class="passWord lb_input" placeholder="设置6位以上新密码" type="password" /></div>
						<div class="lb_btn "><a href="javascript:;" id="resetpass" class="login_btn">重置密码</a></div>
						<div class="btom">又想起了，<a href="javascript:;" class="common_goto_login reg_url">返回登录 ></a></div>
					</div>
				</div>
			</div>	
		</div>
	</div>	
		
	
<!-- 弹出层 -->
<div class="stip_bg"></div>
<!-- 扫码微信支付 -->
<div class="weixinloginerweima" style="display:none;top:50%;margin-top:-200px;left:50%;margin-left:-150px;position:fixed;z-index:999;" id="login_container">
	<div class="main impowerBox">
		<div class="loginPanel normalPanel">
			<div class="title">微信支付</div>
			<div class="waiting panelContent">
				<div id="erweimaHtml" class="wrp_code qrcode"></div>
				<div class="info">
					<div class="status status_browser js_status" id="wx_default_tip">
						<p>请使用微信扫描二维码支付</p>
						<p>“经纬传奇”</p>
					</div>
					<div class="status status_succ js_status" style="display:none" id="wx_after_scan">
						<i class="status_icon icon38_msg succ"></i>
						<div class="status_txt">
							<h4>扫描成功</h4>
							<p>请在微信中点击确认即可支付</p>
						</div>
					</div>
					<div class="status status_fail js_status" style="display:none" id="wx_after_cancel">
						<i class="status_icon icon38_msg warn"></i>
						<div class="status_txt">
							<h4>您已取消此次支付</h4>
							<p>您可再次扫描支付，或关闭窗口</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 支付宝支付跳转 form表单 -->
<div id="payzhifubao" style="display:none;"></div>
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/libs/jquery.qrcode.min.js"></script>
	<script type="text/javascript" src="../public/js/common1.js"></script>

</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("logintoken",false) || "";
	//g.id = Utils.getQueryString("id") || "";
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.totalElements = 0;//总数
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	g.lunxun = '';//定义轮询变量
	
/* **************************************** lodding ******************************************** */		
	
	loadPage();//加载页面
	$('.less_btn').on('click',function(){peperNum('-')});//减少一个
	$('.add_btn').on('click',function(){peperNum('+')});//加一个
	$('#addone_list').on('click','.common_radio',function(){
		var obj = $(this).parents('.choicethis');
		hideshowFunc(obj);
		runtt();//计算总值 并 改变底部显示的公式
	});//选择住宿方式
	$('#addone_list').on('change','.liveintime,.liveouttime',function(){
		var obj = $(this).parents('.choicethis');
		computelivedays(obj);
		runtt();//计算总值 并 改变底部显示的公式
	});//选择住宿方式
	
	$('#choiseHide .common_radio').on('click',hideshowFunc2);//选择发票
	$('#pay_apply_btn').on('click',payFunc);//支付
	$('.common_body').on('blur','input',saveInputDataFunc);//存储缓存数据
	$('.common_body').on('change','select',saveInputDataFunc);//存储缓存数据
	$('.common_body').on('click','.common_radio',saveInputDataFunc);//存储缓存数据
	$('.common_body').on('click','.add_btn,.less_btn',saveInputDataFunc);//存储缓存数据
	
/* **************************************** setTing ******************************************** */	
	//加载页面
	function loadPage(){
		$('#peper').val(1);//给人数赋值；
		addOrDeleteOne('add');//默认一个人
		getInputDataFunc();//缓存数据 赋值
	}

	//隐藏二维码
	$('.stip_bg').on('click',function(){
		$('.stip_bg').fadeOut(200);
		$('#login_container').hide();
	});
	
	
	//缓存数据 赋值
	function getInputDataFunc(){
		var condi = {};
		//
		condi.people = Utils.offLineStore.get("people_token",false) || '';
		condi.orderList = Utils.offLineStore.get("orderlist_token",false) || '';
		condi.invoice = Utils.offLineStore.get("invoice_token",false) || '';
		condi.payType = Utils.offLineStore.get("paytype_token",false) || '';
		
		condi.orderList = condi.orderList != '' ? JSON.parse(condi.orderList) : '';
		condi.invoice = condi.invoice != '' ? JSON.parse(condi.invoice) : '';
		var invoice = condi.invoice;
		$('#company_name').val(invoice.company);
		$('#shuihao').val(invoice.number);
		$('#fapiaotaitou').val(invoice.title);
		$('#fapiaoyouji').val(invoice.address);
		if(invoice.type && invoice.type != ''){
			setRadioVal('#choiseHide','zeng1',invoice.type);
			if(invoice.type == '不需要发票'){$('.hidefapiao').hide();}
		}
		var ppp = parseInt(condi.people) || 0;
		if(condi.people && condi.people != ''){$('#peper').val(condi.people)}
		for(var i=1,len=ppp;i<len;i++){
			addOrDeleteOne('add');//添加
		}
		if(condi.payType && condi.payType != ''){setRadioVal('#pay_type_one','radiopay',condi.payType)}
		
		if(condi.orderList && condi.orderList != ''){
			for(var i=0,len=condi.orderList.length;i<len;i++){
				var m = i + 1;
				var d = condi.orderList[i] || {};
				var t = {};
				$('#addone_list').find('.appl_one').each(function(){
					var _m = $(this).attr('num') || '';
					if(m == _m && _m != ''){t = $(this)}
				});
				t.find('.xingming1').val(d.name);
				t.find('.phonenum1').val(d.phone);
				t.find('.job1').val(d.job);
				t.find('.email1').val(d.email);
				//酒店选择
				t.find('.choicethis').find('.common_radio').each(function(){
					var _name = $(this).attr('name') || '';
					var _val = $(this).attr('val') || '';
					if(_name == 'radiolive' && d.hotelPrice == _val && _val != ''){
						$(this).addClass('active').siblings('.common_radio').removeClass('active');
						if(d.hotelPrice != '0'){t.find('.hidethisor').show();}else{t.find('.hidethisor').hide();}
					}
				});
				t.find('.liveintime').val(d.hotelStart);
				t.find('.liveouttime').val(d.hotelEnd);
				t.find('.livetttime').html(d.hotelDay);
				//分论坛选择
				if(d.subForums && d.subForums != ''){
					t.find('.choisefourone').find('.common_radio').removeClass('active');
					t.find('.choisefourone').find('.common_radio').each(function(){
						var _val = $(this).attr('val') || '';
						if(d.subForums.indexOf(_val) > -1 && _val != ''){
							$(this).addClass('active');
						}
					});
				}
			}
		}
	}
	//缓存数据
	function saveInputDataFunc(){
		var peper = $('#peper').val() || '';
		var company_name = $('#company_name').val() || '';
		var choiseHide = getRadioVal('#choiseHide','zeng1');
		var number = $('#shuihao').val() || '';
		var fapiaotaitou = $('#fapiaotaitou').val() || '';
		var fapiaoyouji = $('#fapiaoyouji').val() || '';
		var invoice = {};
		invoice.company  = company_name;
		invoice.type  = choiseHide;
		invoice.number  = number;
		invoice.title  = fapiaotaitou;
		invoice.address  = fapiaoyouji;
		var orderList = [];
		//遍历每一个人的信息-----------------------------------------------
		var everyPass = true;
		$('#addone_list').find('.appl_one').each(function(n){
			var mm = n + 1;
			var order = {};
			var t = $(this) || {};
			order.name = t.find('.xingming1').val() || '';
			order.phone = t.find('.phonenum1').val() || '';
			order.job = t.find('.job1').val() || '';
			order.email = t.find('.email1').val() || '';
			//判断选中项 酒店选择
			order.hotelPrice = '';
			t.find('.choicethis').find('.common_radio').each(function(){
				if($(this).hasClass('active')){
					order.hotelPrice = $(this).attr('val') || '';
				}
			})
			//自理的时候清空下面两个
			order.hotelStart = order.hotelPrice == 0 || order.hotelPrice == '' ? '' : t.find('.liveintime').val() || '';
			order.hotelEnd = order.hotelPrice == 0 || order.hotelPrice == '' ? '' : t.find('.liveouttime').val() || '';
			order.hotelDay = order.hotelPrice == 0 || order.hotelPrice == '' ? '' : t.find('.livetttime').html() || '';
			//判断选中项 分论坛选择
			order.subForums = '';
			t.find('.choisefourone').find('.common_radio').each(function(){
				if($(this).hasClass('active')){
					var _val = $(this).attr('val') || '';
					order.subForums = order.subForums == '' ? _val : order.subForums +','+ _val;
				}
			})
			orderList.push(order);
		});
		var condi = {};
		condi.people  = peper;
		condi.orderList  = JSON.stringify(orderList);
		condi.invoice  = JSON.stringify(invoice);
		condi.payType  = getRadioVal('#pay_type_one','radiopay','val');
		Utils.offLineStore.set("people_token",condi.people,false);
		Utils.offLineStore.set("orderlist_token",condi.orderList,false);
		Utils.offLineStore.set("invoice_token",condi.invoice,false);
		Utils.offLineStore.set("paytype_token",condi.payType,false);
	}	
	
	//支付
	function payFunc(){
		var peper = $('#peper').val() || '';
		var company_name = $('#company_name').val() || '';
		var choiseHide = getRadioVal('#choiseHide','zeng1');
		var number = $('#shuihao').val() || '';
		var fapiaotaitou = $('#fapiaotaitou').val() || '';
		var fapiaoyouji = $('#fapiaoyouji').val() || '';
		if(peper == ''){Utils.alert('报名人数不能为空！');return false;}
		if(company_name == ''){Utils.alert('公司名称不能为空！');return false;}
		if(choiseHide == ''){Utils.alert('发票类型不能为空！');return false;}
		if(choiseHide == '增值税普通发票' && number == ''){Utils.alert('税号不能为空！');return false;}
		if(choiseHide == '增值税普通发票' && fapiaotaitou == ''){Utils.alert('发票抬头不能为空！');return false;}
		if(choiseHide == '增值税普通发票' && fapiaoyouji == ''){Utils.alert('发票邮寄地址不能为空！');return false;}
		var invoice = {};
		invoice.company  = company_name;
		invoice.type  = choiseHide;
		invoice.number  = number;
		invoice.title  = fapiaotaitou;
		invoice.address  = fapiaoyouji;
		var orderList = [];
		//遍历每一个人的信息-----------------------------------------------
		var everyPass = true;
		$('#addone_list').find('.appl_one').each(function(n){
			var mm = n + 1;
			var order = {};
			var t = $(this) || {};
			order.name = t.find('.xingming1').val() || '';
			order.phone = t.find('.phonenum1').val() || '';
			order.job = t.find('.job1').val() || '';
			order.email = t.find('.email1').val() || '';
			//判断选中项 酒店选择
			order.hotelPrice = '';
			t.find('.choicethis').find('.common_radio').each(function(){
				if($(this).hasClass('active')){
					order.hotelPrice = $(this).attr('val') || '';
				}
			})
			//自理的时候清空下面两个
			order.hotelStart = order.hotelPrice == 0 || order.hotelPrice == '' ? '' : t.find('.liveintime').val() || '';
			order.hotelEnd = order.hotelPrice == 0 || order.hotelPrice == '' ? '' : t.find('.liveouttime').val() || '';
			order.hotelDay = order.hotelPrice == 0 || order.hotelPrice == '' ? '' : t.find('.livetttime').html() || '';
			//判断选中项 分论坛选择
			order.subForums = '';
			t.find('.choisefourone').find('.common_radio').each(function(){
				if($(this).hasClass('active')){
					var _val = $(this).attr('val') || '';
					order.subForums = order.subForums == '' ? _val : order.subForums +','+ _val;
				}
			})
			if(order.name == ''){Utils.alert('第'+mm+'个订单姓名不能为空！');everyPass = false;return false;}
			var reg = /^1[3,4,5,7,8]\d{9}$/g;
			if(order.phone == ''){Utils.alert('第'+mm+'个订单手机号不能为空！');everyPass = false;return false;}
			if(!reg.test(order.phone)){Utils.alert('第'+mm+'个订单手机号输入格式错误！');everyPass = false;return false;}
			if(order.job == ''){Utils.alert('第'+mm+'个订单职务不能为空！');everyPass = false;return false;}
			if(order.email == ''){Utils.alert('第'+mm+'个订单邮箱不能为空！');everyPass = false;return false;}
			if(order.hotelPrice == ''){Utils.alert('第'+mm+'个订单请选择酒店或自理！');everyPass = false;return false;}
			if(order.hotelPrice != 0 && order.hotelPrice != '' && (order.hotelStart == '' || order.hotelStart == 0)){Utils.alert('第'+mm+'个订单酒店入住时间不能为空！');everyPass = false;return false;}
			if(order.hotelPrice != 0 && order.hotelPrice != '' && (order.hotelEnd == '' || order.hotelEnd == 0)){Utils.alert('第'+mm+'个订单酒店离开时间不能为空！');everyPass = false;return false;}
			if(order.hotelPrice != 0 && order.hotelPrice != '' && order.hotelDay == ''){Utils.alert('第'+mm+'个订单酒店住宿天数不能为空！');everyPass = false;return false;}
			if(order.subForums.indexOf('1') < 0 && order.subForums.indexOf('2') < 0 ){Utils.alert('第'+mm+'个订单分论坛选择一/二不能为空！');everyPass = false;return false;}
			if(order.subForums.indexOf('3') < 0 && order.subForums.indexOf('4') < 0 ){Utils.alert('第'+mm+'个订单分论坛选择三/四不能为空！');everyPass = false;return false;}
			orderList.push(order);
		});
		if(!everyPass){return false;}//校验为空返回
		var condi = {};
		condi.people  = peper;
		condi.orderList  = JSON.stringify(orderList);
		condi.invoice  = JSON.stringify(invoice);
		condi.payType  = getRadioVal('#pay_type_one','radiopay','val');
		var url = Base.serverUrl + "conference/order/submit";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var result = data.result || {};
					var orderId = result.orderId || '';
					var url = result.url || '';
					var paytype = getRadioVal('#pay_type_one','radiopay','val');
					if(paytype == '微信'){//微信支付显示支付二维码
						$('#erweimaHtml').html('');//清空
						$('#erweimaHtml').qrcode({width:300,height:300,correctLevel:0,text:url});
						$('#erweimaHtml').find('canvas').attr('id','canvasid');
						var canvas = document.getElementById('canvasid');
						var _img = convertCanvasToImage(canvas);
						$('#erweimaHtml').html(_img);
						$('.stip_bg').show();
						$('#login_container').fadeIn();
						if(g.lunxun != ''){clearInterval(g.lunxun);}
						g.lunxun = setInterval(function(){request(orderId)},1000);//轮询查看当前扫码状态
						
					}else if(paytype == '支付宝'){//支付宝支付
						$('#payzhifubao').html(url);
						//跳到支付并传值到支付页面
						//var _href = "pay.html?pay=1";//pay校验非法请求
						//Utils.offLineStore.set("xform",url,false);
						//window.open(_href);
					}
				}
				else{
					var msg = data.message || "支付失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	
	}
	
	// Converts image to canvas; returns new canvas element
	function convertImageToCanvas(image) {
		var canvas = document.createElement("canvas");
		canvas.width = image.width;
		canvas.height = image.height;
		canvas.getContext("2d").drawImage(image, 0, 0);

		return canvas;
	}
	// Converts canvas to an image
	function convertCanvasToImage(canvas) {
		var image = new Image();
		image.src = canvas.toDataURL("image/png");
		return image;
	}
	//轮询接口 微信扫码支付 请求状态
	function request(orderId){
		//二维码已经关闭 停止轮询
		if($('#login_container').css('display') == 'none'){clearInterval(g.lunxun);return false;}
		var orderId = orderId || '';
		var condi = {};
		condi.orderId = orderId;
		var url = Base.serverUrl + "conference/order/pay/polling";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var res = data.result || '';
					//支付成功
					if(res == '1'){
						clearInterval(g.lunxun);
						Utils.alert("支付成功！");
						$('#login_container').fadeOut();
						$('.stip_bg').hide();
						location.href = "myorder.html";
					}
					
				}
				else{
					var msg = data.message || "失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	//计算每个人住的天数
	function computelivedays(obj){
		var obj = obj || '';
		if(obj == ''){return false;}
		var _in = obj.find('.liveintime').val() || '';//入住时间
		var _out = obj.find('.liveouttime').val() || '';//离开时间
		var res = '';
		if(_in == _out && _in != 0){Utils.alert('入住日期跟离开日期不能相同！');}
		if(_in > _out && _out != 0){Utils.alert('入住日期不能大于离开日期！');}
		if(_in != 0 && _out != 0 && _in != _out && _in < _out){res = _out - _in;}
		obj.find('.livetttime').html(res);
		runtt();//计算总值 并 改变底部显示的公式
	}
	
	//计算总值 并 改变底部显示的公式
	function runtt(){
		var obj = $('#addone_list').find('.appl_one') || {};
		var pernum = obj.length || 0;//人数
		var livett = 0;//总共住宿费
		var livett_str = '';//总共住宿费 字符串
		obj.each(function(){
			var _t = $(this) || {};
			var liveMonney = 0;//存一个人的住宿费
			_t.find('.choicethis').find('.common_radio').each(function(){
				if($(this).hasClass('active')){
					liveMonney = parseInt($(this).attr('val') || '');
				}
			});
			var liveDays = 0;//存一个人的住宿天数
			var Days = _t.find('.livetttime').text() || '';
			if(Days != ''){liveDays = parseInt(Days);}//获取住宿天数
			
			livett += liveMonney*liveDays;//加一块
			livett_str = livett_str == '' ?  liveMonney+'*'+liveDays : livett_str +' + ' +liveMonney+'*'+liveDays ;
		});
		//var ttmonney = 2200*pernum + livett;//总费用
		var ttmonney = 2200*pernum;//总费用
		var ttmonney_str = 2200+'*'+pernum +' + '+ livett_str +' = '+ttmonney;//总费用 字符串
		
		$('#tttmoney').html(ttmonney);
		$('#tttmoney_str').html(ttmonney_str);
	}
	
	
	//添加删除一个人
	function addOrDeleteOne(is){
		var is = is || '';//del add
		if(is == 'del'){//删除一个
			$('#addone_list .appl_one:last').prev('.bt_line').remove();//删除分割线
			$('#addone_list .appl_one:last').remove();
			return false;
		}
		//添加一个
		var _num = $('#addone_list .appl_one').length || 0;
		_num++;
		var one = '';
			if(_num != 1)one += '<div class="bt_line type2"></div>';//增加分割线
			one += '<div num='+_num+' class="appl_one">'
					+'<div class="pdd">'
						+'<span style="position:relative;" class="common_lable color2"><i class="ll"></i>姓名</span>'
						+'<input class="common_input type2 xingming1" type="text" />'
						+'<span class="common_lable type2 color2">手机号</span>'
						+'<input class="common_input type2 phonenum1" type="text" />'
					+'</div>'
					+'<div class="pdd">'
						+'<span class="common_lable color2">职务</span>'
						+'<input class="common_input type2 job1" type="text" />'
						+'<span class="common_lable type2 color2">邮箱</span>'
						+'<input class="common_input type2 email1" type="text" />'
					+'</div>'
					+'<div class="pdd choicethis">'
						+'<span class="common_lable color2">酒店选择</span>'
						+'<div name="radiolive" val="0" class="common_radio"><i class="i"></i>自理</div>'
						+'<div name="radiolive" val="200" class="common_radio thisshow"><i class="i"></i>200元/天/床位/豪华标间</div>'
						+'<div name="radiolive" val="400" class="common_radio thisshow"><i class="i"></i>400元/天/豪华大床间</div>'
						+'<div name="radiolive" val="600" class="common_radio thisshow"><i class="i"></i>600元/天/豪华套间</div>'
						+'<div style="margin-left:84px;font-size:13px;color:#71767b;" class="tipss">（酒店选择仅用于预定，费用自行与酒店结算）</div>'
						+'<div style="display:none;" class="hide_show_div hidethisor">'
							+'<select class="common_input com_date liveintime">'
							+'<option value=0 >入住时间</option>'
							+'<option value=17 >11月17日</option>'
							+'<option value=18 >11月18日</option>'
							+'<option value=19 >11月19日</option>'
							+'</select>'
							+'<select class="common_input com_date liveouttime">'
							+'<option value=0 >离开时间</option>'
							+'<option value=18 >11月18日</option>'
							+'<option value=19 >11月19日</option>'
							+'<option value=20 >11月20日</option>'
							+'</select>'
							+'<span class="blueC">共计入住 <span class="livetttime"></span> 天</span>'
						+'</div>'
					+'</div>'
					+'<div class="pdd">'
						+'<span class="common_lable color2">分论坛选择</span>'
						+'<span class="spanc spanc1">11月19日（周日）上午 8:30-12:00   二选一</span>'
						+'<span class="spanc spanc2">11月19日（周日）下午 12:30-18:00  二选一</span>'
						+'<div class="hide_show_div choisefourone">'
							+'<div name="radiopp1" val=1 class="common_radio"><i class="i"></i>分论坛一:落实创新，全球同步——打造政府威信力</div>'
							+'<div name="radiopp2" val=3 class="common_radio"><i class="i"></i>分论坛三:真实研发，保证质量——树立企业诚信力</div>'
							+'<div name="radiopp1" val=2 class="common_radio"><i class="i"></i>分论坛二:真实科研，重视质量——建立机构公信力</div>'
							+'<div name="radiopp2" val=4 class="common_radio"><i class="i"></i>分论坛四:真实服务，兑现质量——确立服务忠信力</div>'
						+'</div>'
					+'</div>'
				+'</div>';
				
		$('#addone_list').append(one);
				
	}
	
	//显示隐藏入住时间 离开时间
	function hideshowFunc(obj){
		var obj = obj || '';
		if(obj == ''){return false;}
		setTimeout(function(){
			if(obj.find('.thisshow').hasClass('active')){
				obj.find('.hidethisor').slideDown();
			}else{
				obj.find('.hidethisor').slideUp();
			}
		},0);
	}
	//显示隐藏发票信息
	function hideshowFunc2(){
		setTimeout(function(){
			if($('.zengzhishui').hasClass('active')){
				$('.hidefapiao').slideDown();
			}else{
				$('.hidefapiao').slideUp();
			}
		},0);
	}
	
	//添加减少人数 +1 -1
	function peperNum(add){
		var add = add || '';
		var num = $('#peper').val() || '';
		if(num == ''){$('#peper').val(1);return false;}
		num = parseInt(num);
		if(add == '+'){//加一
			num++;
			addOrDeleteOne('add');//添加
		}else if(add == '-'){//减一
			if(num <= 1){return false;}
			num--;
			addOrDeleteOne('del');//删除一个
		}
		$('#peper').val(num);
		runtt();//计算总值 并 改变底部显示的公式
	}


	
});
</script>
</html>