<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=yes, width=1320, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/common.css" />
	<title>第三届临床研究质量学术研讨会</title>
	
</head>
<body class="common_body">
	
	<div class="header">
		<span class="logo_content"><img src="../public/img/logo.png" class="logo_ico" /></span>
		<ul class="menu_content">
			<li class="mm active">首页</li>
			<li mato=1 class="mm mato">大会介绍</li>
			<li mato=2 class="mm mato">大会主讲</li>
			<li mato=3 class="mm mato">大会议程</li>
			<li mato=4 class="mm mato">精彩回顾</li>
			<li mato=6 class="mm mato">联系我们</li>
			<li class="mm apply_common_btn">大会报名</li>
			<li class="mm myorderabtn">我的订单</li>
		</ul>
		<div class="h_right_part">
			<span style="display:none;" class="hrp_span usr_hh_phone type2"></span>
			<a href="javascript:;" id="login_abtn" class="hrp_span">登录</a>
			<a href="javascript:;" style="display:none;" id="login_out" class="hrp_span">退出</a>
		</div>
	</div>
	
	<div class="body_div">
		<div class="banner_div">
			<img src="../public/img/banner1.jpg" class="banner_img" />
			<div class="banner_b_bg"></div>
			<div class="banner_b_text">2017年11月18-19号  北京 . 江西大酒店</div>
		</div>
		<div mato=1 class="mato_div mato_div1">
			<p class="mtd_text1">中国医药创新生态系统互信的瓶颈及解决方案</p>
			<p class="mtd_text2">信念·信心·信任</p>
			<p class="mtd_text3">中国医药质量管理协会主办，北京经纬传奇医药科技有限公司承办，第三届临床研究质量学术研讨会<br/>—— 暨2017中国药物临床研究质量年度报告发布会</p>
			<p style="display:none;" class="mtd_text4">
				尊敬的政府、机构、企业、服务方等相关单位 ：<br/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国药物临床研究历史有必要记住2017年这个开始收获的季节。
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;化药注册分类改革、优先审评审批的政策利好终于释放了归国创业的科学家们的创新热情，一大批创新型医药企业迅速崛起；
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;严格的临床试验数据自查核查展示了国家总局从严到底的决心，仿制药质量和疗效一致性评价快速推进；
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;上市许可人制度加速落地，将激励更多的非工业组织研发和创新；
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CFDA加入ICH，向世界范围释放积极参与全球药物同步开发产业链的勇气；
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;而长期被认为是阻碍创新药发展的医保支付也终于改革，一来医保目录动态调整，二是药价谈判目录落地大大加快创新药进入目录的进程。
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们欣喜看到，尽管政策还存在些许问题，但国家政府在大力支持创新和研发。
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们欣喜看到，中国医药企业已经彻底摒弃重销售、轻研发的传统思路，纷纷加强研发投入，构建和布局自己的产品防线。
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;我们欣喜看到，虽然临床科研在卫生体制内仍然困难重重，但研究者们逐步重视和加强临床研究学习培训的兢兢业业。
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;医药创新已经升级到国家战略层面。中国医药行业正在迎接最好的创新时代：
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;国家的期待让我们抱定打造制药强国的“信念”；
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;政策的支持让我们坚定满足患者需求的“信心”；
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;而接下来则是众志成城，让中国医药创新生态系统中的政府、机构、申办方、服务方建立互相“信任”的时刻了。
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;有鉴于此，由中国医药质量管理协会主办，北京经纬传奇医药科技有限公司承办的“信念 信心 信任 第三届临床研究质量学术研讨会暨2017中国临床研究质量年度报告发布会”将于11月18-19日在北京召开，围绕药物临床研究质量体系，邀请国内外著名的专家和大型企业负责人就政府、机构、申办方和服务方之间建立信任关系存在的瓶颈进行深刻解读，相信将有利于大大推进中国医药创新生态系统。
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;而“2017 中国临床研究质量年度报告”则本着真实记录中国临床研究的宗旨，发现问题，分析问题，解决问题，一切为了中国临床研究的科学、真实、完整。
				<br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;在此，我们诚挚邀请您出席本次会议，共同见证中国临床研究发展，共同推进中国制药强国之路！
				<br/>一、会议简称：临床研究质量三信大会
				<br/>二、大会使命：让临床研究质量更有保证
				<br/>三、大会愿景：成为专业临床研究学术交流平台，传递系统临床研究政策趋势理念，打造完善临床研究质量生态体系
				<br/>四、大会时间：2017 年 11 月 18 日～19 日，18 日周六上午报到
				<br/>五、大会地点：北京江西大酒店（北京市南三环东铁匠营横一条 8 号）
				<br/>六、大会规模：300～400 人
				<br/>七、参会人员：政府、协会、高校、科研院所、医院及临床试验中心相关人员；制药企业负责人、研究院院长、医学负责人；CRO、SMO 负责人；第三方稽查及相关对临床研究质量负责的人员；数据管理及统计人员；医药投资人；临床研究软件供应商代表等
				<br/>八、参会费用：2200 元/人
				<br/>九、参会流程：登录网址完成注册并登录（conference.3audit.con）→填写信息并缴费（微信或支付宝）→现场领取资料→参会
				<br/>十、组委会联系方式：
				<br/>地 址：北京市西城区西环广场 T1 座 20 层 D3B-D6
				<br/>邮 箱：3audit@3audit.com 网 址：3AUDIT.COM
				<br/>电 话：4008-157-222 传 真：010-85806786
				<br/>叶 敏：15072376710 蔡绪柳：18910275153
				<br/>蔡靖芳：13811838318 王娜娜：15811417456

			</p>
			<p style="text-align:right;display:none;" class="mtd_text4">
				主办单位：中国医药质量管理协会<br/>
				承办单位：北京经纬传奇医药科技有限公司<br/>
				会务单位：北京我的腿医药科技有限公司<br/>
				二 O 一七年十月
			</p>
			<div><a href="javascript:;" id="slideTT" class="slideBtn">展开更多 ></a></div>
			<div><a href="javascript:;" class="reg_btn apply_common_btn">大会报名</a></div>
		</div>
		<div mato=2 class="mato_div mato_div2">
			<h4 class="common_p_title"><span class="p_text">大会演讲主讲人</span><!-- <span class="p_text2">（按姓名首字母排序）</span> --></h4>
			<div>
				<ul class="pepo_ul">
					<li class="pp">
						<div class="usr_ico_box"><img src="../public/img/u1.png" class="uib_img"/></div>
						<div class="usr_name1">桑国卫</div>
						<div class="usr_name2">中国工程院</div>
						<div class="usr_name3">院士</div>
					</li>
					<li class="pp">
						<div class="usr_ico_box"><img src="../public/img/u2.png" class="uib_img"/></div>
						<div class="usr_name1">边振甲</div>
						<div class="usr_name2">中国营养保健食品协会</div>
						<div class="usr_name3">会长</div>
					</li>
					<li class="pp">
						<div class="usr_ico_box"><img src="../public/img/u3.png" class="uib_img"/></div>
						<div class="usr_name1">卓永清</div>
						<div class="usr_name2">RDPAC</div>
						<div class="usr_name3">原执行总裁</div>
					</li>
					<li class="pp">
						<div class="usr_ico_box"><img src="../public/img/u4.png" class="uib_img"/></div>
						<div class="usr_name1">胡颖廉</div>
						<div class="usr_name2">国家行政学院</div>
						<div class="usr_name3">副教授</div>
					</li>
					<li class="pp">
						<div class="usr_ico_box"><img src="../public/img/u5.jpg" class="uib_img"/></div>
						<div class="usr_name1">张抒扬</div>
						<div class="usr_name2">北京协和医院</div>
						<div class="usr_name3">副院长</div>
					</li>
					<li class="pp">
						<div class="usr_ico_box"><img src="../public/img/u6.jpg" class="uib_img"/></div>
						<div class="usr_name1">江泽飞</div>
						<div class="usr_name2">军事科学院307医院肿瘤中心</div>
						<div class="usr_name3">主任</div>
					</li>
					<li class="pp">
						<div class="usr_ico_box"><img src="../public/img/u7.png" class="uib_img"/></div>
						<div class="usr_name1">王晨光</div>
						<div class="usr_name2">清华大学法学院</div>
						<div class="usr_name3">原院长</div>
					</li>
					<li class="pp">
						<div class="usr_ico_box"><img src="../public/img/u8.png" class="uib_img"/></div>
						<div class="usr_name1">夏结来</div>
						<div class="usr_name2">第四军医大学卫生统计学教研室</div>
						<div class="usr_name3">主任</div>
					</li>
					<li class="pp">
						<div class="usr_ico_box"><img src="../public/img/u9.png" class="uib_img"/></div>
						<div class="usr_name1">崔一民</div>
						<div class="usr_name2">北京大学第一医院临床试验中心</div>
						<div class="usr_name3">主任</div>
					</li>
					<li class="pp">
						<div class="usr_ico_box"><img src="../public/img/u10.png" class="uib_img"/></div>
						<div class="usr_name1">顾俊</div>
						<div class="usr_name2">上海市公共卫生临床中心药物临床试验机构办公室</div>
						<div class="usr_name3">主任</div>
					</li>
				</ul>
			</div>
		</div>
		<div mato=3 id="choiseDay" class="mato_div mato_div3 mvpart1">
			<h4 class="common_p_title"><span class="p_text">大会议程</span></h4>
			<div class="panel_div">
				<span id="dayc1" class="pd_panel pd_panel1">11月18日</span>
				<span id="dayc2" class="pd_panel pd_panel2">11月19日</span>
			</div>
			<div class="panel_div2">
				<span class="pd_panel2 active">分论坛一</span>
				<span class="pd_panel2">分论坛二</span>
				<span class="pd_panel2">分论坛三</span>
				<span class="pd_panel2">分论坛四</span>
			</div>
			<div class="huiyi_content huiyi_content1">
			<!-- 11月18号 -->
				<div class="huiyi_one">
					<i class="ho_ico"></i>
					<div class="ho_right">
						<span>主持嘉宾</span><br>
						——  <span>边振甲</span><span class="col1">中国营养保健食品协会会长，原SFDA副局长</span>
					</div>
				</div><div class="huiyi_one">
					<i class="ho_ico"></i>
					<div class="ho_right">
						<span>开幕式致辞</span><br>
						——  <span>秦玉峰</span><span class="col1">东阿阿胶总裁，中国医药质量管理协会当值会长</span>
					</div>
				</div>
				<div class="huiyi_one">
					<i class="ho_ico"></i>
					<div class="ho_right">
						<span>提升临床研究质量全力支持医药创新</span><br>
						——  <span>桑国卫</span><span class="col1">院士</span>
					</div>
				</div>
				<div class="huiyi_one">
					<i class="ho_ico"></i>
					<div class="ho_right">
						<span>《关于深化审评审批制度改革鼓励药品医疗器械创新的意见》解读</span><br>
						——  <span>嘉<i class="nbsp"></i>宾</span><span class="col1">国家食品药品监督管理总局</span>
					</div>
				</div>
				<div class="huiyi_one">
					<i class="ho_ico"></i>
					<div class="ho_right">
						<span>从医院行政机制探讨鼓励临床科研的运营模式</span><br>
						——  <span>嘉<i class="nbsp"></i>宾</span><span class="col1">国家卫生计生委</span>
					</div>
				</div>
				<div class="huiyi_one">
					<i class="ho_ico"></i>
					<div class="ho_right">
						<span>加入ICH后中国药物临床研究的变化及影响</span><br>
						——  <span>嘉<i class="nbsp"></i>宾</span><span class="col1">国家食品药品监督管理总局</span>
					</div>
				</div>
				<div class="huiyi_one">
					<i class="ho_ico"></i>
					<div class="ho_right">
						<span>中国新药创新之临床体系支持</span><br>
						——  <span>王晓东</span><span class="col1">董事长，百济神州（北京）生物科技有限公司</span>
					</div>
				</div>
				<div class="huiyi_one">
					<i class="ho_ico"></i>
					<div class="ho_right">
						<span>通过医疗大数据提升临床研究质量</span><br>
						——  <span>张抒扬</span><span class="col1">副院长，北京协和医院</span>
					</div>
				</div>
				<div class="huiyi_one">
					<i class="ho_ico"></i>
					<div class="ho_right">
						<span>实施临床试验质量管理体系的核心要点</span><br>
						——  <span>Dr. Beat Widler</span><span class="col1">教授，欧洲质量保证与风险管理专家</span>
					</div>
				</div>
				<div class="huiyi_one">
					<i class="ho_ico"></i>
					<div class="ho_right">
						<span>精准医学时代下抗肿瘤药物研究的困境与思考</span><br>
						——  <span>江泽飞</span><span class="col1">主任，军事科学院307医院肿瘤中心</span>
					</div>
				</div>
				<div class="huiyi_one">
					<i class="ho_ico"></i>
					<div class="ho_right">
						<span>抗体药物的现状及发展趋势</span><br>
						——  <span>朱祯平</span><span class="col1">研发总裁兼首席科学官，沈阳三生制药股份有限公司</span>
					</div>
				</div>
				<div class="huiyi_one">
					<i class="ho_ico"></i>
					<div class="ho_right">
						<span>临床研究质量的原动力-医疗机构角度</span><br>
						——  <span>李海燕</span><span class="col1">教授，北京大学第三医院药物临床试验机构主任</span>
					</div>
				</div>
				<div class="huiyi_one">
					<i class="ho_ico"></i>
					<div class="ho_right">
						<span>中国药物临床试验检查法律制度的研究</span><br>
						——  <span>臧克承</span><span class="col1">博士，中国药科大学</span>
					</div>
				</div>
				<div class="huiyi_one">
					<i class="ho_ico"></i>
					<div class="ho_right">
						<span>临床试验机构现状及发展趋势圆桌论坛</span><br>
						——  <span>崔一民</span><span class="col1">主任，北京大学第一医院临床试验中心</span>
					</div>
				</div>
				
			</div>
			<div class="huiyi_content huiyi_content2">
			<!-- 11月19号 -->
				<div class="pa pa1">
				<!-- 分论坛1 -->
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>落实创新，全球同步——打造政府威信力</span><br>
							——  <span>卓永清</span><span class="col1">RDPAC原执行总裁，经纬传奇高级顾问</span><br/>
							——  <span>商洪才</span><span class="col1">常务副主任，北京中医药大学教育部重点实验室</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>医疗器械临床试验的审评审批与现场核查</span><br>
							——  <span>嘉<i class="nbsp"></i>宾</span><span class="col1">国家食品药品监督管理总局医疗器械审评中心</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>常态化注册核查的准备及如何与核查专家沟通</span><br>
							——  <span>嘉<i class="nbsp"></i>宾</span><span class="col1">国家食品药品监督管理总局审核查验中心</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>关于临床试验造假入刑的具体解读</span><br>
							——  <span>王晨光</span><span class="col1">原院长，清华大学法学院</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>药品监管领域如何借重第三方服务的力量</span><br>
							——  <span>胡颖廉</span><span class="col1">副教授，国家行政学院</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>临床试验过程中的动态风险控制与审评改革</span><br>
							——  <span>杨<i class="nbsp"></i>悦</span><span class="col1">教授，沈阳药科大学国际食品药品政策与法律研究中心</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>互动对话-中国临床研究生态系统互信的瓶颈及解决方案</span><br>
							——  <span>嘉<i class="nbsp"></i>宾</span><span class="col1">国家食品药品监督管理总局审评中心</span><br>
							——  <span>嘉<i class="nbsp"></i>宾</span><span class="col1">国家食品药品监督管理总局审核查验中心</span><br>
							——  <span>丁列明</span><span class="col1">董事长，贝达药业股份有限公司</span><br>
							——  <span>胡国强</span><span class="col1">高级副总裁，信达生物制药（苏州）有限公司</span><br>
							——  <span>彭<i class="nbsp"></i>健</span><span class="col1">注册和临床策略负责人，北京珅奥基医药科技公司</span><br>
							——  <span>申华琼</span><span class="col1">副总裁，天境生物科技（上海）有限公司</span><br>
							——  <span>吴玉霞</span><span class="col1">副总经理，江苏恒瑞医药股份有限公司</span><br>
							——  <span>叶小平</span><span class="col1">董事长，杭州泰格医药科技股份有限公司</span><br>
						</div>
					</div>
					
				</div>
				<div class="pa pa2">
				<!-- 分论坛2 -->
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>真实科研，重视质量——建立机构公信力</span><br>
							——  <span>林<i class="nbsp"></i>阳</span><span class="col1">主任，首都医科大学附属北京安贞医院药剂科</span><br/>
							——  <span>陆明莹</span><span class="col1">主任，西安交通大学第一附属医院机构办公室</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>中药临床试验的创新思路</span><br>
							——  <span>杨忠奇</span><span class="col1">主任，广州中医药大学第一附属医院GCP办公室</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>药物临床试验各方职责及定位分析</span><br>
							——  <span>杜艾桦</span><span class="col1">研究员，华中科技大学附属同济医院</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>临床试验中研究者培训模式的思考</span><br>
							——  <span>元唯安</span><span class="col1">主任，上海中医药大学附属曙光医院</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>新形势下临床试验中心的建设与管理</span><br>
							——  <span>黄建英</span><span class="col1">研究员，武汉大学中南医院</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>伦理委员会审核机制的完善与实践</span><br>
							——  <span>王美霞</span><span class="col1">主任，首都医科大学附属北京佑安医院机构办公室</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>如何应对常态化的核查</span><br>
							——  <span>顾<i class="nbsp"></i>俊</span><span class="col1">主任，上海市公共卫生临床中心药物临床试验机构办公室</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>互动对话-备案制下机构应对临床试验质量的挑战和对策</span><br>
							——  <span>Dr. Peter Schiemann</span><span class="col1">博士，WS公司主管合伙人</span><br/>
							——  <span>曹<i class="nbsp"></i>玉</span><span class="col1">主任，青岛大学附属医院机构办公室</span><br/>
							——  <span>孔小红</span><span class="col1">主任，南京市第一医院机构办公室</span><br/>
							——  <span>陆明莹</span><span class="col1">主任，西安交通大学第一附属医院机构办公室</span><br/>
							——  <span>单渊东</span><span class="col1">教授，北京协和医院</span>
						</div>
					</div>
					
				</div>
				<div class="pa pa3">
				<!-- 分论坛3 -->
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>真实研发，保证质量——树立企业诚信力</span><br>
							——  <span>徐浩宇</span><span class="col1">副董事长，扬子江药业集团</span><br/>
							——  <span>史晋海</span><span class="col1">秘书长，中国蛋白药物质量联盟</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>药品上市价值评估</span><br>
							——  <span>程<i class="nbsp"></i>龙</span><span class="col1">主任，国家卫生计生委卫生发展研究中心信息研究室</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>基于市场需求的生物药研发与质量保证</span><br>
							——  <span>张发明</span><span class="col1">董事长，中美华世通（武汉）生物医药有限公司</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>临床试验研究中心与供应商的筛选和质量保证</span><br>
							——  <span>顾美娟</span><span class="col1">总监，阿斯利康中国</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>R&D in China from a Global Company Perspective</span><br>
							——  <span>Dr. Katrin Rupalla</span><span class="col1">Head of R&D China，BMS</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>临床试验的科学设计与质量保证</span><br>
							——  <span>孙<i class="nbsp"></i>鹤</span><span class="col1">副总裁，天士力控股集团</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>加入ICH后，申办方如何应对变化和挑战</span><br>
							——  <span>蒋皓媛</span><span class="col1">高级副总裁、首席医学官，青峰医药集团</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>互动对话-制药企业如何建立和落实临床试验质量管理体系</span><br>
							——  <span>胡邵京</span><span class="col1">研发总裁，北京加科思新药研发有限公司</span><br/>
							——  <span>顾美娟</span><span class="col1">总监，阿斯利康中国</span><br/>
							——  <span>李<i class="nbsp"></i>锋</span><span class="col1">总经理，北京天广实生物技术股份有限公司</span><br/>
							——  <span>施丽娜</span><span class="col1">稽查总监，北京经纬传奇医药科技有限公司</span><br/>
							——  <span>王<i class="nbsp"></i>霆</span><span class="col1">副总经理，一品红药业股份有限公司</span><br/>
						</div>
					</div>
					
				</div>
				<div class="pa pa4">
				<!-- 分论坛4 -->
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>真实服务，兑现质量——确立服务忠信力</span><br>
							——  <span>赵亚军</span><span class="col1">副秘书长，中国药品监督管理研究会</span><br/>
							——  <span>金迪蒂</span><span class="col1">副总经理，北京经纬传奇医药科技有限公司</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>药物临床试验设计之生物统计学考虑</span><br>
							——  <span>夏结来</span><span class="col1">主任，第四军医大学卫生统计学教研室</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>ICH环境下的药物安全性运行的思考</span><br>
							——  <span>张<i class="nbsp"></i>丹</span><span class="col1">董事长，方恩（天津）医药发展有限公司</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>临床试验方案与临床试验质量保证</span><br>
							——  <span>范<i class="nbsp"></i>帆</span><span class="col1">博士、医学顾问，北京经纬传奇医药科技有限公司</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>仿制药一致性评价试验设计和实施质量问题的解决要点</span><br>
							——  <span>孙新生</span><span class="col1">副会长，中国医药质量管理协会</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>药企临床研究策略解析</span><br>
							——  <span>王廷春</span><span class="col1">董事长，广州博济医药生物技术股份有限公司</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>CRO项目运营中质量管理的关注及思考</span><br>
							——  <span>冯祎恺</span><span class="col1">质量管理副总监，昆泰企业管理（上海）有限公司</span>
						</div>
					</div>
					<div class="huiyi_one">
						<i class="ho_ico"></i>
						<div class="ho_right">
							<span>互动对话-申办方与服务方就进度与质量如何达成一致</span><br>
							——  <span>崔天红</span><span class="col1">主任，北京岐黄药品临床研究中心</span><br/>
							——  <span>金<i class="nbsp"></i>敏</span><span class="col1">总经理，北京紫都宏业科技发展有限公司</span><br/>
							——  <span>姜世新</span><span class="col1">董事长，润东医药研发（上海）有限公司</span><br/>
							——  <span>刘凯列</span><span class="col1">总经理，西藏奇正藏药股份有限公司</span><br/>
							——  <span>李<i class="nbsp"></i>燕</span><span class="col1">总经理，齐鲁制药有限公司</span><br/>
							——  <span>沈<i class="nbsp"></i>洁</span><span class="col1">院长，人福医药集团股份有限公司研究院</span><br/>
							——  <span>周德胜</span><span class="col1">董事长，北京凯因科技股份有限公司</span><br/>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
		<div mato=4 class="mato_div mato_div4">
			<h4 class="common_p_title"><span class="p_text">大会精彩回顾</span></h4>
			<ul class="ppt_ul">
				<li class="pp">
					<img src="../public/img/j1.jpg" class="pp_img" />
					<div class="pp_bg"></div>
					<div class="pp_text">大会合影</div>
				</li>
				<li class="pp">
					<img src="../public/img/j2.jpg" class="pp_img" />
					<div class="pp_bg"></div>
					<div class="pp_text">张鹤镛会长主讲</div>
				</li><li class="pp">
					<img src="../public/img/j3.jpg" class="pp_img" />
					<div class="pp_bg"></div>
					<div class="pp_text">高陆副总裁讲话</div>
				</li><li class="pp">
					<img src="../public/img/j4.jpg" class="pp_img" />
					<div class="pp_bg"></div>
					<div class="pp_text">互动对话论坛</div>
				</li><li class="pp">
					<img src="../public/img/j5.jpg" class="pp_img" />
					<div class="pp_bg"></div>
					<div class="pp_text">台下观众仔细听讲</div>
				</li><li class="pp">
					<img src="../public/img/j6.jpg" class="pp_img" />
					<div class="pp_bg"></div>
					<div class="pp_text">开幕式互动对话</div>
				</li>
			</ul>
		</div>
		<!-- <div mato=5 class="mato_div mato_div5">
			<h4 class="common_p_title"><span class="p_text">合作伙伴</span></h4>
			<div class="mt5_text1">不仅为企业提供对话世界、连接国内外的高端合作平台，更为企业带来不可估量的商业传播价值</div>
			<div class="company_bg">
				<ul class="com_ul">
					<li class="cc"><img src="../public/img/audit.png" class="cc_img" /></li>
					<li class="cc"><img src="../public/img/audit.png" class="cc_img" /></li>
					<li class="cc"><img src="../public/img/audit.png" class="cc_img" /></li>
					<li class="cc"><img src="../public/img/audit.png" class="cc_img" /></li>
					<li class="cc"><img src="../public/img/audit.png" class="cc_img" /></li>
					<li class="cc"><img src="../public/img/audit.png" class="cc_img" /></li>
					<li class="cc"><img src="../public/img/audit.png" class="cc_img" /></li>
					<li class="cc"><img src="../public/img/audit.png" class="cc_img" /></li>
					<li class="cc"><img src="../public/img/audit.png" class="cc_img" /></li>
				</ul>
			</div>
		</div> -->
		<div mato=6 class="mato_div mato_div6">
			<h4 class="common_p_title"><span class="p_text">联系我们</span></h4>
			<div class="content_div">
				<div class="left_cdiv">
					<img class="logo_com" src="../public/img/cc.png" />
					<p class="ptext">
						中国医药质量管理协会（主办单位）<br/>
						北京经纬传奇医药科技有限公司（承办单位）<br/>
						北京我的腿医药科技有限公司（会务单位）<br/>
						大会地址：北京.江西大酒店（南三环东铁匠营横一条8号），三层多功能厅<br/>
						邮  箱：3audit@3audit.com <br/>                     
						蔡绪柳：18910275153&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;蔡靖芳：13811838318&nbsp;&nbsp;&nbsp;&nbsp;王娜娜：15811417456
					</p>
				</div>
				<img class="map_con" src="../public/img/conte.png" />
			</div>
			
			<div class="footer_div">copyright 2009-2017 北京经纬传奇医药科技有限公司 版权所有.京ICP备14047540号-4</div>
		</div>
	</div>
	<a info="返回顶部" class="backTopAbtn"></a>
	
	
	
	<!-- 弹窗 -->
	<div info="弹窗背景" class="stip_bg"></div>
	<div info="弹窗容器" class="stip_box">
		<div class="stip_content">
			<!-- 登录 -->
			<div style="width:385px;" class="sbox login_box_box">
				<div class="login_box">
					<a class="close_common_btn"></a>
					<div style="position:relative;">
						<div style="margin-bottom:20px;" class="lb_co"><input id="login_usr" class="userName lb_input" placeholder="手机号" type="text" /></div>
						<div class="lb_co"><input id="login_pass" class="passWord lb_input" placeholder="密码" type="password" /></div>
						<div class="lb_co font">
							<!-- <div class="check_box"><i class="i"></i>&nbsp;下次自动登录</div> -->
							<a href="javascript:;" class="findPass common_goto_findpass">忘记密码了？</a>
						</div>
						<div class="lb_btn "><a href="javascript:;" class="login_btn common_login_btn">登&nbsp;&nbsp;&nbsp;&nbsp;录</a></div>
						<div class="btom">还没有账号？ <a href="javascript:;"  class="common_goto_reg reg_url">立即注册 ></a></div>
					</div>
				</div>
			</div>
			<!-- 注册 -->
			<div style="width:385px;" class="sbox reg_box_box">
				<div class="login_box">
					<a class="close_common_btn"></a>
					<div style="position:relative;">
						<div class="audit_div"><img class="ldd1" src="../public/img/audit.png"/></div>
						<div style="margin-bottom:15px;" class="lb_co"><input id="usrName" class="userName lb_input" placeholder="真实姓名" type="text" /></div>
						<div style="margin-bottom:15px;" class="lb_co"><input class="userName lb_input phoneNum" placeholder="手机号" type="text" /></div>
						<div style="margin-bottom:15px;" class="lb_co">
							<input id="yancode" class="userName lb_input type2" placeholder="验证码" type="text" />
							<a href="javascript:;" class="login_btn2 btnSendCode">获取验证码</a>
						</div>
						<div class="lb_co"><input id="newPass" class="passWord lb_input" placeholder="设置6位以上密码" type="password" /></div>
						<div class="lb_btn "><a href="javascript:;" id="regBtn" class="login_btn common_reg_btn">注&nbsp;&nbsp;&nbsp;&nbsp;册</a></div>
						<div class="btom">已有账号 <a href="javascript:;" class="common_goto_login reg_url">返回登录 ></a></div>
					</div>
				</div>
			</div>
			<!-- 找回密码 -->
			<div style="width:385px;" class="sbox findpass_box_box">
				<div class="login_box">
					<a class="close_common_btn"></a>
					<div style="position:relative;">
						<div class="audit_div"><img class="ldd1" src="../public/img/audit.png"/></div>
						<div style="margin-bottom:15px;" class="lb_co"><input class="userName lb_input phoneNum" placeholder="手机号" type="text" /></div>
						<div style="margin-bottom:15px;" class="lb_co">
							<input id="yancode2" class="userName lb_input type2" placeholder="验证码" type="text" />
							<a href="javascript:;" class="login_btn2 btnSendCode">获取验证码</a>
						</div>
						<div class="lb_co"><input id="newPass2" class="passWord lb_input" placeholder="设置6位以上新密码" type="password" /></div>
						<div class="lb_btn "><a href="javascript:;" id="resetpass" class="login_btn">重置密码</a></div>
						<div class="btom">又想起了，<a href="javascript:;" class="common_goto_login reg_url">返回登录 ></a></div>
					</div>
				</div>
			</div>	
		</div>
	</div>	
	
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common1.js"></script>

</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("logintoken",false) || "";
	//g.id = Utils.getQueryString("id") || "";
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.totalElements = 0;//总数
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */		
	
	loadPage();//加载页面
	$('#reg_abtn').on('click',gotoreg);
	$('#dayc1').on('click',function(){dayFunc(1)});
	$('#dayc2').on('click',function(){dayFunc(2)});
	
	//收起展开大会介绍详情
	$('#slideTT').on('click',function(){
		if($('.mtd_text4').css('display') != 'none'){
			$(this).html('展开更多 >');
			gomato(1);
		}else{
			$(this).html('收起更多 >');
		}
		$('.mtd_text4').slideToggle();
	});
	
/* **************************************** setTing ******************************************** */	
	//加载页面
	function loadPage(){
		autoHeight();//适配每屏的高度
	}
	
	//适配每屏的高度
	function autoHeight(){
		var windowH = $(window).height();//窗口高度
		var headerH = $('.header').height();//顶部高度
		//banner图
		var bannerH = windowH - headerH;
		if(bannerH > 600){bannerH = 600;}
		if(bannerH < 500){bannerH = 500;}
		$('.banner_div .banner_img').css('height',bannerH);
		$('.banner_div').css('min-height',bannerH);
		//mato_div mato_div1
		var matoDivH1 = windowH;
		if(windowH > 600){matoDivH1 = 600;}
		if(windowH < 500){matoDivH1 = 500;}
		$('.mato_div.mato_div1').css('min-height',matoDivH1);
		//mato_div mato_div4
		var matoDivH4 = windowH - 400;
		if(matoDivH4 > 330){matoDivH4 = 330;}
		if(matoDivH4 < 200){matoDivH4 = 200;}
		$('.ppt_ul .pp').css('height',matoDivH4);
		//mato_div mato_div6
		var matoDivH6 = windowH;
		if(windowH > 600){matoDivH6 = 600;}
		if(windowH < 500){matoDivH6 = 500;}
		$('.mato_div.mato_div6').css('height',matoDivH6);
		
	}
	
	//返回顶部---------------------------------------------
	$(window).scroll(function(){
	   panduan();
	})
	//panduan
	panduan();
	function panduan(){
		var sc=$(window).scrollTop();
	   if(sc>30){
		$(".backTopAbtn").show();
	   }else{
		$(".backTopAbtn").fadeOut(200);
	   }
	}
	$(".backTopAbtn").click(function(){
	   var sc = $(window).scrollTop();
	   $('body,html').animate({scrollTop:0},500);
	   setTimeout(function(){$(".backTopAbtn").fadeOut(200);},500);
	})
	
	//首页锚点
	$('.mato').click(function(){
		var mato = $(this).attr('mato') || '';
		gomato(mato);
	});
	//锚点跳转
	function gomato(num){
		var num = num || '';
		$('.mato_div').each(function(){
			var _mato = $(this).attr('mato') || '';
			if(num == _mato){
				$("html,body").animate({scrollTop: $(this).offset().top}, 500);
			}
		});
	}
	
	//------------------------------------------------------------------------------------------
	//注册
	function gotoreg(){
		location.href = "apply.html";
	}
	
	//大会议程 1 2天
	function dayFunc(is){
		var is = is || '';
		if(is == ''){return false;}
		else if(is == 1){$('#choiseDay').removeClass('day2');}//显示18号
		else if(is == 2){$('#choiseDay').addClass('day2');}//显示19号
	}
	//大会议程 19号 选择大会议程 1-4
	$('.panel_div2 .pd_panel2').each(function(n){
		var a = n + 1;
		$(this).click(function(){
			$(this).addClass('active').siblings('.pd_panel2').removeClass('active');
			$('#choiseDay').removeClass('mvpart1').removeClass('mvpart2').removeClass('mvpart3').removeClass('mvpart4');
			$('#choiseDay').addClass('mvpart'+a);
		});
	});
	//blur 修改用户title
	function memberBlurFunc(){
		var aid = $(this).attr('aid') || '';
		var title = $(this).val() || '';
		var condi = {};
		condi.id  = aid;
		condi.title  = title;
		var url = Base.serverUrl + "open/platform/members/update";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					
				}
				else{
					var msg = data.message || "修改失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	

	
});
</script>
</html>