<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/select2/css/select2.min.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.check_box .i, .check_box2 .i{margin-right:5px;}
		.xiangmujibenxinxi .lable{width:200px;}
	</style>
</head>
<body class="xiangmuguanli xiangmujibenxinxi">

	<h4 class="mokuaifaxian">
		<a id="renwubianji1" class="a">任务实施</a>
		<a id="renwubianji2" class="a active">任务信息</a>
		<a id="renwubianji3" class="a">快递信息</a>
		<!-- <a href="javascript:;" id="backPage" style="display:none;" class="jc_btn type5 last">返回</a> -->
	</h4>
	<div class="content_box1">

		<div class="con_d"><span class="lable need">任务名称</span><i class="x">*</i><input id="renwu_name" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">企业类型</span><i class="x">*</i><select id="company_type" class="common_select">
				<option value="">请选择</option>
				<option value="合伙企业">合伙企业</option>
				<option value="有限公司">有限公司</option>
				<option value="个体企业">个体企业</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">园区</span><i class="x">*</i><select id="syuanqu" class="common_select">
				<option value="">请选择</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">注册地址段</span><i class="x">*</i><input id="zhucedizhiduan" placeholder="系统默认带出，可修改，要判重" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">注册资本</span><i class="x">*</i><input id="zhuceziben" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">法人姓名</span><i class="x">*</i><input id="farenxingming" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">法人身份证</span><i class="x">*</i><input id="farenshenfenzheng" class="common_input" type="text" /></div>
		<div class="con_d" name="farenidcard" ><span class="lable need">上传身份证图片</span><i class="x">*</i>
			<div class="head_img_spam">
				<i info="放大图" class="hide_head_imgs"></i>
				<div info="放大图背景" class="head_img_bg"></div>
				<i info="原图" class="head_imgs"></i>
				<div info="上传后提示背景" class="head_img_tips_bg"></div>
				<div info="上传后提示" src="ceshi" id="touxiangimg2" class="head_img_tips">重新上传</div>
			</div>
		</div>
		<div class="con_d"><span class="lable need">法人手机号</span><i class="x">*</i><input id="farenphone" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">联系人姓名</span><i class="x">*</i><input id="lianxirenname" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">联系人电话</span><i class="x">*</i><input id="lianxirenphone" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">财务负责人姓名</span><i class="x">*</i><input id="caiwufuzerenname" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">财务负责人身份证</span><i class="x">*</i><input id="caiwufuzerenidcard" class="common_input" type="text" /></div>
		<div class="con_d" name="caiwuidcard"><span class="lable need">上传身份证图片</span><i class="x">*</i>
			<div class="head_img_spam">
				<i info="放大图" class="hide_head_imgs"></i>
				<div info="放大图背景" class="head_img_bg"></div>
				<i info="原图" class="head_imgs"></i>
				<div info="上传后提示背景" class="head_img_tips_bg"></div>
				<div info="上传后提示" src="ceshi" id="touxiangimg2" class="head_img_tips">重新上传</div>
			</div>
		</div>
		<div class="con_d"><span class="lable need">财务负责人手机号</span><i class="x">*</i><input id="caiwufuzerenphone" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">身份证回寄地址、电话、接收人</span><i class="x">*</i><textarea id="sfdhjr" class="common_textarea"></textarea></div>
		<div id="kezhangxinxi" name="kezhang" class="con_d"><span class="lable need">刻章信息</span><i class="x">*</i>
			<div class="check_box active"><i class="i"></i>公章（46）</div>
			<div class="check_box active"><i class="i"></i>法人章（32）</div>
			<div class="check_box"><i class="i"></i>财务章（32）</div>
			<div class="check_box"><i class="i"></i>合同章（32）</div>
			<div class="check_box"><i class="i"></i>发票章（32）</div><span style="color:#D0011B;">刻章费用总计<i>78</i></span>
		</div>
		<div class="con_d"><span class="lable need">发票信息</span><i class="x">*</i>
			<table class="fapiaotable">
				<tr><th>发票类型</th><th>面额（万元）</th><th>张数（张）</th></tr>
				<tr>
					<td>普通电子发票</td>
					<td><select id="fapiaojine1" class="common_select fapiaojine1"><option value="1">1</option><option value="10">10</option><option value="100">100</option></select></td>
					<td><input id="fapiaozhangshu1" class="common_input fapiaozhangshu1" type="text" /></td>
				</tr>
				<tr>
					<td>普通纸质发票</td>
					<td><select id="fapiaojine2" class="common_select fapiaojine2"><option value="1">1</option><option value="10">10</option><option value="100">100</option></select></td>
					<td><input id="fapiaozhangshu2" class="common_input fapiaozhangshu2" type="text" /></td>
				</tr>
				<tr>
					<td>专票纸质发票</td>
					<td><select id="fapiaojine3" class="common_select fapiaojine3"><option value="1">1</option><option value="10">10</option><option value="100">100</option></select></td>
					<td><input id="fapiaozhangshu3" class="common_input fapiaozhangshu3" type="text" /></td>
				</tr>
			</table>
		</div>
		<div class="con_d"><span class="lable need">客户快递单号</span><i class="x">*</i><input id="kehukuaidinumber" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">快递寄出时间</span><i class="x">*</i><input id="kuaidijichutime" class="common_input" type="text" />
		<a href="javascript:;" id="jichuabtn" style="float:none;margin-left:12px;vertical-align:middle;" class="creat_forse">确认寄出</a>
		</div>
		
		<div id="new_create_btn" class="btns_div"><a back='任务管理.html' class="common_abtn goback type1">取消</a><a href="javascript:;" id="create_new_btn" class="common_abtn type2">创建</a></div>
	</div>

	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("id") || "";//获取项目id
	g.do = Utils.getQueryString("do") || "";//获取操作 是查看（check）还是修改（change）新建 （new）
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('落地任务管理').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '任务管理.html';
	});
	$('#menu_show_t .s1',parent.document).html(' > 任务基本信息').addClass('active');
	
	$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});

	//测试
	$('#renwubianji1').on('click',function(){
		parent.document.getElementById("iframeObj").src = '任务管理-任务实施.html';
	});
	$('#renwubianji2').on('click',function(){
		parent.document.getElementById("iframeObj").src = '任务管理-任务信息.html';
	});
	$('#renwubianji3').on('click',function(){
		parent.document.getElementById("iframeObj").src = '任务管理-快递信息.html';
	});
	
	setqiniu(1);//获取 七牛云上传token
	//uploadToQiniu('touxiangimg1');//定义七牛云上传
	//uploadToQiniu('touxiangimg2');//定义七牛云上传
/* **************************************** setTing ******************************************** */	
	
	loadCheck();//判断编辑还是查看

	
	//判断是编辑还是查看
	function loadCheck(){
	
		if(g.do == 'change'){//修改
			getProject();//获取项目信息
		}else if(g.do == 'new'){//新建
			
		}
	}
	
	//获取稽查模块
	function getjichamokuai(){
		var condi = {};
		//condi.page = g.nowPage;//当前页
		condi.number = 1000;//每页显示行数
		var url = Base.serverUrl + "module/search";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var con = data.content || [];
					var html = '';
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || '';
						var id = d.id || '';
						var code = d.code || '';//编号
						var name = d.name || '';//名称
						var templet = d.templet || '';//模块的模板
						html+='<div class="check_box active"><i class="i"></i>'+name+'</div>';
					}
					$('#audit_module').html(html);
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}

	
	//修改保存项目信息
	function changeOrCreateProject(is){
		var is = is || '';//is 1 修改或保存 2 新建
		var condi = {};
		condi = setInfoCondi(condi,'.content_box1');//传值和校验
		var url = Base.serverUrl + "project1/update";
		if(is == '2'){url = Base.serverUrl + "project1/create"}
		$('#create_new_btn').off();
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var tip = is != '2' ? '保存成功！' : '新建成功！' ;
					Utils.alert(tip);
					if(is == '2'){//新建项目
						setTimeout(function(){
							parent.document.getElementById("iframeObj").src = '项目任务.html';
						},1000);
					}
				}
				else{
					var msg = data.message || "保存失败";
					Utils.alert(msg);
					$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}	
	
	//获取项目信息
	function getProject(){
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "project/edit";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var id = d.id || '';
					$('#sponsor_name').val(d.sponsor_name || '');
					setGetCheckValue('#project_staging',(d.project_staging || ''));//项目分期
					var sop_date = getDate((d.sop_date || ''),'2');
					$('#sop_date').val(sop_date);

				}
				else{
					var msg = data.message || "获取项目信息失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	
	
	
});

</script>
</html>