<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/select2/css/select2.min.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.check_box .i, .check_box2 .i{margin-right:5px;}
		.xiangmujibenxinxi .lable{width:200px;}
		.xiangmuguanli .pro_b{height:15px;line-height:15px;text-align:center;color:#666666;}
	</style>
</head>
<body class="xiangmuguanli renwuguanli xiangmujibenxinxi">

	<h4 class="mokuaifaxian">
		<a id="renwubianji1" class="a active">任务实施</a>
		<a id="renwubianji2" class="a">任务信息</a>
		<a id="renwubianji3" class="a">快递信息</a>
		<!-- <a href="javascript:;" id="backPage" style="display:none;" class="jc_btn type5 last">返回</a> -->
	</h4>
	<div class="renwu_div">
		<div>
			任务状态：<span id="tsktext"></span>
			<li class="pro_b"><i style="width:0%;" id="tskpro" class="pro_w"></i></li>
			<a href="javascript:;" id="abtn_huifu" style="float:none;margin-left:12px;vertical-align:middle;display:none;" class="creat_forse">恢复任务</a>
			<a href="javascript:;" id="abtn_bohui" style="float:none;margin-left:12px;vertical-align:middle;display:none;" class="creat_forse type3">驳回任务</a>
			<a href="javascript:;" id="abtn_zanting" style="float:none;margin-left:12px;vertical-align:middle;display:none;" class="creat_forse type2">暂停任务</a>
			<a href="javascript:;" id="abtn_quxiao" style="float:none;margin-left:12px;vertical-align:middle;display:none;" class="creat_forse type4">取消任务</a>
		</div>
		<div class="bohui_reson" style="display:none;" >驳回原因：<span ></span></div>
	</div>
	<div class="content_box1">
		<div class="module_div mdiv1">
			<div class="con_d"><span class="lable need"><i class="list_xu">1</i></span><i class="x"></i>
			<span class="vert">上传客户签字资料的扫描件</span></div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>
				<div class="head_img_spam">
					<i info="放大图" class="hide_head_imgs"></i>
					<div info="放大图背景" class="head_img_bg"></div>
					<i info="原图" class="head_imgs"></i>
					<div info="上传后提示背景" class="head_img_tips_bg"></div>
					<div info="上传后提示" id="customerSign" class="head_img_tips">重新上传</div>
				</div>
			</div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>经办人：<span class="jingspan"></span>上传时间：<span class="shanchuanspan"></span>
			<a href="javascript:;" style="float:none;margin-left:12px;vertical-align:middle;" class="creat_forse">确认</a></div>
		</div>
		
		<div class="module_div mdiv2">
			<div class="con_d"><span class="lable need"><i class="list_xu">2</i></span><i class="x"></i>
			<span class="vert">上传营业执照</span></div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>
				<div class="head_img_spam">
					<i info="放大图" class="hide_head_imgs"></i>
					<div info="放大图背景" class="head_img_bg"></div>
					<i info="原图" class="head_imgs"></i>
					<div info="上传后提示背景" class="head_img_tips_bg"></div>
					<div info="上传后提示" id="businessLicense" class="head_img_tips">重新上传</div>
				</div>
			</div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>经办人：<span class="jingspan"></span>上传时间：<span class="shanchuanspan"></span>
			<a href="javascript:;" style="float:none;margin-left:12px;vertical-align:middle;" class="creat_forse">确认</a></div>
		</div>
		
		<div class="module_div mdiv3">
			<div class="con_d"><span class="lable need"><i class="list_xu">3</i></span><i class="x"></i>
			<span class="vert">上传刻章照片</span></div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>
				<div class="head_img_spam">
					<i info="放大图" class="hide_head_imgs"></i>
					<div info="放大图背景" class="head_img_bg"></div>
					<i info="原图" class="head_imgs"></i>
					<div info="上传后提示背景" class="head_img_tips_bg"></div>
					<div info="上传后提示" id="sealPic" class="head_img_tips">重新上传</div>
				</div>
			</div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>经办人：<span class="jingspan"></span>上传时间：<span class="shanchuanspan"></span>
			<a href="javascript:;" style="float:none;margin-left:12px;vertical-align:middle;" class="creat_forse">确认</a></div>
		</div>
		
		<div class="module_div mdiv4">
			<div class="con_d"><span class="lable need"><i class="list_xu">4</i></span><i class="x"></i>
			<span class="vert">上传印鉴卡照片</span></div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>
				<div class="head_img_spam">
					<i info="放大图" class="hide_head_imgs"></i>
					<div info="放大图背景" class="head_img_bg"></div>
					<i info="原图" class="head_imgs"></i>
					<div info="上传后提示背景" class="head_img_tips_bg"></div>
					<div info="上传后提示" id="signatureCardPic" class="head_img_tips">重新上传</div>
				</div>
			</div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>银行卡号：<input id="bankCardNum" class="common_input" type="text" /></div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>经办人：<span class="jingspan"></span>上传时间：<span class="shanchuanspan"></span>
			<a href="javascript:;" style="float:none;margin-left:12px;vertical-align:middle;" class="creat_forse">确认</a></div>
		</div>
		
		<div class="module_div mdiv5">
			<div class="con_d"><span class="lable need"><i class="list_xu">5</i></span><i class="x"></i>
			<span class="vert">上传开户许可证，及银行卡口令照片</span></div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>
				<div class="head_img_spam">
					<i info="放大图" class="hide_head_imgs"></i>
					<div info="放大图背景" class="head_img_bg"></div>
					<i info="原图" class="head_imgs"></i>
					<div info="上传后提示背景" class="head_img_tips_bg"></div>
					<div info="上传后提示" id="accountLicencePic" class="head_img_tips">重新上传</div>
				</div>
				<div class="head_img_spam">
					<i info="放大图" class="hide_head_imgs"></i>
					<div info="放大图背景" class="head_img_bg"></div>
					<i info="原图" class="head_imgs"></i>
					<div info="上传后提示背景" class="head_img_tips_bg"></div>
					<div info="上传后提示" id="bankCardPasswordPic" class="head_img_tips">重新上传</div>
				</div>
			</div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>经办人：<span class="jingspan"></span>上传时间：<span class="shanchuanspan"></span>
			<a href="javascript:;" style="float:none;margin-left:12px;vertical-align:middle;" class="creat_forse">确认</a></div>
		</div>
		
		<div class="module_div mdiv6">
			<div class="con_d"><span class="lable need"><i class="list_xu">6</i></span><i class="x"></i>
			<span class="vert">回寄身份证快递单号</span></div>
			<div class="con_d"><span class="lable need"></span><i class="x"></i><span class="common_renwu_span">快递单号：</span>
			<input id="expressNum" class="common_input" type="text" /></div>
			<div class="con_d"><span class="lable need"></span><i class="x"></i>经办人：<span class="jingspan"></span>上传时间：<span class="shanchuanspan"></span>
			<a href="javascript:;" style="float:none;margin-left:12px;vertical-align:middle;" class="creat_forse">确认</a></div>
		</div>
		
		<div class="module_div mdiv7">
			<div class="con_d"><span class="lable need"><i class="list_xu">7</i></span><i class="x"></i>
			<span class="vert">税务办理</span></div>
			<div class="con_d"><span class="lable need"></span><i class="x"></i><span class="common_renwu_span">税务登记时间点：</span><input id="taxRegistration" class="common_input" type="text" /></div>
			<div class="con_d"><span class="lable need"></span><i class="x"></i><span class="common_renwu_span">税务企业类型：</span><select id="companyTaxType" class="common_select">
					<option value="">请选择</option>
					<option value="小规模">小规模</option>
					<option value="一般纳税人">一般纳税人</option>
			</select></div>
			<div class="con_d"><span class="lable need"></span><i class="x"></i><span class="common_renwu_span">分公司是否独立核算：</span><select id="branchCompanyIndependent" class="common_select">
					<option value="">请选择</option>
					<option value="是">是</option>
					<option value="否">否</option>
			</select></div>
			<div class="con_d"><span class="lable need"></span><i class="x"></i><span class="common_renwu_span">财务负责人姓名：</span><input id="financialOfficer" class="common_input" type="text" /></div>
			<div class="con_d"><span class="lable need"></span><i class="x"></i><span class="common_renwu_span">财务负责人身份证号：</span><input id="financialOfficerIDCard" class="common_input" type="text" /></div>
			<div class="con_d"><span class="lable need"></span><i class="x"></i><span class="common_renwu_span">财务负责人手机号：</span><input id="financialOfficerPhone" class="common_input" type="text" /></div>
			<div class="con_d"><span class="lable need"></span><i class="x"></i><span class="common_renwu_span">办税人姓名：</span><input id="taxManName" class="common_input" type="text" /></div>
			<div class="con_d"><span class="lable need"></span><i class="x"></i><span class="common_renwu_span">办税人身份证号：</span><input id="taxManIDCard" class="common_input" type="text" /></div>
			<div class="con_d"><span class="lable need"></span><i class="x"></i><span class="common_renwu_span">办税人手机号：</span><input id="taxManPhone" class="common_input" type="text" /></div>
			<div class="con_d"><span class="lable need"></span><i class="x"></i><span class="common_renwu_span">初次领票情况：</span>
				<table class="fapiaotable">
					<tr><th>发票类型</th><th>面额（万元）</th><th>张数（张）</th></tr>
					<tr>
						<td>普通电子发票</td>
						<td><select id="elecDenomination" class="common_select fapiaojine1"><option value="1">1</option><option value="10">10</option><option value="100">100</option></select></td>
						<td><input id="elecNum" class="common_input fapiaozhangshu1" type="text" /></td>
					</tr>
					<tr>
						<td>普通纸质发票</td>
						<td><select id="paperDenomination" class="common_select fapiaojine2"><option value="1">1</option><option value="10">10</option><option value="100">100</option></select></td>
						<td><input id="paperNum" class="common_input fapiaozhangshu2" type="text" /></td>
					</tr>
					<tr>
						<td>专票纸质发票</td>
						<td><select id="specialDenomination" class="common_select fapiaojine3"><option value="1">1</option><option value="10">10</option><option value="100">100</option></select></td>
						<td><input id="specialNum" class="common_input fapiaozhangshu3" type="text" /></td>
						
					</tr>
				</table>
			</div>
			<div class="con_d"><span class="lable need"></span><i class="x"></i>经办人：<span class="jingspan"></span>上传时间：<span class="shanchuanspan"></span>
			<a href="javascript:;" style="float:none;margin-left:12px;vertical-align:middle;" class="creat_forse">确认</a></div>
		</div>
		
		<div class="module_div mdiv8">
			<div class="con_d"><span class="lable need"><i class="list_xu">8</i></span><i class="x"></i>
			<span class="vert">购买税控盘、发票</span></div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>
				<div class="head_img_spam">
					<i info="放大图" class="hide_head_imgs"></i>
					<div info="放大图背景" class="head_img_bg"></div>
					<i info="原图" class="head_imgs"></i>
					<div info="上传后提示背景" class="head_img_tips_bg"></div>
					<div info="上传后提示" id="taxPanelInvoicePic" class="head_img_tips">重新上传</div>
				</div>
			</div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>发票编号：<input id="invoiceNum" class="common_input" type="text" /></div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>经办人：<span class="jingspan"></span>上传时间：<span class="shanchuanspan"></span>
			<a href="javascript:;" style="float:none;margin-left:12px;vertical-align:middle;" class="creat_forse">确认</a></div>
		</div>
		
		<div class="module_div mdiv9">
			<div class="con_d"><span class="lable need"><i class="list_xu">9</i></span><i class="x"></i>
			<span class="vert">国地税三方协议</span></div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>
				<div class="head_img_spam">
					<i info="放大图" class="hide_head_imgs"></i>
					<div info="放大图背景" class="head_img_bg"></div>
					<i info="原图" class="head_imgs"></i>
					<div info="上传后提示背景" class="head_img_tips_bg"></div>
					<div info="上传后提示" id="threePartyPic1" class="head_img_tips">重新上传</div>
				</div>
				<div class="head_img_spam">
					<i info="放大图" class="hide_head_imgs"></i>
					<div info="放大图背景" class="head_img_bg"></div>
					<i info="原图" class="head_imgs"></i>
					<div info="上传后提示背景" class="head_img_tips_bg"></div>
					<div info="上传后提示" id="threePartyPic2" class="head_img_tips">重新上传</div>
				</div>
			</div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>经办人：<span class="jingspan"></span>上传时间：<span class="shanchuanspan"></span>
			<a href="javascript:;" style="float:none;margin-left:12px;vertical-align:middle;" class="creat_forse">确认</a></div>
		</div>
		
		<div class="module_div mdiv10">
			<div class="con_d"><span class="lable need"><i class="list_xu">10</i></span><i class="x"></i>
			<span class="vert">拍照清单上传及回寄单号</span></div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>
				<div class="head_img_spam">
					<i info="放大图" class="hide_head_imgs"></i>
					<div info="放大图背景" class="head_img_bg"></div>
					<i info="原图" class="head_imgs"></i>
					<div info="上传后提示背景" class="head_img_tips_bg"></div>
					<div info="上传后提示" id="attachment" class="head_img_tips">重新上传</div>
				</div>
			</div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>回寄单号：<input id="returnExpressNum" class="common_input" type="text" /></div>
			<div class="con_d type2"><span class="lable need"></span><i class="x"></i>经办人：<span class="jingspan"></span>上传时间：<span class="shanchuanspan"></span>
			<a href="javascript:;" style="float:none;margin-left:12px;vertical-align:middle;" class="creat_forse">确认</a></div>
		</div>
	</div>

	<!-- 弹窗 -->
	<div info="弹窗背景" class="stip_bg"></div>
	<div info="弹窗容器" class="stip_box">
		<div class="stip_content">
			
			<div class="sbox xiugaizhongxin">
				<h4 class="sbox_h4">驳回原因</h4>
				<div class="sbox_c"><span class="slable">原因</span><i class="star">*</i><textarea id="breson" style="height:35px;" class="sbox_input"></textarea></div>
				<div class="sbox_btn_div">
					<a href="javascript:;" id="noBtn" onclick="closeSbox()" class="sbox_btn btn1">取消</a>
					<a id="yesBtn" href="javascript:;" class="sbox_btn btn2">确认</a>
				</div>
			</div>

		</div>
	</div>
	
	
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/qiniu.min.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("renid") || Utils.offLineStore.get("renid",false);//获取项目id
	g.do = Utils.getQueryString("do") || "";//获取操作 是查看（check）还是修改（change）新建 （new）
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('落地任务管理').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '任务管理.html';
	});
	$('#menu_show_t .s1',parent.document).html(' > 任务基本信息').addClass('active');
	
	
	//测试
	$('#renwubianji1').on('click',function(){
		parent.document.getElementById("iframeObj").src = '任务管理-任务实施.html?id='+g.id;
	});
	$('#renwubianji2').on('click',function(){
		parent.document.getElementById("iframeObj").src = '任务管理-任务信息.html?id='+g.id;
	});
	$('#renwubianji3').on('click',function(){
		parent.document.getElementById("iframeObj").src = '任务管理-快递信息.html?id='+g.id;
	});
	
	
	
/* **************************************** setTing ******************************************** */	
	
	loadCheck();//判断编辑还是查看

	
	//判断是编辑还是查看
	function loadCheck(){
		setTimeout(function(){//等待七牛云加载
			getModule();//获取所有模块
		},500);
		
		getyuanqulist();//获取 园区列表
		getProject();//获取项目信息
		
		uploadToQiniu('customerSign');//定义七牛云上传
		uploadToQiniu('businessLicense');//定义七牛云上传
		uploadToQiniu('sealPic');//定义七牛云上传
		uploadToQiniu('signatureCardPic');//定义七牛云上传
		uploadToQiniu('accountLicencePic');//定义七牛云上传
		uploadToQiniu('bankCardPasswordPic');//定义七牛云上传
		uploadToQiniu('taxPanelInvoicePic');//定义七牛云上传
		uploadToQiniu('threePartyPic1');//定义七牛云上传
		uploadToQiniu('threePartyPic2');//定义七牛云上传
		uploadToQiniu('attachment');//定义七牛云上传
	}
	
	//获取所有模块id
	function getModule(is){
		var is = is || '';
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "landingTask/module/edit";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || {};
					var progress = d.progress || '';
					var status = d.status || '';
					var onPause = d.onPause || '';
					var modules = d.modules || [];
					//分数转百分比
					var str=Number(progress*100).toFixed(1);
					str+="%";
					$('#tsktext').html(status);
					$('#tskpro').html(progress).css('width',str);
					if(status == '开始办理'){
						$('#abtn_huifu,#abtn_bohui,#abtn_zanting,#abtn_quxiao').remove();
					}else if(status == '资料寄出'){
						$('#abtn_huifu').remove();
						$('#abtn_bohui,#abtn_zanting,#abtn_quxiao').show();
					}else if(status == '已驳回'){
						$('#abtn_huifu').show();
						$('#abtn_bohui,#abtn_zanting,#abtn_quxiao').remove();
						$('.bohui_reson').show().find('span').html(onPause);
					}
					$('.content_box1').find('.module_div').each(function(i){
						var n = i + 1;
						var dd = modules[i] || {};
						var id = dd.id || '';
						var title = dd.title || '';
						var agent = dd.agent || '';
						var uploadTime = getDate(dd.uploadTime || '');
						setCondiVal(dd,'.mdiv'+n);//赋值
						$(this).find('.jingspan').html(agent);
						$(this).find('.shanchuanspan').html(uploadTime);
						//定义确认按钮 更新
						if($(this).find('.creat_forse').length > 0 && is == ''){
							$(this).find('.creat_forse').off().on('click',function(){
								var condi = {};
								condi = setInfoCondi(condi,'.mdiv'+n);
								uploadModules(condi,id,title);//修改模块
							});
						}
						
					});
					
					
				}
				else{
					var msg = data.message || "失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	//修改模块
	function uploadModules(condi,moduleid,title){
		var moduleid = moduleid || '';
		var title = title || '';
		var condi = condi || {};
		condi.id = moduleid;
		condi.title = title;
		var url = Base.serverUrl + "landingTask/module/update";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('修改成功！');
					getModule(1);//获取所有模块
				}
				else{
					var msg = data.message || "失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
		
	
	//取消任务
	$('#abtn_quxiao').on('click',function(){
		if(!confirm('确认取消任务吗？')){return false;}
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "landingTask/pause";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('取消成功！');
				}
				else{
					var msg = data.message || "失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	});
	
	//暂停任务
	$('#abtn_zanting').on('click',function(){
		if(!confirm('确认暂停任务吗？')){return false;}
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "landingTask/pause";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('暂停成功！');
				}
				else{
					var msg = data.message || "失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	});
	
	//驳回任务
	$('#abtn_bohui').on('click',function(){
		if(!confirm('确认驳回任务吗？')){return false;}
		showSbox('.xiugaizhongxin');//显示弹窗
		$('#yesBtn').off().on('click',function(){
			var breson = $('#breson').val() || '';
			var condi = {};
			condi.id = g.id;
			condi.reson = breson;
			var url = Base.serverUrl + "landingTask/reject";
			//g.httpTip.show();
			$.ajax({
				url:url,
				data:condi,
				timeout: 30000, //超时时间设置，单位毫秒
				type:"POST",
				xhrFields: {
					withCredentials: true
				},
				crossDomain: true,
				dataType:'json',
				context:this,
				success: function(data){
					var status = data.success || false;
					if(status){
						Utils.alert('驳回成功！');
						closeSbox();//关闭弹窗
						getModule();//获取所有模块
					}
					else{
						var msg = data.message || "失败";
						Utils.alert(msg);
					}
					//g.httpTip.hide();
				},
				error:function(data,status){
					//g.httpTip.hide();
					if(status=='timeout'){
			　　　　　  Utils.alert("超时");
			　　　　}
				}
			});
		});
	});
	
	//恢复任务
	$('#abtn_huifu').on('click',function(){
		if(!confirm('确认恢复任务吗？')){return false;}
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "landingTask/recovery";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('恢复成功！');
				}
				else{
					var msg = data.message || "失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	});
	
	
	$('.kezhangdivc').find('.check_box').on('click',function(){
		setTimeout(function(){
			compareMoney();//计算刻章费用
		},100);
	})
	//计算刻章费用
	function compareMoney(){
		var tmoney = 0;
		$('.kezhangdivc').find('.check_box').each(function(){
			var val = parseInt($(this).attr('val') || '0');
			if($(this).hasClass('active')){tmoney += val;}
		});
		$('#totalzhang').html(tmoney);
	}
	
	//确认寄出
	function jichuabtnFunc(){
		
		if(!confirm('确认寄出吗？')){return false;}
		var expressNum = $('#expressNum').val() || '';
		var expressTime = $('#expressTime').val() || '';
		if(expressNum == ''){Utils.alert('客户快递单号不能为空！');return false;}
		if(expressTime == ''){Utils.alert('快递寄出时间不能为空！');return false;}
		var condi = {};
		condi.id = g.id;
		condi.expressNum = expressNum;
		condi.expressTime = expressTime;
		var url = Base.serverUrl + "landingTask/send/off";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('寄出成功！');
				}
				else{
					var msg = data.message || "失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	
	//获取 园区列表
	function getyuanqulist(){
		var condi = {};
		condi.number = 1000;//每页显示行数
		var url = Base.serverUrl + "park/search";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var data = data.content || [];
					var html = '<option value="">请选择</option>';
					for(var i=0,len=data.length;i<len;i++){
						var d = data[i] || [];
						var id = d.id || '';
						var name = d.name || '';
						html += '<option value="'+name+'">'+name+'</option>';
					}
					$('#parkName').html(html);
				}
				else{
					var msg = data.message || "失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	

	//修改保存项目信息
	function changeOrCreateProject(is){
		var is = is || '';//is 1 修改或保存 2 新建
		var gongzhang = $('#gongzhang').hasClass('active') ? $('#gongzhang').attr('val') || '' : '';
		var farenzhang = $('#farenzhang').hasClass('active') ? $('#farenzhang').attr('val') || '' : '';
		var caiwuzhang = $('#caiwuzhang').hasClass('active') ? $('#caiwuzhang').attr('val') || '' : '';
		var hetongzhang = $('#hetongzhang').hasClass('active') ? $('#hetongzhang').attr('val') || '' : '';
		var fapiaozhang = $('#fapiaozhang').hasClass('active') ? $('#fapiaozhang').attr('val') || '' : '';
		var totalzhang = $('#totalzhang').html() || '';
		var condi = {};
		condi = setInfoCondi(condi,'.content_box1');//传值和校验
		condi.gongzhang = gongzhang;
		condi.farenzhang = farenzhang;
		condi.caiwuzhang = caiwuzhang;
		condi.hetongzhang = hetongzhang;
		condi.fapiaozhang = fapiaozhang;
		condi.totalzhang = totalzhang;
		var url = Base.serverUrl + "landingTask/update";
		if(is == '2'){url = Base.serverUrl + "landingTask/create"}
		$('#create_new_btn').off();
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var tip = is != '2' ? '保存成功！' : '新建成功！' ;
					Utils.alert(tip);
					if(is == '2'){//新建项目
						setTimeout(function(){
							parent.document.getElementById("iframeObj").src = '项目任务.html';
						},1000);
					}
				}
				else{
					var msg = data.message || "保存失败";
					Utils.alert(msg);
					$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}	
	
	//获取项目信息
	function getProject(){
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "landingTask/edit";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					setCondiVal(d,'.content_box1');//给输入框 赋值
					var gongzhang = d.gongzhang || '';
					var farenzhang = d.farenzhang || '';
					var caiwuzhang = d.caiwuzhang || '';
					var hetongzhang = d.hetongzhang || '';
					var fapiaozhang = d.fapiaozhang || '';
					if(gongzhang != ''){$('#gongzhang').addClass('active');}
					if(farenzhang != ''){$('#farenzhang').addClass('active');}
					if(caiwuzhang != ''){$('#caiwuzhang').addClass('active');}
					if(hetongzhang != ''){$('#hetongzhang').addClass('active');}
					if(fapiaozhang != ''){$('#fapiaozhang').addClass('active');}
					
					compareMoney();//计算刻章费用

				}
				else{
					var msg = data.message || "获取项目信息失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	
	
	//加载时间控件
	var timeControl1 = {
	  elem: '#taxRegistration',
	  format: 'YYYY-MM-DD',
	  //min: laydate.now(), //设定最小日期为当前日期
	  max: '2099-06-16', //最大日期
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		 //end.min = datas; //开始日选好后，重置结束日的最小日期
		 //end.start = datas //将结束日的初始值设定为开始日
	  }
	};
	laydate(timeControl1);
	
	
});

</script>
</html>