<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/select2/css/select2.min.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.check_box .i, .check_box2 .i{margin-right:5px;}
		.xiangmujibenxinxi .lable{width:200px;}
	</style>
</head>
<body class="xiangmuguanli xiangmujibenxinxi">

	<h4 class="mokuaifaxian">
		<a id="renwushishibtn" class="a">任务实施</a>
		<a id="renwuxinxibtn" class="a active">任务信息</a>
		<a id="kuaidixinxibtn" class="a">快递信息</a>
		<!-- <a href="javascript:;" id="backPage" style="display:none;" class="jc_btn type5 last">返回</a> -->
	</h4>
	<div class="content_box1">

		<div class="con_d"><span class="lable need">任务名称</span><i class="x">*</i><input id="renwu_name" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">企业类型</span><i class="x">*</i><select id="company_type" class="common_select">
				<option value="">请选择</option>
				<option value="合伙企业">合伙企业</option>
				<option value="有限公司">有限公司</option>
				<option value="个体企业">个体企业</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">园区</span><i class="x">*</i><select id="syuanqu" class="common_select">
				<option value="">请选择</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">注册地址段</span><i class="x">*</i><input id="zhucedizhiduan" placeholder="系统默认带出，可修改，要判重" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">注册资本</span><i class="x">*</i><input id="zhuceziben" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">法人姓名</span><i class="x">*</i><input id="farenxingming" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">法人身份证</span><i class="x">*</i><input id="farenshenfenzheng" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">上传身份证图片</span><i class="x">*</i><div id="touxiangimg" class="head_img_spam"><img class="head_imgs" src="../public/img/art.png"/><img class="hide_head_imgs" src="../public/img/art.png"/></div></div>
		<div class="con_d"><span class="lable need">法人手机号</span><i class="x">*</i><input id="farenphone" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">联系人姓名</span><i class="x">*</i><input id="lianxirenname" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">联系人电话</span><i class="x">*</i><input id="lianxirenphone" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">财务负责人姓名</span><i class="x">*</i><input id="caiwufuzerenname" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">财务负责人身份证</span><i class="x">*</i><input id="caiwufuzerenidcard" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">上传身份证图片</span><i class="x">*</i><div id="touxiangimg" class="head_img_spam"><img class="head_imgs" src="../public/img/art.png"/><img class="hide_head_imgs" src="../public/img/art.png"/></div></div>
		<div class="con_d"><span class="lable need">财务负责人手机号</span><i class="x">*</i><input id="caiwufuzerenphone" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">身份证回寄地址、电话、接收人</span><i class="x">*</i><textarea id="sfdhjr" class="common_textarea"></textarea></div>
		<div id="kezhangxinxi" class="con_d"><span class="lable need">刻章信息</span><i class="x">*</i>
			<div class="check_box active"><i class="i"></i>公章（46）</div>
			<div class="check_box active"><i class="i"></i>法人章（32）</div>
			<div class="check_box"><i class="i"></i>财务章（32）</div>
			<div class="check_box"><i class="i"></i>合同章（32）</div>
			<div class="check_box"><i class="i"></i>发票章（32）</div><span style="color:#D0011B;">刻章费用总计<i>78</i></span>
		</div>
		<div class="con_d"><span class="lable need">发票信息</span><i class="x">*</i>
			<table class="fapiaotable">
				<tr><th>发票类型</th><th>面额（万元）</th><th>张数（张）</th></tr>
				<tr>
					<td>普通电子发票</td>
					<td><select class="common_select fapiaojine1"><option value="1">1</option><option value="10">10</option><option value="100">100</option></select></td>
					<td><input class="common_input fapiaozhangshu1" type="text" /></td>
				</tr>
				<tr>
					<td>普通纸质发票</td>
					<td><select class="common_select fapiaojine2"><option value="1">1</option><option value="10">10</option><option value="100">100</option></select></td>
					<td><input class="common_input fapiaozhangshu2" type="text" /></td>
				</tr>
				<tr>
					<td>专票纸质发票</td>
					<td><select class="common_select fapiaojine3"><option value="1">1</option><option value="10">10</option><option value="100">100</option></select></td>
					<td><input class="common_input fapiaozhangshu3" type="text" /></td>
				</tr>
			</table>
		</div>
		<div class="con_d"><span class="lable need">客户快递单号</span><i class="x">*</i><input id="kehukuaidinumber" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">快递寄出时间</span><i class="x">*</i><input id="kuaidijichutime" class="common_input" type="text" />
		<a href="javascript:;" id="jichuabtn" style="float:none;margin-left:12px;vertical-align:middle;" class="creat_forse">确认寄出</a>
		</div>
		
		<div id="new_create_btn" class="btns_div"><a back='项目管理.html' class="common_abtn goback type1">取消</a><a href="javascript:;" id="create_new_btn" class="common_abtn type2">创建</a></div>
	</div>

	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("id") || "";//获取项目id
	g.do = Utils.getQueryString("do") || "";//获取操作 是查看（check）还是修改（change）新建 （new）
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('项目任务').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '项目任务.html';
	});
	$('#menu_show_t .s1',parent.document).html(' > 任务基本信息').addClass('active');
	
	$('#editBtn').on('click',editStatic);//进入编辑状态
	$('#downloadit').on('click',downloaditFunc);//下载合同模板
	$('#change_ok_btn').on('click',function(){changeOrCreateProject(1)});
	$('.set_cancel').on('click',cancelPro);
	$('.set_reset').on('click',resetPro);
	$('.yiqishow').on('click',yiqiISShow);
	//发布项目
	$('#fabuAbtn').on('click',function(){
		$('.xiangmufabuSbox input,.xiangmufabuSbox textarea').val('').removeClass('readonly').removeAttr('readonly');//清空弹窗
		$('.xiangmufabuSbox select').val('');//清空弹窗
		showSbox('.xiangmufabuSbox');//显示弹窗
		$('#yesBtn').off().on('click',fabuAbtnFunc);
	});
	$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
	getjichamokuai();//获取稽查模块
	getShenBanFang();//加载申办方列表
	
	
/* **************************************** setTing ******************************************** */	
	
	//setSearchRole('.choiseDanwei102','项目经理','li');//给项目经理 选框赋值
	setGetSearchInput('#project_manager_name','.choiseDanwei102');//定义可以搜索下拉的
	setSearchBuMen('.choiseDanwei102','稽查部','li');//给项目成员 选框赋值
	//setSearchRole('#xiangmuzhuli','协同项目经理','option','name');//给协同项目经理 选框赋值
	setSearchBuMen('#xiangmuzhuli','稽查部','option','name');//给项目成员 选框赋值
	//setSearchBuMen('#xiangmuzhuli2','稽查部','option','name');//给项目成员 选框赋值
	//setSearchRole('.choiseDanwei10','协同项目经理','li');//给协同项目经理 选框赋值
	//setGetSearchInput('#xiangmuzhuli','.choiseDanwei10');//定义可以搜索下拉的
	setSearchRole('.choiseDanwei101','商务经理','li');//给商务经理 选框赋值
	setGetSearchInput('#business_manager_name','.choiseDanwei101');//定义可以搜索下拉的
	//setMoreSlide('#xiangmuzhuli','.choiseDanwei10');//定义可以多选
	//定义控件
	$("#xiangmuzhuli").select2({tags: true});
	//$("#xiangmuzhuli2").select2({tags: true});
	loadCheck();//判断编辑还是查看
	is_show('.xiangMu_xiangMuFaBu');
	
	
	//下载合同模板
	function downloaditFunc(){
		var url = Base.serverUrl + 'project/exportContact?id='+g.id;
		window.open(url);
		
	}
	
	//发布项目经理职位 项目发布
	function fabuAbtnFunc(){
		var fabutext = $('#fabutext').val() || '';
		var sjihuakaishitime = $('#sjihuakaishitime').val() || '';
		//if(fabutext == ''){Utils.alert('发布说明不能为空！');return false;}
		var condi = {};
		//condi.page = g.nowPage;//当前页
		condi.projectId = g.id;
		condi.planStart = sjihuakaishitime;
		condi.description = fabutext;
		condi.number = 1000;//每页显示行数
		var url = Base.serverUrl + "publish/task/addProject";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					Utils.alert('发布成功！');
					getProject();//获取项目信息
					closeSbox();
				}
				else{
					var msg = data.message || "发布失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	//获取稽查模块
	function getjichamokuai(){
		var condi = {};
		//condi.page = g.nowPage;//当前页
		condi.number = 1000;//每页显示行数
		var url = Base.serverUrl + "module/search";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var con = data.content || [];
					var html = '';
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || '';
						var id = d.id || '';
						var code = d.code || '';//编号
						var name = d.name || '';//名称
						var templet = d.templet || '';//模块的模板
						html+='<div class="check_box active"><i class="i"></i>'+name+'</div>';
					}
					$('#audit_module').html(html);
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	
	//取消保存按钮
	$('#change_no_btn').on('click',function(){
		g.do = 'check';
		loadCheck();
	});
	//获取受托方信息
	function shoutuofangShow(){
		var condi = {};
		var url = Base.serverUrl + "static/company/info/get";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					g.id = d.id || '';
					$('#agent').val(d.name || '');
					$('#agent_address').val(d.address || '');
					$('#agent_contact').val(d.contact || '');
					$('#agent_phone').val(d.phone || '');
					$('#agent_wechat').val(d.wechat || '');
					$('#agent_weburl').val(d.weburl || '');
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}

	//获取目的范围依据
	function mudifanweiShow(){
		var condi = {};
		var url = Base.serverUrl + "static/target_scope_reference/get";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var content1 = data.target || '';
					var content2 = data.scope || '';
					var content3 = data.reference || '';
					$('#audit_aim').val(content1);
					$('#audit_scope').val(content2);
					$('#audit_reference').val(content3);
					
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}

	//判断是否显示 中心实验室和检测单位
	function yiqiISShow(){
		if($('.yiqishow').hasClass('active')){
			$('#yiqiShow').slideDown();
		}else{
			$('#yiqiShow').slideUp();
		}
	}
	//取消项目
	function cancelPro(){
		if(!confirm('确认取消项目吗？')){return false;}
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "project/cancel";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('取消成功！');
					getProject();//获取项目信息
				}
				else{
					var msg = data.message || "取消失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	//恢复项目
	function resetPro(){
		if(!confirm('确认恢复项目吗？')){return false;}
		//Utils.alert('正在开发中！');return false;
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "project/restore";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('恢复成功！');
					getProject();//获取项目信息
				}
				else{
					var msg = data.message || "恢复失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	//编辑状态
	function editStatic(){
		g.do = 'change';
		loadCheck();
	}
	
	//判断是编辑还是查看
	function loadCheck(){
		if(g.do == 'check'){//查看
			$('input,textarea').attr('readonly',true).addClass('readonly');
			$('select').attr('disabled',true).addClass('readonly');
			$('#change_ok_btn').hide();//修改保存按钮
			$('#change_no_btn').hide();//修改取消按钮
			$('#editBtn').show();//编辑按钮
			//$('.set_cancel').hide();//取消项目按钮
			//$('.set_reset').hide();//恢复项目按钮
			getProject();//获取项目信息
			$('#new_create_btn').remove();
			//定义选择分期 只能单选
			$('.check_box').off();
			$('.xiangmuguanli').off('click','.check_box');
			$('.xiangmuguanli').off('click','#project_staging .check_box');
		}else if(g.do == 'change'){//修改
			$('#editBtn').hide();//编辑按钮
			$('#change_ok_btn').show();//修改保存按钮
			$('#change_no_btn').show();//修改取消按钮
			//$('.set_cancel.active').show();//取消项目按钮
			//$('.set_reset.active').show();//恢复项目按钮
			$('.check_box').each(function(){//复选框
				var _this = $(this) || {};
				_this.off().on('click',function(){
					if(_this.hasClass('active')){_this.removeClass('active');
					}else{_this.addClass('active')}
					//if(_this.hasClass('yiqishow')){yiqiISShow();}
				});
			});
			$('input,textarea').attr('readonly',false).removeClass('readonly');
			$('select').attr('disabled',false).removeClass('readonly');
			$('.readonly1').off().attr('readonly',true).addClass('readonly');
			$('#new_create_btn').remove();
			getProject();//获取项目信息
			//定义选择分期 只能单选
			$('.xiangmuguanli').off('click','#project_staging .check_box').on('click','#project_staging .check_box',function(){
				$(this).addClass('active').siblings('.check_box').removeClass('active');
			});
		}else if(g.do == 'new'){//新建
			$('#new_create_btn').show();
			$('#pronumhide').remove();//项目编号
			$('.new_div_hide').remove();//编辑按钮
			$('#editBtn').remove();
			shoutuofangShow();//获取受托方信息
			//定义选择分期 只能单选
			$('.xiangmuguanli').off('click','#project_staging .check_box').on('click','#project_staging .check_box',function(){
				$(this).addClass('active').siblings('.check_box').removeClass('active');
			});
		}
	}
	
	
	//修改保存项目信息
	function changeOrCreateProject(is){
		var is = is || '';//is 1 修改或保存 2 新建
		var sponsor_name = $('#sponsor_name').val() || '';
		var sponsor_code = $('#sponsor_code').html() || '';
		var sponsor_id = $('#sponsor_name').attr('sid') || '';
		var cro_name = $('#cro_name').val() || '';
		var pro_number = $('#pro_number').val() || '';
		var name = $('#name').val() || '';
		var medicine = $('#medicine').val() || '';
		var shiyantype = $('#shiyantype').val() || '';
		var indication = $('#indication').val() || '';
		var classification = $('#classification').val() || '';
		var audit_type = $('#audit_type').val() || '';
		var project_staging = setGetCheckValue('#project_staging');
		var center_lab = $('#center_lab').val() || '';
		var data_analysis_center = $('#data_analysis_center').val() || '';
		var fanganbianhao_val = $('#fanganbianhao_val').val() || '';
		var data_manager_center = $('#data_manager_center').val() || '';
		//var test_institution = $('#test_institution').val() || '';
		var experimental_program_version = $('#experimental_program_version').val() || '';
		var experimental_program_date = $('#experimental_program_date').val() || '';
		var sop_version = $('#sop_version').val() || '';
		var sop_date = $('#sop_date').val() || '';
		var start_up_letter = $('#start_up_letter').val() || '';
		var agent = $('#agent').val() || '';
		var agent_address = $('#agent_address').val() || '';
		var agent_contact = $('#agent_contact').val() || '';
		var agent_phone = $('#agent_phone').val() || '';
		var agent_wechat = $('#agent_wechat').val() || '';
		var agent_weburl = $('#agent_weburl').val() || '';
		var business_manager_name = $('#business_manager_name').val() || '';
		var project_manager_name = $('#project_manager_name').val() || '';
		var beizhur = $('#beizhur').val() || '';
		//var xiangmuzhuli = $('#xiangmuzhuli option:selected').text() || '';
		var xiangmuzhuli = $('#xiangmuzhuli').val() || '';
		//var xiangmuzhuli2 = $('#xiangmuzhuli2').val() || '';
		var audit_aim = $('#audit_aim').val() || '';
		var audit_scope = $('#audit_scope').val() || '';
		var audit_reference = $('#audit_reference').val() || '';
		var audit_module = setGetCheckValue('#audit_module');
		//遍历找出不允许为空项 为空提示
		var tips = '';
		$('.con_d').each(function(){//循环所有框
			var _t = $(this) || {};
			var _o = _t.find('.x') || [];
			if(tips != ''){return false;}//跳出循环
			if(_t.css('display') == 'none'){return true;}//隐藏的 跳出本次循环
			if(_o.length > 0){
				_o.each(function(){//循环所有必填标志
					var _ti = $(this) || {};
					var _next = _ti.next().val() || '';
					var _prev = _ti.prev().html() || '';
					var tr = _ti.parents('.con_d').find('.check_box').hasClass('active') ? false : true;
					if(_ti.html() != '' && _ti.next().hasClass('check_box') && tr){//复选框 查找是否有active 判断有没有选中的
						tips = _prev;return false;//跳出循环 如果是复选框 查找是否有active 判断有没有选中的
					}
					if(_ti.html() != '' && _next == '' && !_ti.next().hasClass('check_box')){
						tips = _prev;return false;//跳出循环
					}
				});
			}
		});
		var xiangmuzhuli = xiangmuzhuli.length > 0 ? xiangmuzhuli.join(',') : xiangmuzhuli[0] || '';
		//var xiangmuzhuli2 = xiangmuzhuli2.length > 0 ? xiangmuzhuli2.join(',') : xiangmuzhuli2[0] || '';
		
		if(tips != ''){Utils.alert(tips+'不能为空！');return false;}
		var condi = {};
		condi.sponsor_name = sponsor_name;
		condi.sponsor_id = sponsor_id;
		condi.sponsor_code = sponsor_code;
		condi.cro_name = cro_name;
		condi.code = pro_number;
		condi.name = name;
		condi.medicine = medicine;
		condi.experimentalType = shiyantype;
		condi.indication = indication;
		condi.classification = classification;
		condi.audit_type = audit_type;
		condi.project_staging = project_staging;
		condi.center_lab = center_lab;
		condi.data_analysis_center = data_analysis_center;
		condi.plan_code = fanganbianhao_val;
		condi.data_manager_center = data_manager_center;
		//condi.test_institution = test_institution;
		condi.experimental_program_version = experimental_program_version;
		condi.experimental_program_date = experimental_program_date;
		condi.sop_version = sop_version;
		condi.sop_date = sop_date;
		condi.start_up_letter = start_up_letter;
		condi.agent = agent;
		condi.agent_address = agent_address;
		condi.agent_contact = agent_contact;
		condi.agent_phone = agent_phone;
		condi.agent_wechat = agent_wechat;
		condi.agent_weburl = agent_weburl;
		condi.business_manager_name = business_manager_name;
		condi.project_manager_name = project_manager_name;
		condi.project_assist_manager = xiangmuzhuli;//项目助理
		condi.remarks = beizhur;//
		//condi.project_assist_manager2 = xiangmuzhuli2;//项目助理
		if(is != '2'){//保存
		condi.id = g.id;
		condi.audit_aim = audit_aim;
		condi.audit_scope = audit_scope;
		condi.audit_reference = audit_reference;
		condi.audit_module = audit_module;
		}
		var url = Base.serverUrl + "project/update";
		if(is == '2'){url = Base.serverUrl + "project/create"}
		$('#create_new_btn').off();
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var tip = is != '2' ? '保存成功！' : '新建成功！' ;
					Utils.alert(tip);
					if(is == '2'){//新建项目
						setTimeout(function(){
							parent.document.getElementById("iframeObj").src = '项目管理.html';
						},1000);
					}else if(is == '1'){//保存项目
						g.do = 'check';
						loadCheck();
					}
				}
				else{
					var msg = data.message || "保存失败";
					Utils.alert(msg);
					$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}	
	
	//获取项目信息
	function getProject(){
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "project/edit";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var id = d.id || '';
					$('#sponsor_name').val(d.sponsor_name || '');
					$('#sponsor_code').html(d.sponsor_code || '');
					$('#cro_name').val(d.cro_name || '');
					$('#pro_number').val(d.code || '');
					$('#name').val(d.name || '');
					$('#medicine').val(d.medicine || '');
					$('#shiyantype').val(d.experimentalType || '');
					$('#indication').val(d.indication || '');
					$('#classification').val(d.classification || '');
					$('#audit_type').val(d.audit_type || '');
					setGetCheckValue('#project_staging',(d.project_staging || ''));//项目分期
					$('#center_lab').val(d.center_lab || '');
					$('#data_analysis_center').val(d.data_analysis_center || '');
					$('#fanganbianhao_val').val(d.plan_code || '');
					$('#data_manager_center').val(d.data_manager_center || '');
					//$('#test_institution').val(d.test_institution || '');
					$('#experimental_program_version').val(d.experimental_program_version || '');
					var experimental_program_date = getDate((d.experimental_program_date || ''),'2');
					$('#experimental_program_date').val(experimental_program_date);
					$('#sop_version').val(d.sop_version || '');
					var sop_date = getDate((d.sop_date || ''),'2');
					$('#sop_date').val(sop_date);
					$('#start_up_letter').val(d.start_up_letter || '');
					$('#agent').val(d.agent || '');
					$('#agent_address').val(d.agent_address || '');
					$('#agent_contact').val(d.agent_contact || '');
					$('#agent_phone').val(d.agent_phone || '');
					$('#agent_wechat').val(d.agent_wechat || '');
					$('#agent_weburl').val(d.agent_weburl || '');
					$('#business_manager_name').val(d.business_manager_name || '');
					$('#project_manager_name').val(d.project_manager_name || '');
					//判断发布状态
					var puStatus = d.publishStatus || '';//未发布、报名中、已结束
					$('#fabuAbtn,#fabuing,#fabu_down').hide();
					switch(puStatus){
						case '未发布': $('#fabuAbtn').show();$('#project_manager_name').removeAttr('disabled').removeClass('red');break;
						case '报名中': $('#fabuing').show();$('#project_manager_name').val('发布中').attr('disabled','disabled').addClass('red');break;
						case '已结束': $('#fabu_down').show();$('#project_manager_name').removeAttr('disabled').removeClass('red');break;
						default:break;
					}
					
					$('#beizhur').val(d.remarks || '');
					var ddas = d.project_assist_manager || '';
					var xval = ddas.indexOf(',') > -1 ? ddas.split(',') : ddas;//项目助理的值
					//var xval2 = d.project_assist_manager2.split(',') || '';//项目助理的值
					$('#xiangmuzhuli').attr('disabled',false);
					$('#xiangmuzhuli').val(xval);
					setTimeout(function(){$('#xiangmuzhuli').val(xval).select2()},600);
					
					//$('#xiangmuzhuli2').attr('disabled',false);
					//$('#xiangmuzhuli2').val(xval2).select2();
					//console.log(xval);
					if(g.do == 'check'){$('#xiangmuzhuli').attr('disabled',true);}
					//valchoiseDanwei('.choiseDanwei10',xval);//公共方法 给项目助理弹窗赋值
					var audit_aim = d.audit_aim || '';
					var audit_scope = d.audit_scope || '';
					var audit_reference = d.audit_reference || '';
					if(audit_aim == '' && audit_scope == '' && audit_reference == ''){//判断有没有存储数据
						mudifanweiShow();//获取目的范围依据
					}else{
						$('#audit_aim').val(audit_aim);
						$('#audit_scope').val(audit_scope);
						$('#audit_reference').val(audit_reference);
					}
					setGetCheckValue('#audit_module',(d.audit_module || ''));//稽查模块
					var is_used = d.is_used || '';//判断是否 项目取消
					var state = d.state || '';//项目状态
					var usedStatic = is_used == 0 ? '项目已取消' : state;
					$('#state').html(usedStatic);
					//根据状态修改 项目取消按钮和项目恢复按钮
					if(is_used == 0 && g.do == 'change'){	
						$('.set_reset').show();//取消项目按钮
						$('.set_cancel').hide();//恢复项目按钮
					}else if(is_used != 0 && g.do == 'change'){
						$('.set_cancel').show();//取消项目按钮
						$('.set_reset').hide();//恢复项目按钮
					}else{
						$('.set_cancel').hide();//取消项目按钮
						$('.set_reset').hide();//恢复项目按钮
					}
					
					//yiqiISShow();
					//loadCheck();
				}
				else{
					var msg = data.message || "获取项目信息失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	//关闭弹窗
	$(document).click(function(e){
		$('.choiseDanwei').hide();
		stopPropagation(e);
	});
	
	//输入时搜索申办方
	$("#sponsor_name").keyup(function(){
		var _vth = $(this);
		var _li = $('.choiseDanwei4 li');
		var _val = _vth.val() || '';
		if(_val == '' || _li.length <= 0){return false;}
		_li.show();
		_li.each(function(){//循环搜索
			var _tt = $(this);
			var _val2 = _tt.html() || '';
			var _if = _val2.indexOf(_val);
			if(_if <= -1){//不符合
				_tt.hide();
			}else{_tt.show();}
		});
	});
	//选择申办方
	$("#sponsor_name").click(function(e){
		var _is = $(this);
		var xx = _is.offset().left || 0;
        var yy = _is.offset().top || 0;
		var _top = yy + _is.height() -9;
        $('.choiseDanwei4 li').show();
		$('.choiseDanwei').hide();
		$('.choiseDanwei4').show().css({"left":xx,"top":_top});
		$('.choiseDanwei4 li').on('click',function(e){
			var _tis = $(this);
			var _vdan= _tis.html() || '';
			var _vtip= _tis.attr('tip') || '';
			var sid= _tis.attr('sid') || '';
			_is.val(_vdan);
			_is.attr('sid',sid);
			$('#sponsor_code').html(_vtip);
			_tis.parents('.choiseDanwei').hide();
			stopPropagation(e);
		});
		stopPropagation(e);
    });
	//获取申办方列表
	function getShenBanFang(){
		var condi = {};
		condi.number = 1000;//每页显示行数
		var url = Base.serverUrl + "sponsor/search";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var data = data.content || [];
					var html = '';
					for(var i=0,len=data.length;i<len;i++){
						var d = data[i] || [];
						var id = d.id || '';
						var name = d.name || '';
						var code = d.code || '';
						html += '<li sid="'+id+'" tip="'+code+'">'+name+'</li>';
					}
					$('.choiseDanwei4').html(html);
				}
				else{
					var msg = data.message || "登录失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	//加载时间控件
	var timeControl1 = {
	  elem: '#experimental_program_date',
	  format: 'YYYY-MM-DD',
	  //min: laydate.now(), //设定最小日期为当前日期
	  max: '2099-06-16', //最大日期
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		 //end.min = datas; //开始日选好后，重置结束日的最小日期
		 //end.start = datas //将结束日的初始值设定为开始日
	  }
	};
	var timeControl2 = {
	  elem: '#sop_date',
	  format: 'YYYY-MM-DD',
	  //min: laydate.now(), //设定最小日期为当前日期
	  max: '2099-06-16', //最大日期
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		 //end.min = datas; //开始日选好后，重置结束日的最小日期
		 //end.start = datas //将结束日的初始值设定为开始日
	  }
	};
	var timeControl3 = {
	  elem: '#sjihuakaishitime',
	  format: 'YYYY-MM-DD',
	  //min: laydate.now(), //设定最小日期为当前日期
	  max: '2099-06-16', //最大日期
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		 //end.min = datas; //开始日选好后，重置结束日的最小日期
		 //end.start = datas //将结束日的初始值设定为开始日
	  }
	};
	laydate(timeControl1);
	laydate(timeControl2);
	laydate(timeControl3);
	
	
});

</script>
</html>