<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/pagination.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.updownbody .search_table tr:nth-child(2), .updownbody .search_table tr:nth-child(3), .updownbody .search_table tr:nth-child(4){display:table-row;}
		.xiangmuguanli .table1 tr th{}
	</style>
</head>
<body class="xiangmuguanli updownbody">
	
	<div class="btn_div">
		<table class="search_table">
			<tr>
				<td>
					<span class="sear_lable">园区名称</span>
					<input id="yuanquname" class="com_input com_input1" type="text" />
				</td>
				<td>
					<span class="sear_lable">负责人</span>
					<input id="fuzeren" class="com_input com_input2" type="text" />
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
			</tr>
			
		</table>
		<span class="searBtnTd">
			<a id="searchBtn" class="top_btn xiangMu_xiangMuSouSuo">搜索</a>
			<a id="searchAll" class="top_btn type2">清空条件</a>
			<a class="upserBtn up" href="javascript:;" >收起</a>
		</span>
		<div class="sear_line"></div>
	</div>
	<div class="m_info">
		<!-- 项目总数：<span id="totalElements" class="m_value">0</span> -->
		<a class="creat_forse" id="new_project" >新增园区</a>
	</div>
	<div id="tableList" class="table_div">
		<table class="table1">
			<tr>
				<th style="min-width:26px;">编号</th>
				<th style="min-width:52px;">园区名称</th>
				<th style="min-width:39px;">负责人</th>
				<th style="min-width:65px;">入驻企业数</th>
				<th style="min-width:65px;">园区银行数</th>
				<th style="min-width:152px;">操作</th>
			</tr>
			<tr>
				<td>P001</td>
				<td>北方</td>
				<td></td>
				<td></td>
				<td>4</td>
				<td class="last">
					<a class="cao_btn cao_btn1">信息</a>
					<a class="cao_btn cao_btn2">银行</a>
					<a class="cao_btn cao_btn3">删除</a>
				</td>
			</tr>
			<tr>
				<td>P002</td>
				<td>华中</td>
				<td></td>
				<td></td>
				<td>5</td>
				<td class="last">
					<a class="cao_btn cao_btn1">信息</a>
					<a class="cao_btn cao_btn2">银行</a>
					<a class="cao_btn cao_btn3">删除</a>
				</td>
			</tr>
			
		</table>
	</div>
	<div class="pages">
        <div id="Pagination"></div>
        <div style="display:none;"  class="searchPage">
          <span style="display:none;" class="page-sum">共<strong class="allPage">1</strong>页</span>
          <span class="page-sum">
			<select class="com_select pagesShow">
				<option value=10 >10条/页</option>
				<option value=30 >30条/页</option>
				<option value=50 >50条/页</option>
			</select>
		</span>
          <span class="page-go">跳转<input type="text">页</span>
          <a href="javascript:;" class="page-btn gogo">GO</a>
        </div>
    </div>
	
	<div style="display:none;" info="导出table" id="exportExcel"></div>
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	<script type="text/javascript" src="../public/libs/jquery.pagination.js"></script>
	<script type="text/javascript" src="../public/libs/excelTable.js"></script>
	<script type="text/javascript" src="../public/libs/exportjs/FileSaver.js"></script>
	<script type="text/javascript" src="../public/libs/exportjs/jquery.wordexport.js"></script>
	
</body>

<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.ser = Utils.getQueryString("ser") || "";//从工作台获取搜索项
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	//$('#menu_show_t .s0',parent.document).html('项目管理');
	$('#menu_show_t .s0',parent.document).html('项目管理').addClass('active');
	//$('#searchAll').on('click',function(){g.nowPage = 0;tableListShow(2)});
	//$('#searchBtn').on('click',function(){g.nowPage = 0;tableListShow(1)});
	//$('#new_project').on('click',createNewProject);
	loadPage();
	
	//测试
	$('.cao_btn2').on('click',function(){
		parent.document.getElementById("iframeObj").src = '园区银行.html';
	});
/* **************************************** setTing ******************************************** */	

	//加载页面
	function loadPage(){

	}


});

</script>
</html>