<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/select2/css/select2.min.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.check_box .i, .check_box2 .i{margin-right:5px;}
		.xiangmujibenxinxi .lable{width:200px;}
	</style>
</head>
<body class="xiangmuguanli xiangmujibenxinxi">

	<div class="content_box1">

		<div class="con_d"><span class="lable need">园区名称</span><i class="x">*</i><input id="yuanqu_name" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">园区负责人</span><i class="x">*</i><select id="yuanqufuzeren" class="common_select">
				<option value="">请选择</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">园区经办人</span><i class="x"></i><select id="yuanqujingbanren" class="common_select">
				<option value="">请选择</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">启始注册地址段</span><i class="x">*</i><input id="qishizhucedizhiduan" placeholder="系统默认带出，可修改，要判重" class="common_input" type="text" /></div>
		<div id="sfxycacard" class="con_d"><span class="lable need">是否需要CA证书</span><i class="x">*</i>
			<div class="common_radio active" name="fapiaoxin"><i class="i"></i>是</div>
			<div class="common_radio" name="fapiaoxin"><i class="i"></i>否</div>
		</div>
		<div class="con_d"><span class="lable need">CA证书金额</span><i class="x"></i><input id="cazhengshujine" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">税控盘费用</span><i class="x">*</i><input id="shuikongpanfeiyong" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">发票信息</span><i class="x">*</i>
			<table class="fapiaotable">
				<tr>
					<td>增值税比例</td>
					<td><input class="common_input shuifeibili1" type="text" />%</td>
				</tr>
				<tr>
					<td>附加税比例</td>
					<td><input class="common_input shuifeibili2" type="text" />%</td>
				</tr>
				<tr>
					<td>企业所得税核定征收比例</td>
					<td><input class="common_input shuifeibili3" type="text" />%</td>
				</tr>
				<tr>
					<td>生产经营所得税核定征收比例</td>
					<td><input class="common_input shuifeibili4" type="text" />%</td>
				</tr>
				
			</table>
		</div>
		<div class="con_d"><span class="lable need">初次领票情况</span><i class="x">*</i>
			<table class="fapiaotable">
				<tr><th>发票类型</th><th>面额（万元）</th><th>张数（张）</th></tr>
				<tr>
					<td>普通电子发票</td>
					<td><select class="common_select fapiaojine1"><option value="1">1</option><option value="10">10</option><option value="100">100</option></select></td>
					<td><input class="common_input fapiaozhangshu1" type="text" /></td>
				</tr>
				<tr>
					<td>普通纸质发票</td>
					<td><select class="common_select fapiaojine2"><option value="1">1</option><option value="10">10</option><option value="100">100</option></select></td>
					<td><input class="common_input fapiaozhangshu2" type="text" /></td>
				</tr>
				<tr>
					<td>专票纸质发票</td>
					<td><select class="common_select fapiaojine3"><option value="1">1</option><option value="10">10</option><option value="100">100</option></select></td>
					<td><input class="common_input fapiaozhangshu3" type="text" /></td>
				</tr>
			</table>
		</div>
		<div class="con_d"><span class="lable need">增票需要资料</span><i class="x"></i><textarea id="beizhur" class="common_textarea"></textarea></div>
		<div class="con_d"><span class="lable need">公章费用信息</span><i class="x">*</i>
			<table class="fapiaotable">
				<tr>
					<td>公章</td>
					<td><input class="common_input gongzhangfei1" type="text" />元</td>
				</tr>
				<tr>
					<td>法人章</td>
					<td><input class="common_input gongzhangfei2" type="text" />元</td>
				</tr>
				<tr>
					<td>财务章</td>
					<td><input class="common_input gongzhangfei3" type="text" />元</td>
				</tr>
				<tr>
					<td>合同章</td>
					<td><input class="common_input gongzhangfei4" type="text" />元</td>
				</tr>
				<tr>
					<td>发票章</td>
					<td><input class="common_input gongzhangfei5" type="text" />元</td>
				</tr>
			</table>
		</div>
		<div class="con_d"><span class="lable need">办理时间点监控</span><i class="x">*</i>
			<table class="fapiaotable">
				<tr>
					<td>上传营业执照</td>
					<td><input class="common_input banlishijiandian1" type="text" />天</td>
				</tr>
				<tr>
					<td>刻章完成</td>
					<td><input class="common_input banlishijiandian2" type="text" />天</td>
				</tr>
				<tr>
					<td>办理完成</td>
					<td><input class="common_input banlishijiandian3" type="text" />天</td>
				</tr>
			</table>
		</div>
		<div class="con_d"><span class="lable need">园区地址</span><i class="x"></i><input id="yuanqudizhi" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">所属街道</span><i class="x"></i><input id="suoshujiedao" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">所属工商局</span><i class="x"></i><input id="suoshugognshangju" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">国税分局</span><i class="x"></i><input id="guoshuifenju" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">国税专员联系人</span><i class="x"></i><input id="guoshuizhuanyuanlianxiren" class="common_input" type="text" />
		<span class="lable need type2">电话</span><input id="guoshuilianxirendianhua" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">地税分局</span><i class="x"></i><input id="dishuifenju" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">地税专员联系人</span><i class="x"></i><input id="dishuizhuanyuanlianxiren" class="common_input" type="text" />
		<span class="lable need type2">电话</span><input id="dishuizhuanyuanlianxirendianhua" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">小规模企业月报、季报情况</span><i class="x"></i><select id="yuanqujingbanren" class="common_select">
				<option value="">请选择</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">地区税务编号</span><i class="x"></i><input id="diquyuiwubianhao" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">电子税务局网址</span><i class="x"></i><input id="dianzishuiwujuwangzhi" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">国税密码</span><i class="x"></i><input id="guoshuimima" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">地税密码</span><i class="x"></i><input id="dishuimima" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">税控保存地</span><i class="x"></i><input id="shuikongbaocundi" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">子公司名称</span><i class="x"></i><input id="zigognsimingcheng" class="common_input" type="text" />
		<span class="lable need type2">结算公司名称</span><input id="jiesuangognsimingchegn" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">信用代码</span><i class="x"></i><input id="zxinyongdaima" class="common_input" type="text" />
		<span class="lable need type2">信用代码</span><input id="jxinyongdaima" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">开户行</span><i class="x"></i><input id="zkaihuhang" class="common_input" type="text" />
		<span class="lable need type2">开户行</span><input id="jkaihuhang" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">银行账号</span><i class="x"></i><input id="zyinhangzhanghao" class="common_input" type="text" />
		<span class="lable need type2">银行账号</span><input id="jyinhangzhanghao" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">公司电话</span><i class="x"></i><input id="zgognsidianhua" class="common_input" type="text" />
		<span class="lable need type2">公司电话</span><input id="jgognsidianhua" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">公司地址</span><i class="x"></i><input id="zgognsidizhi" class="common_input" type="text" />
		<span class="lable need type2">公司地址</span><input id="jgognsidizhi" class="common_input" type="text" /></div>

		<div id="new_create_btn" class="btns_div"><a back='园区管理.html' class="common_abtn goback type1">取消</a><a href="javascript:;" id="create_new_btn" class="common_abtn type2">创建</a></div>
	</div>

	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("id") || "";//获取项目id
	g.do = Utils.getQueryString("do") || "";//获取操作 是查看（check）还是修改（change）新建 （new）
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('园区管理').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '园区管理.html';
	});
	$('#menu_show_t .s1',parent.document).html(' > 园区基本信息').addClass('active');
	
	$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
	
	setqiniu(1);//获取 七牛云上传token
	//uploadToQiniu('touxiangimg1');//定义七牛云上传
	//uploadToQiniu('touxiangimg2');//定义七牛云上传

	
/* **************************************** setTing ******************************************** */	
	
	loadCheck();//判断编辑还是查看

	
	//判断是编辑还是查看
	function loadCheck(){
	
		if(g.do == 'change'){//修改
			getProject();//获取项目信息
		}else if(g.do == 'new'){//新建
			
		}
	}
	
	//获取稽查模块
	function getjichamokuai(){
		var condi = {};
		//condi.page = g.nowPage;//当前页
		condi.number = 1000;//每页显示行数
		var url = Base.serverUrl + "module/search";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var con = data.content || [];
					var html = '';
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || '';
						var id = d.id || '';
						var code = d.code || '';//编号
						var name = d.name || '';//名称
						var templet = d.templet || '';//模块的模板
						html+='<div class="check_box active"><i class="i"></i>'+name+'</div>';
					}
					$('#audit_module').html(html);
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}

	
	//修改保存项目信息
	function changeOrCreateProject(is){
		var is = is || '';//is 1 修改或保存 2 新建
		var condi = {};
		condi = setInfoCondi(condi,'.content_box1');//传值和校验
		var url = Base.serverUrl + "project1/update";
		if(is == '2'){url = Base.serverUrl + "project1/create"}
		$('#create_new_btn').off();
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var tip = is != '2' ? '保存成功！' : '新建成功！' ;
					Utils.alert(tip);
					if(is == '2'){//新建项目
						setTimeout(function(){
							parent.document.getElementById("iframeObj").src = '项目任务.html';
						},1000);
					}
				}
				else{
					var msg = data.message || "保存失败";
					Utils.alert(msg);
					$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}	
	
	//获取项目信息
	function getProject(){
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "project/edit";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var id = d.id || '';
					$('#sponsor_name').val(d.sponsor_name || '');
					setGetCheckValue('#project_staging',(d.project_staging || ''));//项目分期
					var sop_date = getDate((d.sop_date || ''),'2');
					$('#sop_date').val(sop_date);

				}
				else{
					var msg = data.message || "获取项目信息失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	
	
	
});

</script>
</html>