<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/select2/css/select2.min.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.check_box .i, .check_box2 .i{margin-right:5px;}
		.xiangmujibenxinxi .lable{width:200px;}
	</style>
</head>
<body class="xiangmuguanli xiangmujibenxinxi">

	<h4 class="page_title">客户基本信息
		<!-- <a href="javascript:;" id="editBtn" class="creat_forse">编辑</a>
		<a href="javascript:;" style="display:none;" id="change_ok_btn" class="creat_forse">保存</a>
		<a href="javascript:;" style="display:none;" id="change_no_btn" class="creat_forse type1">取消</a> -->
	</h4>
	<div class="content_box1">

		<div class="con_d"><span class="lable need">所属管家</span><i class="x">*</i><select id="housekeeper" class="common_select">
				<option value="1">请选择</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">客户类型</span><i class="x">*</i><select id="type" class="common_select">
				<option value="1">请选择</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">客户名称</span><i class="x">*</i>
			<input id="name" class="common_input common_inputr readonly1" type="text" />
			<!-- &nbsp;&nbsp;&nbsp;&nbsp;
			联系人：<span>0068</span>&nbsp;&nbsp;&nbsp;&nbsp;
			联系电话：<span>0068</span> -->
		</div>
		<div class="con_d"><span class="lable need">联系人</span><i class="x"></i><input id="contacts" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">电话</span><i class="x"></i><input id="phone" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">证件类型</span><i class="x">*</i><select id="IDType" class="common_select">
				<option value="1">请选择</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">证件号码</span><i class="x"></i><input id="IDNum" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">地址</span><i class="x"></i><input id="address" class="common_input" type="text" /></div>
		<div id="invoiceType" class="con_d"><span class="lable need">发票信息</span><i class="x"></i>
			<div class="common_radio" name="invoiceType"><i class="i"></i>普通发票</div>
			<div class="common_radio" name="invoiceType"><i class="i"></i>增值税发票</div>
		</div>
		<div class="con_d"><span class="lable need">名称</span><i class="x"></i><input id="invoiceName" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">税号</span><i class="x"></i><input id="invoiceTaxPayerId" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">开户银行</span><i class="x"></i><input id="invoiceBank" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">银行账户</span><i class="x"></i><input id="invoiceBankAccount" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">单位地址</span><i class="x"></i><input id="invoiceCompanyAddress" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">电话号码</span><i class="x"></i><input id="invoiceCompanyPhone" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">邮寄地址</span><i class="x"></i><input id="invoiceMailingAddress" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">收件人</span><i class="x"></i><input id="invoiceReceiver" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">电话</span><i class="x"></i><input id="invoiceReceiverPhone" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">备注</span><i class="x">*</i><textarea id="remark" style="height:50px;" class="common_textarea"></textarea></div>
		<div id="new_create_btn" class="btns_div"><a back='客户管理.html' class="common_abtn goback type1">取消</a><a href="javascript:;" id="create_new_btn" class="common_abtn type2">创建</a></div>
	</div>

	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("id") || "";//获取项目id
	g.do = Utils.getQueryString("do") || "";//获取操作 是查看（check）还是修改（change）新建 （new）
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('客户管理').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '客户管理.html';
	});
	$('#menu_show_t .s1',parent.document).html(' > 客户基本信息').addClass('active');
	
	if(g.do == 'change'){$('#create_new_btn').on('click',function(){changeOrCreateProject(1)}).html('保存');}
	else{$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});}
/* **************************************** setTing ******************************************** */	
	
	loadCheck();//判断编辑还是查看

	
	//判断是编辑还是查看
	function loadCheck(){
	
		if(g.do == 'change'){//修改
			getProject();//获取项目信息
		}else if(g.do == 'new'){//新建
			
		}
	}
	
	//获取稽查模块
	function getjichamokuai(){
		var condi = {};
		//condi.page = g.nowPage;//当前页
		condi.number = 1000;//每页显示行数
		var url = Base.serverUrl + "module/search";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var con = data.content || [];
					var html = '';
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || '';
						var id = d.id || '';
						var code = d.code || '';//编号
						var name = d.name || '';//名称
						var templet = d.templet || '';//模块的模板
						html+='<div class="check_box active"><i class="i"></i>'+name+'</div>';
					}
					$('#audit_module').html(html);
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}

	
	//修改保存项目信息
	function changeOrCreateProject(is){
		var is = is || '';//is 1 修改或保存 2 新建
		var condi = {};
		condi.id = g.id;
		condi = setInfoCondi(condi,'.content_box1');//传值和校验
		var url = Base.serverUrl + "customer/update";
		if(is == '2'){url = Base.serverUrl + "customer/create"}
		$('#create_new_btn').off();
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var tip = is != '2' ? '保存成功！' : '新建成功！' ;
					Utils.alert(tip);
					if(is == '2'){//新建项目
						setTimeout(function(){
							parent.document.getElementById("iframeObj").src = '客户管理.html';
						},1000);
					}
				}
				else{
					var msg = data.message || "保存失败";
					Utils.alert(msg);
					$('#create_new_btn').on('click',function(){changeOrCreateProject(is)});
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('#create_new_btn').on('click',function(){changeOrCreateProject(is)});
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}	
	
	//获取项目信息
	function getProject(){
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "customer/edit";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					setCondiVal(d,'.content_box1');//给输入框 赋值

				}
				else{
					var msg = data.message || "获取项目信息失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	
});

</script>
</html>