<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/select2/css/select2.min.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	
</head>
<body class="gongzuotai">
	<div class="gg_content">
		<div class="gg_list_div xiangmuSer">
			<h4 class="gg_title">统计数据</h4>
			<div class="ggmenu ggmenu2">
				<div class="left_pannel">
					<div class="pannel color3"><img class="pannel_img" style="width:34%;" src="../public/img/1.png" /></div>
					<div class="ggul_one ggul_one1 first" sr="项目管理.html"><span class="ggo_span">0</span><span class="ggo_span2">我的项目</span></div>
				</div>
				<div class="left_pannel">
					<div class="pannel color3"><img class="pannel_img" style="width:47%;margin-top:43px;" src="../public/img/5.png" /></div>
					<div class="ggul_one ggul_one2 first" sr="客户管理.html"><span class="ggo_span">0</span><span class="ggo_span2">我的客户</span></div>
				</div>
			</div>
		</div>
		<div style="clear:both;"></div>
		<div class="gg_list_div jichaSer">
			<h4 class="gg_title">任务</h4>
			<div class="ggmenu">
				<div class="left_pannel">
					<div class="pannel color2"><img class="pannel_img" src="../public/img/3.png" /></div>
					<div class="ggul_one ggul_one1 first" ser=""><span class="ggo_span">0</span><span class="ggo_span2">我的任务</span></div>
				</div>
				<ul class="ggul">
					<li class="ggul_one hove ggul_one2" ser="未交接"><span class="ggo_span">0</span><span class="ggo_span2">未交接</span></li>
					<li class="ggul_one hove ggul_one3" ser="资料寄出"><span class="ggo_span">0</span><span class="ggo_span2">资料寄出</span></li>
					<li class="ggul_one hove ggul_one4" ser="开始办理"><span class="ggo_span">0</span><span class="ggo_span2">开始办理</span></li>
					<li class="ggul_one hove ggul_one5" ser="办理完成"><span class="ggo_span">0</span><span class="ggo_span2">办理完成</span></li>
					<li class="ggul_one hove ggul_one6" ser="已回寄"><span class="ggo_span">0</span><span class="ggo_span2">已回寄</span></li>
					<li class="ggul_one hove ggul_one7" ser="暂停中"><span class="ggo_span">0</span><span class="ggo_span2">暂停中</span></li>
					<li class="ggul_one hove ggul_one8" ser="已驳回"><span class="ggo_span">0</span><span class="ggo_span2">已驳回</span></li>
					<li class="ggul_one hove ggul_one9" ser="已取消"><span class="ggo_span">0</span><span class="ggo_span2">已取消</span></li>
				</ul>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	<!-- <script type="text/javascript" src="../public/js/index.js"></script> -->
	
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	//g.task = Utils.getQueryString("task");//
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
	
/* **************************************** lodding ******************************************** */	

	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).html('工作台').addClass('active');
	
	loadPage();
	
/* **************************************** setTing ******************************************** */	

	//加载页面
	function loadPage(){
		//权限判断
		//is_show('.xiangmuSer');
		//is_show('.jichaSer');
		//is_show('.pingshenSer');
		getWorkData();//获取工作台数据
		//$('.jichaSer').remove();
	}
	//获取工作台数据
	function getWorkData(){
		var condi = {};
		
		var url = Base.serverUrl + "workStation/list";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					//项目
					$('.xiangmuSer').find('.ggul_one1 .ggo_span').html(d.Project || 0);
					$('.xiangmuSer').find('.ggul_one2 .ggo_span').html(d.Customer || 0);
					
					//任务
					$('.jichaSer').find('.ggul_one1 .ggo_span').html(d.LandingTask || 0);
					$('.jichaSer').find('.ggul_one2 .ggo_span').html(d['未交接'] || 0);
					$('.jichaSer').find('.ggul_one3 .ggo_span').html(d['资料寄出'] || 0);
					$('.jichaSer').find('.ggul_one4 .ggo_span').html(d['开始办理'] || 0);
					$('.jichaSer').find('.ggul_one5 .ggo_span').html(d['办理完成'] || 0);
					$('.jichaSer').find('.ggul_one6 .ggo_span').html(d['已回寄'] || 0);
					$('.jichaSer').find('.ggul_one7 .ggo_span').html(d['暂停中'] || 0);
					$('.jichaSer').find('.ggul_one8 .ggo_span').html(d['已驳回'] || 0);
					$('.jichaSer').find('.ggul_one9 .ggo_span').html(d['已取消'] || 0);
					
				}
				else{
					var msg = data.message || "获取失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	
	//项目管理 跳转链接
	$('.xiangmuSer').find('.ggul_one').each(function(){
		var _this = $(this) || {};
		_this.click(function(){
			var ser = _this.attr('ser') || '';
			var src = _this.attr('sr') || '';
			ser = encodeURI(encodeURI(ser));
			parent.document.getElementById("iframeObj").src = src+'?ser='+ser;
		});
	});
	//稽查任务 跳转链接
	$('.jichaSer').find('.ggul_one').each(function(){
		var _this = $(this) || {};
		_this.click(function(){
			var ser = _this.attr('ser') || '';
			ser = encodeURI(encodeURI(ser));
			parent.document.getElementById("iframeObj").src = '任务管理.html?ser='+ser;
		});
	});

});

</script>
</html>