<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/libs/kindeditor/themes/default/default.css" />
	<link rel="stylesheet" href="../public/libs/kindeditor/plugins/code/prettify.css" />
	<link rel="stylesheet" href="../public/select2/css/select2.min.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.check_box .i, .check_box2 .i{margin-right:5px;}
		.xiangmujibenxinxi .common_select{width:311px;}
		.common_radio{margin-right:30px;}
	</style>
</head>
<body class="xiangmuguanli xiangmujibenxinxi zhuantiguanli kechengguanli">

	<h4 class="zti_title">
		<a href="javascript:;" back="活动管理-活动设置.html" class="goback ztit_abtn">活动设置</a>
		<a href="javascript:;" back="活动管理-活动简介.html" class="goback ztit_abtn">活动简介</a>
		<a href="javascript:;" back="活动管理-嘉宾介绍.html" class="goback ztit_abtn">嘉宾介绍</a>
		<a href="javascript:;" back="活动管理-活动日程.html" class="goback ztit_abtn active">活动日程</a>
		<a href="javascript:;" back="活动管理-费用说明.html" class="goback ztit_abtn">费用说明</a>
		<a href="javascript:;" back="活动管理-联系我们.html" class="goback ztit_abtn">联系我们</a>
	</h4>
	<div class="content_box1">
		
		<div class="con_d">
			<span class="lable need">活动日程</span>
			<i class="x">*</i>
			<div class="keditdiv">
				<textarea id="editor_id" style="width:776px;height:272px;visibility:hidden;"></textarea>
			</div>
		</div>
		
		<div class="btns_div">
			<a back='活动管理.html' class="common_abtn goback type1">取消</a>
			<a href="javascript:;" id="change_ok_btn" class="common_abtn type2">确定</a>
		</div>
	</div>

	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	<script charset="utf-8" src="../public/libs/kindeditor/kindeditor-all-min.js"></script>
	<script charset="utf-8" src="../public/libs/kindeditor/lang/zh-CN.js"></script>
	<script type="text/javascript" src="../public/select2/js/select2.full.min.js"></script>
	<script type="text/javascript" src="../public/select2/js/i18n/zh-CN.js"></script>
	<!-- <script charset="utf-8" src="../public/libs/kindeditor/plugins/code/prettify.js"></script> -->
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("id") || "";//获取项目id
	g.do = Utils.getQueryString("do") || "";//获取操作 是查看（check）还是修改（change）新建 （new）
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('活动管理').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '活动管理.html';
	});
	$('#menu_show_t .s1',parent.document).html(' > 活动日程').addClass('active');
	
	$('#change_ok_btn').on('click',function(){changeOrCreateProject(1)});
	
	
/* **************************************** setTing ******************************************** */	

	//getProject();//获取项目信息

	//编辑插件---------------------------------------------------
		KindEditor.ready(function(K) {
			g.editor = K.create('#editor_id');
		});
	
	
	
	//编辑插件---------------------------------------------------
	
	//修改保存项目信息
	function changeOrCreateProject(is){
		var is = is || '';//is 1 修改或保存 2 新建
		var sponsor_name = $('#sponsor_name').val() || '';
		var edithtml = g.editor.html() || '';
		console.log(g.editor.html());
		if(sponsor_name == ''){Utils.alert('不能为空！');return false;}
		var condi = {};
		condi.sponsor_name = sponsor_name;
		if(is != '2'){//保存
		condi.id = g.id;
		condi.audit_aim = audit_aim;
		condi.audit_scope = audit_scope;
		condi.audit_reference = audit_reference;
		condi.audit_module = audit_module;
		}
		var url = Base.serverUrl + "project/update";
		if(is == '2'){url = Base.serverUrl + "project/create"}
		$('#create_new_btn').off();
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var tip = is != '2' ? '保存成功！' : '新建成功！' ;
					Utils.alert(tip);
					if(is == '2'){//新建项目
						setTimeout(function(){
							parent.document.getElementById("iframeObj").src = '专题管理.html';
						},1000);
					}
				}
				else{
					var msg = data.message || "保存失败";
					Utils.alert(msg);
					$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}	
	
	//获取项目信息
	function getProject(){
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "project/edit";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var id = d.id || '';
					$('#sponsor_name').val(d.sponsor_name || '');
					
				}
				else{
					var msg = data.message || "获取项目信息失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	
});

</script>
</html>