<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/pagination.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.updownbody .search_table tr:nth-child(2), .updownbody .search_table tr:nth-child(3), .updownbody .search_table tr:nth-child(4){display:table-row;}
	</style>
</head>
<body class="xiangmuguanli kechengguanli ">
	<!-- <h4 class="page_title">角色管理</h4> -->
	<div class="btn_div">
		<table class="search_table">
			<tr>
				<td>
					<span class="sear_lable">姓名/账号</span>
					<input id="nameorcode" class="com_input com_input1" type="text" />
				</td>
				<td>
					<span class="sear_lable">部门</span>
					<select id="bumen" class="com_select com_select2">
						<option value="">请选择</option>
					</select>
				</td>
				<td>
					<span class="sear_lable">专题名称</span>
					<select id="zhuantimingcheng" class="com_select com_select2">
						<option value="">请选择</option>
					</select>
				</td>	
				<td>
					<a id="searchBtn" class="top_btn xiangMu_xiangMuSouSuo">搜索</a>
					<a id="searchAll" class="top_btn type2" >清空条件</a>
				</td>
			</tr>
			<!-- <tr>
				<td>
					<span class="sear_lable">消费金额</span>
					<input id="sshou1" style="width:63px;" placeholder="起（元）" class="com_input com_input1" type="text" /> - 
					<input id="sshou2" style="width:64px;" placeholder="止（元）" class="com_input com_input1" type="text" />
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
				<td class="searBtnTd" style="text-align:center;">
					<a id="searchBtn" class="top_btn xiangMu_xiangMuSouSuo">搜索</a>
					<a id="searchAll" class="top_btn type2" style="margin-right:35px;" >清空条件</a>
				</td>
			</tr> -->
		</table>
		<div class="sear_line"></div>
	</div>
	<div class="m_info">
		<!-- 共<span id="totalElements" class="m_value">0</span>条结果 -->
		<!-- <a class="creat_forse xiangMu_xinJianXiangMu" id="new_project" >新建课程</a> -->
	</div>
	<div id="stableList1" class="table_div">
		<table class="table1">
			<tr>
				<th style="min-width:30px;">姓名</th>
				<th style="min-width:30px;">电话</th>
				<th style="min-width:30px;">部门</th>
				<th style="min-width:75px;">可见专题数</th>
				<th style="min-width:90px;">学习中课程数</th>
				<th style="min-width:75px;">总学习时长</th>
				<!-- <th style="min-width:75px;">参与活动数</th> -->
				<!-- <th style="min-width:105px;">购买课程总金额</th> -->
				<!-- <th style="min-width:105px;">参与活动总金额</th> -->
				<th style="min-width:90px;">操作</th>
			</tr>
			<tr>
				<td>伊丽娜</td>
				<td>12312312312</td>
				<td>稽查部</td>
				<td>4</td>
				<td>5</td>
				<td>14：32：32</td>
				<!-- <td>4</td> -->
				<!-- <td>100</td> -->
				<!-- <td>10000</td> -->
				<td class="last">
					<a class="cao_btn cao_btn1">查看</a>
				</td>
			</tr>
			<tr>
				<td>伊丽娜</td>
				<td>12312312312</td>
				<td>稽查部</td>
				<td>4</td>
				<td>5</td>
				<td>14：32：32</td>
				<!-- <td>4</td> -->
				<!-- <td>100</td> -->
				<!-- <td>10000</td> -->
				<td class="last">
					<a class="cao_btn cao_btn1">查看</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="pages">
        <div id="Pagination"></div>
        <div class="searchPage">
          <span style="display:none;" class="page-sum">共<strong class="allPage">1</strong>页</span>
          <span class="page-sum">
			<select class="com_select pagesShow">
				<option value=10 >10条/页</option>
				<option value=30 >30条/页</option>
				<option value=50 >50条/页</option>
			</select>
		</span>
          <span class="page-go">跳转<input type="text">页</span>
          <a href="javascript:;" class="page-btn gogo">GO</a>
        </div>
    </div>
	
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	<script type="text/javascript" src="../public/libs/jquery.pagination.js"></script>
	
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	//g.id = Utils.getQueryString("id") || "";
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */		
	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).html('信息统计');
	$('#menu_show_t .s1',parent.document).html(' > 用户学习记录').addClass('active');
	$('#newCenter').on('click',shownewCenterSbox);
	tableListShow();//显示列表
	//测试
	$('.cao_btn1,.cao_btn2').on('click',function(){
		parent.document.getElementById("iframeObj").src = '用户学习记录-我的专题.html';
	});
	
/* **************************************** setTing ******************************************** */	

	//设置每页显示多少行
	$('.pagesShow').change(function(){
		var num = $(this).val() || 10;
		g.nowPage = 0;//回到第一页
		g.showPages = num;
		g.loadPage = true;//设置页面加载 配置分页
		tableListShow();//显示列表
	});
	
	$(".gogo").on("click",function(){
    	var allPage = g.totalPage;
    	//console.log(allPage);
      var goPage = $(".page-go input").val() - 1; //跳转页数
      if(goPage > -1 && goPage <= allPage){
		g.nowPage = goPage;
		tableListShow();//显示列表
      }else {
      	Utils.alert('超出范围!');
      }
      //清空用户跳转页数
      //$(".page-go input").val("");
    });

	//初始化弹窗
	function reloadSbox(){
		$('.xiugaizhongxin input').val('');//清空弹窗
		$('.xiugaizhongxin select').val('');//清空弹窗
		$('#noBtn').html('取消');
		$('#yesBtn').off().show();
		$('.xiugaizhongxin input').removeAttr('readonly').removeClass('readonly');//清空
		$('.xiugaizhongxin select').removeAttr('disabled').removeClass('readonly');//清空
	}	
	//显示新建窗口
	function shownewCenterSbox(){
		reloadSbox();//初始化弹窗
		$('.xiugaizhongxin .sbox_h4').html('添加角色');
		showSbox('.xiugaizhongxin');//显示弹窗
		$('#yesBtn').off().on('click',function(){centerFunc('new')});
	}
	//新建
	window.centerFunc = function(is,id){
		var is = is || '';
		var id = id || '';
		//var mokuaibianhao = $('#mokuaibianhao').val() || '';
		var jcode = $('#jcode').val() || '';
		var jname = $('#jname').val() || '';
		if(jcode == ''){Utils.alert('角色编号不能为空！');return false;}
		if(jname == ''){Utils.alert('角色名称不能为空！');return false;}
		$('#yesBtn').off();
		var condi = {};
		condi.page = g.nowPage;//当前页
		condi.number = g.showPages;//每页显示行数
		condi.code = jcode;
		condi.name  = jname;
		var url = Base.serverUrl + "role/add";
		if(is == 'change'){condi.id = id;url = Base.serverUrl + "role/update";}
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var tips = '新增成功！';
					if(is == 'change'){tips = '修改成功！';}
					Utils.alert(tips);
					tableListShow(2);//列表
					closeSbox();//关闭弹窗
				}
				else{
					var msg = data.message || "获取项目信息失败";
					Utils.alert(msg);
					$('#yesBtn').off().on('click',function(){centerFunc('new')});
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	//分页
	function setPages(){
		$("#Pagination").pagination(g.totalPage,{
			callback: PageCallback, 
			 prev_text: '<',             
			 next_text: '>',
			 current_page:g.nowPage
		});
		$('.allPage').html(g.totalPage);
	}
	function PageCallback(index, jq){
		  g.nowPage = index || 0;
		  tableListShow('pa');//列表
	 }
	 
	//列表
	function tableListShow(is){
		var is = is || '';
		var condi = {};
		condi.page = g.nowPage;//当前页
		condi.number = g.showPages;//每页显示行数
		var url = Base.serverUrl + "role/getAll";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					g.totalPage = data.totalPages || 0;//总页数
					var totalElements = data.totalElements || 0;//总共模块数
					$('#totalElements').html(totalElements);
					var html = '';
					html += '<table class="table1">'
						+'<tr>'
							+'<th style="min-width:58px;">角色编号</th>'
							+'<th style="min-width:58px;">角色名称</th>'
							+'<th style="min-width:156px;">操作</th>'
						+'</tr>';
					var con = data.content || [];
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || '';
						var id = d.id || '';
						var code = d.code || '';//编号
						var name = d.name || '';//名称
						html+='<tr>'
							+'<td>'+code+'</td>'
							+'<td>'+name+'</td>'
							+'<td class="last">'
								+ '<a href="javascript:;" onclick="change(\''+id+'\')" class="cao_btn cao_btn1">修改</a>'
								+'<a href="javascript:;" onclick="quanxianFunc(\''+id+'\')" class="cao_btn cao_btn2">权限</a>'
								+'<a href="javascript:;" onclick="deleteIt(\''+id+'\')" class="cao_btn cao_btn3">删除</a>'
							+'</td>'
						+'</tr>';
					}	
					 html+='</table>';
					$('#tableList').html(html);
					//加载分页
					if(g.loadPage){
						setPages();//分页
						if($('#Pagination').html() == ''){//判断是否显示分页跳转等
							$('.pagesShow,.page-go,.gogo').hide();
						}else{
							$('.pagesShow,.page-go,.gogo').show();
						}
						g.loadPage = false;
					}
				}
				else{
					var msg = data.message || "获取信息失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	//删除一项
	window.deleteIt = function(id){
		var id = id || '';
		if(id == ''){Utils.alert('分类id不能为空！');return false;}
		if(!confirm('确认删除吗？')){return false;}
		var condi = {};
		condi.id = id;
		var url = Base.serverUrl + "role/deleteById";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('删除成功！');
					tableListShow(2);//列表
				}
				else{
					var msg = data.message || "删除失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}


});

</script>
</html>