<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.choiseDanwei{margin-top:13px;}
		.erweimaDiv{display:none;position:absolute;left:270px;top:160px;}
		.radio_div{display:inline-block;float:left;vertical-align:top;margin-top:7px;}
		.common_body{padding-bottom:60px;}
		.promabtn{width:auto;}
	</style>
</head>
<body class="common_body xiangmuguanli renwuwarxiangqing">

	<div id="tablelisthtml1">
		<div class="pro_minfo">
			<h4 class="prom_title"><span class="ptt">基本信息</span></h4>
			<div class="to_lable"><span class="clable type3">订单状态</span><span class="ctype3">未支付</span></div>
			<div class="to_lable"><span class="clable">产品ID</span><span>324155134616</span></div>
			<div class="to_lable"><span class="clable">订单用户</span><span>雷凯文</span></div>
			<div class="to_lable"><span class="clable">手机号</span><span>12314324894</span></div>
			<div class="to_lable"><span class="clable">订单时间</span><span>2018/2/21   12:32:22</span></div>
			<div class="to_lable"><span class="clable">订单金额</span><span>3243</span></div>
			<div class="to_lable"><span class="clable">实付金额</span><span>3211</span></div>
			<h4 class="prom_title type2"><span class="ptt">订单信息</span></h4>
			<div class="to_lable"><span class="clable type2">用户1</span></div>
			<div class="to_lable"><span class="clable">姓名</span><span>李现其</span></div>
			<div class="to_lable"><span class="clable">电话</span><span>12321412134</span></div>
			<div class="to_lable"><span class="clable">公司</span><span>北京经纬传奇医药科技有限公司</span></div>
			<div class="to_lable"><span class="clable type2">用户2</span></div>
			<div class="to_lable"><span class="clable">姓名</span><span>李现其</span></div>
			<div class="to_lable"><span class="clable">电话</span><span>12321412134</span></div>
			<div class="to_lable"><span class="clable">公司</span><span>北京经纬传奇医药科技有限公司</span></div>
			<h4 class="prom_title type3"><span class="ptt">发票信息</span></h4>
			<div class="to_lable"><span class="clable">发票信息</span>
				<div name="fapiao" style="margin-right:30px;" class="common_radio"><i class="i"></i>增值税发票</div>
				<div name="fapiao" class="common_radio"><i class="i"></i>普通发票</div>
			</div>
			<div class="to_lable"><span class="clable">名称</span><input class="prom_input fname" type="text" /></div>
			<div class="to_lable"><span class="clable">税号</span><input class="prom_input fshuihao" type="text" /></div>
			<div class="to_lable"><span class="clable">单位地址</span><input class="prom_input fdanwiedizhi" type="text" /></div>
			<div class="to_lable"><span class="clable">电话号码</span><input class="prom_input fdianhuahaoma" type="text" /></div>
			<div class="to_lable"><span class="clable">开户银行</span><input class="prom_input fkaihuyinhang" type="text" /></div>
			<div class="to_lable"><span class="clable">邮寄地址</span><input class="prom_input fyoujidizhi" type="text" /></div>
			<div class="to_lable"><span class="clable">收件人</span><input class="prom_input fshoujianren" type="text" /></div>
			<div class="to_lable"><span class="clable">电话</span><input class="prom_input fdianhua" type="text" /></div>
			<div class="to_lable"><span class="clable type3">物流单号</span><input class="prom_input fwuliudanhao" placeholder="物流单号填写表示发票已经寄出！" type="text" /></div>
		</div>
		<div class="prom_bbtn">
			<a href="javascript:;" class="promabtn type4" >添加物流单号</a>
		</div>
	</div>

	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("aid") || Utils.offLineStore.get("waraid",false);//从任务墙传来 传项目或任务的发布id
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	g.weixinHref = '';//存储微信跳转的登录地址
	
/* **************************************** lodding ******************************************** */		
	//判断权限
	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('订单管理').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '订单管理.html';
	});
	loadPage();
	
	
/* **************************************** setTing ******************************************** */	
	
	
	//加载页面
	function loadPage(){
		getwarEidt();//获取信息
	}

	//获取信息
	function getwarEidt(){
		var condi = {};
		condi.publishTaskId = g.id;
		var url = Base.serverUrl + "publish/task/edit";
		if(g.pa == 1 && g.online != 1){url = Base.serverUrl + "publish/task/editAllowAll";}
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var id = d.id || '';
					var medicine = d.medicine || '';
					var centerName = d.centerName || '';
					var startTime = getDate(d.startTime || '',2);
					var endTime = getDate(d.endTime || '',2);
					var stage = d.stage || '';
					var experimentalType = d.experimentalType || '';
					var indication = d.indication || '';
					var classification = d.classification || '';
					var auditType = d.auditType || '';
					var projectStaging = d.projectStaging || '';
					var description = d.description || '';
					var detailStr = d.detailStr || '';
					var recruitmentStr = d.recruitmentStr || '';
					var enrollStr = d.enrollStr || '';
					var type = d.type || '';//项目发布 任务发布
					var istask = type == '任务发布' ? 1 : 0 ;
					var status = d.status || '';//立即报名、报名中、报名结束、报名失败、已结束
					var imgtype = '';
					switch(status){
						case '已报名' : if(g.do != 'set')imgtype = 'type1';break;
						case '报名中' : imgtype = 'type2';break;
						case '报名成功' : if(g.do != 'set')imgtype = 'type3';break;
						case '报名失败' : if(g.do != 'set')imgtype = 'type4';break;
						default:break;
					}
					
					//报名情况 人员列表
					var applicants = d.applicants || [];
					var user0 = '',jichaz = '',jichay = '',xiangmujl = '';
					for(var i=0,len=applicants.length;i<len;i++){
						var as = applicants[i] || {};
						var userId = as.userId || '';
						var userName = as.userName || '';
						var role = as.role || '';
						if(role == '稽查组长'){jichaz = jichaz == '' ? userName : jichaz+','+userName ;}
						if(role == '稽查员'){jichay = jichay == '' ? userName : jichay+','+userName ;}
						if(role == '项目经理'){xiangmujl = xiangmujl == '' ? userName : xiangmujl+','+userName ;}
					}
					jichaz = jichaz == '' ? '暂无' : jichaz ;
					jichay = jichay == '' ? '暂无' : jichay ;
					xiangmujl = xiangmujl == '' ? '暂无' : xiangmujl ;
					if(istask)user0 +='<div class="to_lable">稽查组长：<span style="color:#000000;">'+jichaz+'</span></div>';
					if(istask)user0 +='<div class="to_lable"><span style="margin-right:13px;color:#666666;">稽查员：</span><span style="color:#000000;">'+jichay+'</span></div>';
					if(!istask)user0 +='<div class="to_lable">项目经理：<span style="color:#000000;">'+xiangmujl+'</span></div>';
					//报名结果 人员列表
					var applicantResults = d.applicantResults || [];
					var users = '',user1 = '',user2 = '',user3 = '';
					var xname = '',xnameall = '';
					for(var i=0,len=applicantResults.length;i<len;i++){
						var as = applicantResults[i] || {};
						var userId = as.userId || '';
						var userName = as.userName || '';
						var role = as.resultRole || '';
						var _n;
						if(role == '稽查组长'){_n = 0;user1 = '11';}
						if(role == '项目经理'){_n = 2;user3 = '11';}
						if(role == '稽查员'){//稽查员最后赋值
							_n = 1;
							//xname.push(userId);
							xname = xname == '' ? userId+'' : xname+','+userId ;
							xnameall = xnameall == '' ? userName+'' : xnameall+','+userName ;
							continue;
						}
						if(g.do != 'set')users +='<div class="to_lable">'+role+'：<span style="color:#000000;">'+userName+'</span></div>';
						if(g.do == 'set')users +='<div class="to_lable">'+role+'：<input tipid="'+userId+'" value="'+userName+'" class="prom_input promeminput'+_n+'" type="text" /></div>';
					}
					//没值的时候 显示
					if(user1 == '' && istask){
						var ithtml1 = g.do != 'set' ? '暂无' : '<input  class="prom_input promeminput0" type="text" />';
						users +='<div class="to_lable">稽查组长：'+ithtml1+'</div>';
					}
					if(user2 == '' && istask){//稽查员 后面赋值
						users +='<div class="to_lable"><span style="margin-right:13px;color:#666666;">稽查员：</span><select multiple class="prom_input promeminput1" ></select></div>';
					}
					if(user3 == '' && !istask){
						var ithtml3 = g.do != 'set' ? '暂无' : '<input  class="prom_input promeminput2" type="text" />';
						users +='<div class="to_lable">项目经理：'+ithtml3+'</div>';
					}
					var detailType = istask ? 'type2' : 'type4';
					var html = '';
							html+='<div class="ewxq_title">'
								+'<div class="to_title">'+medicine+'</div>';
								if(istask)html+='<div class="to_text">稽查地点：<span>'+centerName+'</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>'+stage+'</span></div>';
								if(istask)html+='<div class="to_text">稽查时间：<span>'+startTime+'～'+endTime+'</span></div>';
								html+='<div class="to_text '+detailType+'">'
									+'招募职位：<span>'+recruitmentStr+'</span>'
									+'<br/><br/>已报名：<span>'+enrollStr+'</span>'
									+'<a href="javascript:;" class="weixinhover"></a>'
									+'<div class="erweimaDiv"></div>'
								+'</div>';
								if(imgtype != '')html+='<span class="rinfoimg '+imgtype+'"></span>';
							html+='</div>'
							+'<div class="pro_minfo">'
								+'<h4 class="prom_title">项目情况</h4>'
								+'<div class="to_lable">实验类型：<span>'+experimentalType+'</span></div>'
								+'<div class="to_lable">适应症：<span>'+indication+'</span></div>'
								+'<div class="to_lable">注册分类：<span>'+classification+'</span></div>'
								+'<div class="to_lable">项目类型：<span>'+auditType+'</span></div>'
								+'<div class="to_lable">项目分期：<span>'+projectStaging+'</span></div>'
								+'<div class="to_lable">发布说明：<span>'+description+'</span></div>'
								+'<h4 class="prom_title type2">报名情况</h4>'
								+user0
								html+='<h4 class="prom_title type3">报名结果</h4>'
								+users;
							html+='</div>';
							html+='<div class="prom_bbtn">';
								if(status == '报名中' && g.do != 'set')html+='<a href="javascript:;" onclick="baomingbtn(\''+id+'\','+istask+')" class="promabtn" >立即报名</a>';
								if(status == '已报名' && g.do != 'set')html+='<a href="javascript:;" onclick="cancleApply(\''+id+'\')" class="promabtn type2" >取消报名</a>';
							html+='</div>';
							if((status == '报名中' || status == '已报名' || status == '报名失败') && g.do == 'set')html+='<div class="prom_bbtn">'
								+'<a href="javascript:;" onclick="cancleback()" class="promabtn type3" >取消</a>'
								+'<a href="javascript:;" onclick="changeit(\''+id+'\','+istask+')" class="promabtn type4" >保存</a>'
								+'<a href="javascript:;" onclick="overit(\''+id+'\','+istask+')" class="promabtn type5" >结束</a>'
							+'</div>';
						$('#tablelisthtml').html(html);
						
				}
				else{
					var msg = data.message || "获取失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	//取消按钮
	window.cancleback = function(){
		parent.document.getElementById("iframeObj").src = '任务墙.html';
	}
	
	//设置稽查组长 稽查员 或 项目经理 保存
	window.changeit = function(id,istask){
		var id = id || '';
		var istask = istask || '';//判断是不是任务报名 否则是项目报名
		var promeminput0 = $('.promeminput0').attr('tipid') || '';//稽查组长
		var promeminput00 = $('.promeminput0').val() || '';//稽查组长
		var promeminput1 = $('.promeminput1').val() || '';//稽查员
		var promeminput2 = $('.promeminput2').attr('tipid') || '';//项目经理
		var promeminput22 = $('.promeminput2').val() || '';//项目经理
		//if(baomingzhiwei == ''){Utils.alert('报名职位不能为空！');return false;}
		if(promeminput00 == '')promeminput0 =  '';//清空id
		if(promeminput22 == '')promeminput2 =  '';//清空id
		
		//if(istask == 1 && promeminput0 == ''){Utils.alert('稽查组长不能为空！');return false;}
		//if(istask == 1 && promeminput1 == ''){Utils.alert('稽查员不能为空！');return false;}
		//if(istask == 0 && promeminput2 == ''){Utils.alert('项目经理不能为空！');return false;}
		if(promeminput1 != '')promeminput1 = promeminput1.join(',');
		var condi = {};
		condi.publishTaskId = id;
		condi.projectManager = promeminput2;
		condi.auditLeader = promeminput0;
		condi.auditMembers = promeminput1;
		var url = Base.serverUrl + "publish/task/setResult";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					Utils.alert('保存成功！');
					getwarEidt();//获取信息
				}
				else{
					var msg = data.message || "发布失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}	

	//加载时间控件
	var start = {
	  elem: '#start_time',
	  format: 'YYYY-MM-DD hh:mm:ss',
	  //min: laydate.now(), //设定最小日期为当前日期
	  max: '2099-06-16', //最大日期
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		 //end.min = datas; //开始日选好后，重置结束日的最小日期
		 //end.start = datas //将结束日的初始值设定为开始日
	  }
	};
	var end = {
	  elem: '#end_time',
	  format: 'YYYY-MM-DD hh:mm:ss',
	  //min: laydate.now(),
	  max: '2099-06-16',
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		start.max = datas; //结束日选好后，重置开始日的最大日期
	  }
	};
	laydate(start);
	laydate(end);
	

});

</script>
</html>