<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/pagination.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.updownbody .search_table tr:nth-child(2), .updownbody .search_table tr:nth-child(3), .updownbody .search_table tr:nth-child(4){display:table-row;}
		.xiangmuguanli .table1 tr th{line-height:18px;}
	</style>
</head>
<body class="xiangmuguanli updownbody kechengguanli yonghuguanli ">
	<!-- <h4 class="page_title">角色管理</h4> -->
	<div class="btn_div">
		<table class="search_table">
			<tr>
				<td>
					<span class="sear_lable">课件、活动名称/编号</span>
					<input id="nameorcode" class="com_input com_input1" type="text" />
				</td>
				<td>
					<span class="sear_lable">下单账号</span>
					<input id="xiadanzhanghao" class="com_input com_input1" type="text" />
				</td>
				<td>
					<span class="sear_lable">类型</span>
					<select id="leixing" class="com_select com_select2">
						<option value="">请选择</option>
						<option value="课程">课程</option>
						<option value="活动">活动</option>
					</select>
				</td>
				<td>
					<span class="sear_lable">姓名</span>
					<input id="xingming" class="com_input com_input1" type="text" />
				</td>
			</tr>
			<tr>
				<td>
					<span class="sear_lable">电话</span>
					<input id="dianhua" class="com_input com_input1" type="text" />
				</td>
				<td>
					<span class="sear_lable">订单状态</span>
					<select id="dingdanzhuangtai" class="com_select com_select2">
						<option value="">请选择</option>
						<option value="已付款">已付款</option>
						<option value="已退款">已退款</option>
						<option value="待支付">待支付</option>
					</select>
				</td>
				<td>
					<span class="sear_lable">发票情况</span>
					<select id="fapiaoqingkuang" class="com_select com_select2">
						<option value="">请选择</option>
						<option value="未填写">未填写</option>
						<option value="已填写">已填写</option>
						<option value="已寄出">已寄出</option>
					</select>
				</td>
				<td>
					<span class="sear_lable">支付方式</span>
					<select id="zhifufangshi" class="com_select com_select2">
						<option value="">请选择</option>
						<option value="微信">微信</option>
						<option value="支付宝">支付宝</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<span class="sear_lable">下单时间</span>
					<input class="com_input com_input4" id="start_time"  placeholder="起" type="text" />
				</td>
				<td>
					<span class="sear_lable">下单时间</span>
					<input class="com_input com_input4" id="end_time"  placeholder="止" type="text" />
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
			</tr>
		</table>
		<span class="searBtnTd">
			<a id="searchBtn" class="top_btn xiangMu_xiangMuSouSuo">搜索</a>
			<a id="searchAll" class="top_btn type2">清空条件</a>
			<a class="upserBtn up" href="javascript:;" >收起</a>
		</span>
		<div class="sear_line"></div>
	</div>
	<div class="m_info">
		<!-- 共<span id="totalElements" class="m_value">0</span>条结果 -->
	</div>
	<div id="stableList1" class="table_div">
		<table class="table1">
			<tr>
				<th style="min-width:45px;">订单号</th>
				<th style="min-width:45px;">课程/活动ID</th>
				<th style="min-width:90px;">课程/活动名称</th>
				<th style="min-width:55px;">下单用户</th>
				<th style="min-width:45px;">手机号</th>
				<th style="min-width:55px;">下单时间</th>
				<th style="min-width:30px;">支付方式</th>
				<th style="min-width:35px;">订单金额</th>
				<th style="min-width:35px;">实付金额</th>
				<th style="min-width:55px;">订单状态</th>
				<th style="min-width:55px;">发票情况</th>
				<th style="min-width:90px;">操作人/时间</th>
				<th style="min-width:125px;">操作</th>
			</tr>
			<tr>
				<td>1100032344</td>
				<td>C1000</td>
				<td>知情同意书如何签署</td>
				<td>伊利娜</td>
				<td>12132332413</td>
				<td>2016/7/23 14:23:12</td>
				<td>微信</td>
				<td>90.00</td>
				<td>80.00</td>
				<td>已付款</td>
				<td class>未填写</td>
				<td>侯思佳/2016-7-23  12:32:44</td>
				<td class="last">
					<a class="cao_btn cao_btn1">订单详情</a>
					<a class="cao_btn cao_btn3">退款</a>
				</td>
			</tr>
			<tr>
				<td>201706290003</td>
				<td>活动</td>
				<td>知情同意书如何签署</td>
				<td>稽查培训</td>
				<td>12132332413</td>
				<td>2016/7/23 14:23:12</td>
				<td>微信</td>
				<td>90.00</td>
				<td>80.00</td>
				<td>已退款</td>
				<td>已填写</td>
				<td>侯思佳/2016-7-23  12:32:44</td>
				<td class="last">
					<a class="cao_btn cao_btn1">订单详情</a>
				</td>
			</tr>
			<tr>
				<td>201706290003</td>
				<td>活动</td>
				<td>知情同意书如何签署</td>
				<td>稽查培训</td>
				<td>12132332413</td>
				<td>2016/7/23 14:23:12</td>
				<td>微信</td>
				<td>90.00</td>
				<td>80.00</td>
				<td>待支付</td>
				<td>已寄出</td>
				<td>侯思佳/2016-7-23  12:32:44</td>
				<td class="last">
					<a class="cao_btn cao_btn1">订单详情</a>
					<a class="cao_btn cao_btn2">改价</a>
				</td>
			</tr>
		</table>
	</div>
	<div class="pages">
        <div id="Pagination"></div>
        <div class="searchPage">
          <span style="display:none;" class="page-sum">共<strong class="allPage">1</strong>页</span>
          <span class="page-sum">
			<select class="com_select pagesShow">
				<option value=10 >10条/页</option>
				<option value=30 >30条/页</option>
				<option value=50 >50条/页</option>
			</select>
		</span>
          <span class="page-go">跳转<input type="text">页</span>
          <a href="javascript:;" class="page-btn gogo">GO</a>
        </div>
    </div>
	
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	<script type="text/javascript" src="../public/libs/jquery.pagination.js"></script>
	
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	//g.id = Utils.getQueryString("id") || "";
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */		
	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).html('订单管理');
	$('#menu_show_t .s1',parent.document).html(' > 订单管理').addClass('active');
	$('#searchAll').on('click',function(){g.nowPage = 0;tableListShow(2)});
	$('#searchBtn').on('click',function(){g.nowPage = 0;tableListShow(1)});
	tableListShow(1);//显示列表
	//测试
	$('.cao_btn1,.cao_btn2').on('click',function(){
		parent.document.getElementById("iframeObj").src = '订单管理-订单详情.html';
	});
	
/* **************************************** setTing ******************************************** */	


	 
	//列表
	function tableListShow(is){
		var is = is || '';
		g.nameorcode = $('#nameorcode').val() || '';
		g.xiadanzhanghao = $('#xiadanzhanghao').val() || '';
		g.leixing = $('#leixing').val() || '';
		g.xingming = $('#xingming').val() || '';
		g.dianhua = $('#dianhua').val() || '';
		g.dingdanzhuangtai = $('#dingdanzhuangtai').val() || '';
		g.fapiaoqingkuang = $('#fapiaoqingkuang').val() || '';
		g.zhifufangshi = $('#zhifufangshi').val() || '';
		g.start_time = $('#start_time').val() || '';
		g.end_time = $('#end_time').val() || '';
		var condi = {};
		condi.page = g.nowPage;//当前页
		condi.number = g.showPages;//每页显示行数
		if(is == 1 || is == 'pa'){//搜索条件
			condi.name = g.nameorcode;//
			condi.code = g.xiadanzhanghao;//
			condi.type = g.leixing;//
			condi.userName = g.xingming;//
			condi.userPhone = g.dianhua;//
			condi.status = g.dingdanzhuangtai;//
			condi.invoiceStatus = g.fapiaoqingkuang;//
			condi.payType = g.zhifufangshi;//
			condi.startTime = g.start_time;//
			condi.endTime = g.end_time;//
			g.loadPage = true;//开启分页
		}else if(is == 2){//搜索全部
			$('#nameorcode').val('');
			$('#xiadanzhanghao').val('');
			$('#leixing').val('');
			$('#xingming').val('');
			$('#dianhua').val('');
			$('#dingdanzhuangtai').val('');
			$('#fapiaoqingkuang').val('');
			$('#zhifufangshi').val('');
			$('#start_time').val('');
			$('#end_time').val('');
			//全部的时候 清空搜索项
			g.loadPage = true;//开启分页
		}
		var url = Base.serverUrl + "order/manager/search";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					g.totalPage = data.totalPages || 0;//总页数
					var totalElements = data.totalElements || 0;//总共模块数
					$('#totalElements').html(totalElements);
					var html = '';
					html += '<table class="table1">'
						+'<tr>'
							+'<th style="min-width:45px;">订单号</th>'
							+'<th style="min-width:45px;">课程/活动ID</th>'
							+'<th style="min-width:90px;">课程/活动名称</th>'
							+'<th style="min-width:55px;">下单用户</th>'
							+'<th style="min-width:45px;">手机号</th>'
							+'<th style="min-width:55px;">下单时间</th>'
							+'<th style="min-width:30px;">支付方式</th>'
							+'<th style="min-width:35px;">订单金额</th>'
							+'<th style="min-width:35px;">实付金额</th>'
							+'<th style="min-width:55px;">订单状态</th>'
							+'<th style="min-width:55px;">发票情况</th>'
							+'<th style="min-width:90px;">操作人/时间</th>'
							+'<th style="min-width:125px;">操作</th>'
						+'</tr>';
					var con = data.content || [];
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || '';
						var id = d.id || '';
						var code = d.code || '';//编号
						var name = d.name || '';//名称
						html+='<tr>'
							+'<td>1100032344</td>'
							+'<td>C1000</td>'
							+'<td>知情同意书如何签署</td>'
							+'<td>伊利娜</td>'
							+'<td>12132332413</td>'
							+'<td>2016/7/23 14:23:12</td>'
							+'<td>微信</td>'
							+'<td>90.00</td>'
							+'<td>80.00</td>'
							+'<td>已付款</td>'
							+'<td class>未填写</td>'
							+'<td>侯思佳/2016-7-23  12:32:44</td>'
							+'<td class="last">'
								+ '<a href="javascript:;" onclick="check(\''+id+'\')" class="cao_btn cao_btn1">订单详情</a>'
								+'<a href="javascript:;" onclick="gaijiaFunc(\''+id+'\')" class="cao_btn cao_btn2">改价</a>'
								+'<a href="javascript:;" onclick="tuikuanIt(\''+id+'\')" class="cao_btn cao_btn3">退款</a>'
							+'</td>'
						+'</tr>';
					}	
					 html+='</table>';
					$('#tableList').html(html);
					//加载分页
					if(g.loadPage){
						setPages();//分页
						if($('#Pagination').html() == ''){//判断是否显示分页跳转等
							$('.pagesShow,.page-go,.gogo').hide();
						}else{
							$('.pagesShow,.page-go,.gogo').show();
						}
						g.loadPage = false;
					}
				}
				else{
					var msg = data.message || "获取信息失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	//退款
	window.tuikuanIt = function(id){
		var id = id || '';
		if(id == ''){Utils.alert('id不能为空！');return false;}
		if(!confirm('确认退款吗？')){return false;}
		var condi = {};
		condi.id = id;
		var url = Base.serverUrl + "role/deleteById";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('退款成功！');
					tableListShow(2);//列表
				}
				else{
					var msg = data.message || "失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	//设置每页显示多少行
	$('.pagesShow').change(function(){
		var num = $(this).val() || 10;
		g.nowPage = 0;//回到第一页
		g.showPages = num;
		g.loadPage = true;//设置页面加载 配置分页
		tableListShow();//显示列表
	});
	
	$(".gogo").on("click",function(){
    	var allPage = g.totalPage;
    	//console.log(allPage);
      var goPage = $(".page-go input").val() - 1; //跳转页数
      if(goPage > -1 && goPage <= allPage){
		g.nowPage = goPage;
		tableListShow();//显示列表
      }else {
      	Utils.alert('超出范围!');
      }
      //清空用户跳转页数
      //$(".page-go input").val("");
    });

	//分页
	function setPages(){
		$("#Pagination").pagination(g.totalPage,{
			callback: PageCallback, 
			 prev_text: '<',             
			 next_text: '>',
			 current_page:g.nowPage
		});
		$('.allPage').html(g.totalPage);
	}
	function PageCallback(index, jq){
		  g.nowPage = index || 0;
		  tableListShow('pa');//列表
	 }

});

</script>
</html>