<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.check_box .i, .check_box2 .i{margin-right:5px;}
	</style>
</head>
<body class="xiangmuguanli xiangmujibenxinxi zhuantiguanli kechengguanli">

	<h4 class="zti_title">
		<a href="javascript:;" back="课程管理-基本信息.html" class="goback ztit_abtn">基本信息</a>
		<a href="javascript:;" back="课程管理-内容管理.html" class="goback ztit_abtn active">内容管理</a>
	</h4>
	<div id="tableList1" class="kcgl_list">
		<div class="kcgl_one start">
			<div class="kcgl_li kcgl_li1">课时<span>1</span><i class="kc_line"></i><i class="kc_i"></i></div>
			<div class="kcgl_li kcgl_li2">知情同意书1</div>
			<div class="kcgl_li kcgl_li3"><i class="play_i type1"></i><span>1:20:33</span></div>
			<div class="kcgl_li kcgl_li4"><a href="javascript:;" class="deAbnt"></a></div>
		</div>
		<div class="kcgl_one">
			<div class="kcgl_li kcgl_li1">课时<span>2</span><i class="kc_line"></i><i class="kc_i"></i></div>
			<div class="kcgl_li kcgl_li2">知情同意书2</div>
			<div class="kcgl_li kcgl_li3"><i class="play_i type2"></i><span>1:20:33</span></div>
			<div class="kcgl_li kcgl_li4"><a href="javascript:;" class="deAbnt"></a></div>
		</div>
		<div class="kcgl_one">
			<div class="kcgl_li kcgl_li1">课时<span>3</span><i class="kc_line"></i><i class="kc_i"></i></div>
			<div class="kcgl_li kcgl_li2">知情同意书2</div>
			<div class="kcgl_li kcgl_li3"><i class="play_i type2"></i><span>1:20:33</span></div>
			<div class="kcgl_li kcgl_li4"><a href="javascript:;" class="deAbnt"></a></div>
		</div>
		<div class="kcgl_one end">
			<div class="kcgl_li kcgl_li1">课时<span>4</span><i class="kc_line"></i><i class="kc_i"></i></div>
			<div class="kcgl_li kcgl_li2">
				<a href="javascript:;" id="showuploadbox" class="upkckejian">课件上传</a>
			</div>
		</div>
	</div>

	<!-- 弹窗 -->
	<div info="弹窗背景" class="stip_bg"></div>
	<div info="弹窗容器" class="stip_box">
		<div class="stip_content">
			<!--  -->
			<div style="width:416px;" class="sbox kejianxuanze">
				<h4 class="sbox_h4">课件上传<a href="javascript:;" onclick="closeSbox()" class="close_x"></a></h4>
				<div class="kejian_div">
					<a href="javascript:;" id="skejianku" class="shanchuanbtn">课件库选择</a>
					<a href="javascript:;" id="sbendi" class="shanchuanbtn type2">本地上传课件</a>
				</div>
				<div class="sbox_btn_div">
					<a href="javascript:;" id="noBtn" onclick="closeSbox()" class="sbox_btn btn1">取消</a>
					<a id="yesBtn" href="javascript:;" class="sbox_btn btn2">确认</a>
				</div>
			</div>
			<!--  -->
			<!--  -->
			<div class="sbox kejianshangchuan">
				<h4 class="sbox_h4">本地上传课件<a href="javascript:;" onclick="closeSbox()" class="close_x"></a></h4>
				<div class="sbox_c">
					<span class="slable">课件上传</span><i class="star">*</i>
					<div style="position:relative;">
						<a style="margin-left:25px;font-size:13px;background-color:#59BA73;border:1px solid #59BA73;" href="javascript:;" class="sbox_btn btn2">选择文件</a>
						<form enctype="multipart/form-data" method="post" class="uploadexcelinput" id="fileForm" name="fileForm">
							<input id="orderMaterialFile" name="discovery" class="uploadexcelinput type2" type="file" />
							<input name="taskId" id="taskvalue" type="hidden" />
						</form>	
						<span id="firenamestr"></span>
					</div>
				</div>
				<div class="sbox_c"><span class="slable">类型</span><i class="star"></i><input id="sleixing" class="sbox_input" value="视频" style="border:none;" type="text"/></div>
				<div class="sbox_c"><span class="slable">课件名称</span><i class="star">*</i><input id="skejianmingchegn" class="sbox_input" type="text"/></div>
				<div class="sbox_c"><span class="slable">学习时长</span><i class="star"></i><input id="sxuexishichang" class="sbox_input" value="1:30:32" style="border:none;" type="text"/></div>
				<div class="sbox_c"><span class="slable">讲师</span><i class="star">*</i><select id="sjiangshi"  class="sbox_select"></select></div>
				<div class="sbox_btn_div">
					<a href="javascript:;" id="noBtn2" onclick="closeSbox()" class="sbox_btn btn1">取消</a>
					<a id="yesBtn2" href="javascript:;" class="sbox_btn btn2">确认</a>
				</div>
			</div>
			<!--  -->
			<!--  -->
			<div class="sbox kejiankuchuan">
				<h4 class="sbox_h4">课件库选择<a href="javascript:;" onclick="closeSbox()" class="close_x"></a></h4>
				<div class="sbox_c"><span class="slable">课件名称</span><i class="star">*</i><select id="sskejianku"  class="sbox_select"></select></div>
				<div class="sbox_c"><span class="slable">类型</span><i class="star"></i><input id="ssleixing" class="sbox_input" style="border:none;" type="text"/></div>
				<div class="sbox_c"><span class="slable">学习时长</span><i class="star"></i><input id="ssxuexishichang" class="sbox_input" style="border:none;" type="text"/></div>
				<div class="sbox_c"><span class="slable">讲师</span><i class="star"></i><input id="ssjiangshi" class="sbox_input" style="border:none;" type="text"/></div>
				<div class="sbox_btn_div">
					<a href="javascript:;" id="noBtn3" onclick="closeSbox()" class="sbox_btn btn1">取消</a>
					<a id="yesBtn3" href="javascript:;" class="sbox_btn btn2">确认</a>
				</div>
			</div>
			<!--  -->
		</div>
	</div>
	
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("id") || "";//获取项目id
	g.do = Utils.getQueryString("do") || "";//获取操作 是查看（check）还是修改（change）新建 （new）
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('课程管理').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '课程管理.html';
	});
	$('#menu_show_t .s1',parent.document).html(' > 内容管理').addClass('active');
	$('#showuploadbox').on('click',showuploadboxFunc);//显示选择上传方式弹窗
	$('#skejianku').on('click',skejiankuFunc);//课件库上传按钮
	$('#sbendi').on('click',sbendiFunc);//本地上传按钮
	
	//showSbox('.kejianxuanze');
/* **************************************** setTing ******************************************** */	

	//tableListShow()//获取列表
	
	//课件库上传按钮
	function skejiankuFunc(){
		closeSbox('.kejianxuanze');
		showSbox('.kejiankuchuan');
	}
	
	//本地上传按钮
	function sbendiFunc(){
		closeSbox('.kejianxuanze');
		showSbox('.kejianshangchuan');
	}
	
	//显示选择上传方式弹窗
	function showuploadboxFunc(){
		closeSbox();
		showSbox('.kejianxuanze');
	}
	
	//列表
	function tableListShow(){
		var condi = {};
		condi.page = g.nowPage;//当前页
		condi.number = 1000;//g.showPages;//每页显示行数
		var url = Base.serverUrl + "role/getAll";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					g.totalPage = data.totalPages || 0;//总页数
					var totalElements = data.totalElements || 0;//总共模块数
					//$('#totalElements').html(totalElements);
					var html = '';
					var con = data.content || [];
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || '';
						var id = d.id || '';
						var code = d.code || '';//编号
						var name = d.name || '';//名称
						var sst = '';
						if(i == 0){sst = 'start';}
						if(i == len-1){//判断是最后一个
							html+='<div class="kcgl_one end">'
								+'<div class="kcgl_li kcgl_li1">课时<span>4</span><i class="kc_line"></i><i class="kc_i"></i></div>'
								+'<div class="kcgl_li kcgl_li2">'
									+'<a href="javascript:;" class="upkckejian">课件上传'
										+'<form enctype="multipart/form-data" method="post" id="fileForm" name="fileForm">'
											+'<input id="orderMaterialFile" name="file" class="headUpload in" type="file" />'
										+'</form>'
									+'</a>'
								+'</div>'
							+'</div>';
							continue;
						}
						html+='<div class="kcgl_one '+sst+'">'
							+'<div class="kcgl_li kcgl_li1">课时<span>1</span><i class="kc_line"></i><i class="kc_i"></i></div>'
							+'<div class="kcgl_li kcgl_li2">知情同意书1</div>'
							+'<div onclick="check(\''+id+'\')" class="kcgl_li kcgl_li3"><i class="play_i type1"></i><span>1:20:33</span></div>'
							+'<div class="kcgl_li kcgl_li4"><a href="javascript:;" onclick="deleteIt(\''+id+'\')" class="deAbnt"></a></div>'
						+'</div>';
						
					}	
					$('#tableList').html(html);
					
				}
				else{
					var msg = data.message || "获取失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	//查看
	window.check = function(id){
		var id = id || '';
		if(id == ''){Utils.alert('id不能为空！');return false;}
		
	}
	//删除一项
	window.deleteIt = function(id){
		var id = id || '';
		if(id == ''){Utils.alert('id不能为空！');return false;}
		if(!confirm('确认删除吗？')){return false;}
		var condi = {};
		condi.id = id;
		var url = Base.serverUrl + "role/deleteById";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('删除成功！');
					tableListShow(2);//列表
				}
				else{
					var msg = data.message || "删除失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	
});

</script>
</html>