<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/libs/kindeditor/themes/default/default.css" />
	<link rel="stylesheet" href="../public/libs/kindeditor/plugins/code/prettify.css" />
	<link rel="stylesheet" href="../public/select2/css/select2.min.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.check_box .i, .check_box2 .i{margin-right:5px;}
		.xiangmujibenxinxi .common_select{width:311px;}
		.common_radio{margin-right:30px;}
	</style>
</head>
<body class="xiangmuguanli xiangmujibenxinxi zhuantiguanli kechengguanli">

	<h4 class="zti_title">
		<a href="javascript:;" back="课程管理-基本信息.html" class="goback ztit_abtn active">基本信息</a>
		<a href="javascript:;" back="课程管理-内容管理.html" id="hideitid" class="goback ztit_abtn">内容管理</a>
	</h4>
	<div class="content_box1">
		<div class="con_d">
			<span class="lable need">课程名称</span><i class="x">*</i>
			<input id="kechengname" style="width:620px;" class="common_input" type="text" />
		</div>
		<div class="con_d">
			<span class="lable need">主讲老师</span><i class="x">*</i>
			<select id="zhujiangteacher" multiple class="common_select">
				<option value="">加载失败</option>
			</select>（可多选）
		</div>
		<div class="con_d">
			<span class="lable need">课程分类</span><i class="x">*</i>
			<select id="yijifenlei" class="common_select">
				<option value="">选择一级分类</option>
			</select>
			<select id="erjifenlei" class="common_select">
				<option value="">选择二级分类</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">可见专题</span><i class="x"></i>
			<div class="zhuantikejian_div">
				<span class="zhaunti_span active">经纬课堂<i class="zhuanti_i"></i></span>
				<span class="zhaunti_span active">内部培训<i class="zhuanti_i"></i></span>
				<span class="zhaunti_span">武汉健民<i class="zhuanti_i"></i></span>
			</div>
			
		</div>
		<div class="con_d">
			<span class="lable need">课程封面</span>
			<i class="x">*</i>
			<ul class="ztpage_ul">
				<li class="atp_li" asrc="../public/img/f1.jpg" style="background:url('../public/img/f1.jpg') no-repeat center center;background-size:cover;" ><a class="fengdelAbnt" href="javascript:;"></a></li>
				<li class="atp_li" asrc="../public/img/f1.jpg" style="background:url('../public/img/f1.jpg') no-repeat center center;background-size:cover;" ><a class="fengdelAbnt" href="javascript:;"></a></li>
				<li class="atp_li" id="lastatp" style="border: 1px solid #DDDEE1;background:url('../public/img/add1.png') no-repeat center center;background-size:45px 45px;" >
					<!-- <form enctype="multipart/form-data" method="post" id="fileForm" name="fileForm">
						<input id="orderMaterialFile" name="file" class="headUpload in" type="file" />
					</form> -->
				</li>
			</ul>
		</div>
		<div class="con_d">
			<span class="lable need">课程售价</span><i class="x"></i>
			<input id="kechengprice" style="width:620px;" class="common_input" type="text" />
		</div>
		<div class="con_d">
			<span class="lable need">上下架状态</span><i class="x">*</i>
			<a href="javascript:;" id="shangxiastatic" class="udsta active"></a>
		</div>
		<div class="con_d">
			<span class="lable need">课程简介</span>
			<i class="x">*</i>
			<div class="keditdiv">
				<textarea id="editor_id" style="width:776px;height:272px;visibility:hidden;"></textarea>
			</div>
		</div>
		
		<div class="btns_div">
			<a back='专题管理.html' class="common_abtn goback type1">取消</a>
			<a href="javascript:;" id="change_ok_btn" class="common_abtn type2">确定</a>
		</div>
	</div>

	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/libs/qiniu.min.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	<script charset="utf-8" src="../public/libs/kindeditor/kindeditor-all-min.js"></script>
	<script charset="utf-8" src="../public/libs/kindeditor/lang/zh-CN.js"></script>
	<script type="text/javascript" src="../public/select2/js/select2.full.min.js"></script>
	<script type="text/javascript" src="../public/select2/js/i18n/zh-CN.js"></script>
	<!-- <script charset="utf-8" src="../public/libs/kindeditor/plugins/code/prettify.js"></script> -->
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("kechengid") || "";//获取课程id 从课程管理 传来
	g.do = Utils.getQueryString("kechengdo") || "";//获取操作 是查看（check）还是修改（change）新建 new
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	g.urls = '';//课程封面 URL列表
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('课程管理').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '课程管理.html';
	});
	$('#menu_show_t .s1',parent.document).html(' > 基本信息').addClass('active');
	
	$('#change_ok_btn').on('click',function(){changeOrCreateProject(1)});
	$('#shangxiastatic').on('click',function(){$(this).toggleClass('active');});//改变上下架 状态
	//删除一个封面
	$('.ztpage_ul').on('click','.fengdelAbnt',function(){
		$(this).parents('.atp_li').remove();
	});
	loadPage();//页面加载
	
/* **************************************** setTing ******************************************** */	
	
	//页面加载
	function loadPage(){
		
		if(g.do == 'new'){
			$('#hideitid').remove();
			$('.zhuantikejian_div').html('暂无');
			
		}else if(g.do == 'check'){
			getProject();//获取项目信息
			
		}else if(g.do == 'change'){
			getProject();//获取项目信息
		}
		getjiangshis();//获取讲师列表
		setyijifenlei();//填充一级分类

	}

	//编辑插件---------------------------------------------------
		KindEditor.ready(function(K) {
			g.editor = K.create('#editor_id');
		});
	//编辑插件---------------------------------------------------
	
	
	/* 上传封面 */
	uploadToQiniu('lastatp',1);//定义七牛云上传
	uploader.bind('FileUploaded', function(up, file, info) {
		var ty = file.type;
		if(ty.indexOf('image') <= -1){Utils.alert("请上传图片文件");return false;}
		var domain = up.getOption('domain');
		var res = JSON.parse(info.response);
		var sourceLink = domain +"/"+ res.key; //获取上传成功后的文件的Url
		var html = '<li class="atp_li" asrc="'+sourceLink+'" style="background:url('+sourceLink+') no-repeat center center;background-size:cover;" ><a class="fengdelAbnt" href="javascript:;"></a></li>';
		$('#lastatp').before(html);
	});
	
	
	$(".xiangmuguanli").on('change','#orderMaterialFile',function(){
		var orderMaterialFile = $("#orderMaterialFile").val() || "";
		if(orderMaterialFile != ""){
			uploadImage();
		}
	});
	//上传form 提交
	function uploadImage(){
		 var form = $("#fileForm"); 
		 var options = { 
			url: Base.serverUrl + "user/uploadUserIcon",
			xhrFields: { withCredentials: true }, 
			crossDomain: true, 
			dataType: 'json', 
			success: function(data) { 
				//alert("success： " + JSON.stringify(data));
				var src = data.result || [];
				var html = '<li class="atp_li" asrc="'+src+'" style="background:url('+src+') no-repeat center center;background-size:cover;" ><a class="fengdelAbnt" href="javascript:;"></a></li>';
				$('#lastatp').before();
			}, 
			error: function(err) {
				Utils.alert("图片上传失败");
			} 
		 }; 
		 form.ajaxSubmit(options); 
	 } 
	
	
	
	//填充一级分类
	function setyijifenlei(){
		var condi = {};
		condi.number = 1000;
		var url = Base.serverUrl + "category/searchAll";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var con = data;
					var html = '<option value="">选择一级分类</option>';
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || '';
						var id = d.id || '';
						var level = d.level || '';
						var name = d.name || '';//名称
						if(level == '2'){continue;}//所属上级排除按钮
						html+='<option onclick="geter(\''+id+'\')" value="'+id+'">'+name+'</option>';
					}	
					$('#yijifenlei').html(html);
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	//根据选择的一级分类 填充二级分类
	window.geter = function(id){
		var id = id || '';
		var condi = {};
		condi.topCategoryId = id;
		condi.number = 1000;
		var url = Base.serverUrl + "category/getSubCategoriesByPid";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var con = data;
					var html = '<option value="">选择二级分类</option>';
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || '';
						var id = d.id || '';
						var level = d.level || '';
						var name = d.name || '';//名称
						if(level == '1'){continue;}//所属上级排除按钮
						html+='<option  value="'+id+'">'+name+'</option>';
					}	
					$('#erjifenlei').html(html);
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	
	
	//获取 讲师列表
	function getjiangshis(){
		var condi = {};
		condi.number = 1000;//每页显示行数
		var url = Base.serverUrl + "teacher/search";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var con = data.content || [];
					var html1 = '';
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || {};
						var id = d.id || '';
						var name = d.name || '';//名称
						html1+='<option value="'+id+'">'+name+'</option>';
					}
					$('#zhujiangteacher').html(html1);
					$("#zhujiangteacher").select2({tags: true});//定义多选控件
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}


	
	//获取专题信息
	function getProject(){
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "course/edit";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var id = d.id || '';
					
					$('#zhuantiname').val(d.zhuanti || '');
					g.editor.html(d.zhuanti || '');
					//加载封面列表
					var jsonfeng = d.json || [];
					var imglist = '';
					for(var i=0,len=jsonfeng.length;i<len;i++){
						var dd = jsonfeng[i] || {};
						var id = dd.id || '';
						var src = dd.src || '';
						imglist+='<li class="atp_li added" asrc="'+src+'" style="background:url('+src+') no-repeat center center;background-size:cover;" ></li>';
					}
					imglist+='<li class="atp_li" style="border: 1px solid #DDDEE1;background:url(../public/img/add1.png) no-repeat center center;background-size:45px 45px;" >'
								+'<form enctype="multipart/form-data" method="post" id="fileForm" name="fileForm">'
									+'<input id="orderMaterialFile" name="file" class="headUpload in" type="file" />'
								+'</form>'
							+'</li>';
					$('#zhuantifengmain').html(imglist);
				}
				else{
					var msg = data.message || "获取失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	//修改保存项目信息
	function changeOrCreateProject(is){
		var kechengname = $('#kechengname').val() || '';
		var zhujiangteacher = $('#zhujiangteacher').val() || '';
		var yijifenlei = $('#yijifenlei').val() || '';
		var erjifenlei = $('#erjifenlei').val() || '';
		var kechengprice = $('#kechengprice').val() || '';
		var shangxiastatic = $('#shangxiastatic').hasClass('active') ? '上架' : '下架' ;
		var edithtml = g.editor.html() || '';
		//获取专题封面 src列表
		var srcarray = '';
		$('.ztpage_ul').find('.atp_li').each(function(){
			var asrc = $(this).attr('asrc') || '';
			if(asrc == ''){return true;}
			srcarray = srcarray == '' ? asrc : srcarray + ',' + asrc;
		});
		if(kechengname == ''){Utils.alert('课程名称不能为空！');return false;}
		if(zhujiangteacher == ''){Utils.alert('主讲老师不能为空！');return false;}
		if(yijifenlei == ''){Utils.alert('一级分类不能为空！');return false;}
		if(erjifenlei == ''){Utils.alert('二级分类不能为空！');return false;}
		if(srcarray == ''){Utils.alert('课程封面不能为空！');return false;}
		if(zhujiangteacher.length > 0){zhujiangteacher = zhujiangteacher.join(',');}
		var condi = {};
		condi.name = kechengname;
		condi.teacherIds = zhujiangteacher;
		condi.topCategory = yijifenlei;
		condi.subCategory = erjifenlei;
		condi.covers = srcarray;
		condi.status = shangxiastatic;
		condi.originalPrice = kechengprice;
		condi.abs = edithtml;
		var url = Base.serverUrl + "course/create";
		if(g.do == 'change'){condi.courseId = g.id;url = Base.serverUrl + "course/update";}
		$('#create_new_btn').off();
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var tip = g.do == 'change' ? '保存成功！' : '新建成功！' ;
					Utils.alert(tip);
					if(g.do != 'check'){//新建项目
						setTimeout(function(){
							parent.document.getElementById("iframeObj").src = '课程管理.html';
						},1000);
					}
				}
				else{
					var msg = data.message || "保存失败";
					Utils.alert(msg);
					$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}	

	
});

</script>
</html>