<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/select2/css/select2.min.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.check_box .i, .check_box2 .i{margin-right:5px;}
		.xiangmujibenxinxi .lable{width:200px;}
	</style>
</head>
<body class="xiangmuguanli xiangmujibenxinxi">
	<!-- 客户名称 -->
	<ul style="width:356px;" class="choiseDanwei choiseDanwei4">
		<li>加载失败</li>
	</ul>
	<!-- 管家列表 -->
	<ul style="width:356px;" class="choiseDanwei choiseDanwei5">
		<li>加载失败</li>
	</ul>
	<h4 class="page_title">项目基本信息
		<a href="javascript:;" id="editBtn" class="creat_forse">编辑</a>
		<a href="javascript:;" style="display:none;" id="change_ok_btn" class="creat_forse">保存</a>
		<a href="javascript:;" style="display:none;" id="change_no_btn" class="creat_forse type1">取消</a>
	</h4>
	<div class="content_box1">

		<div class="con_d"><span class="lable need">项目编号</span><i class="x">*</i><input id="code" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">合同类型</span><i class="x">*</i><select id="contractType" class="common_select">
				<option value="">请选择</option>
				<option value="咨询合同">咨询合同</option>
				<option value="办理合同">办理合同</option>
				<option value="入驻合同">入驻合同</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">客户名称</span><i class="x">*</i>
			<input id="customerName" class="common_input common_inputr readonly1" type="text" />&nbsp;&nbsp;&nbsp;&nbsp;
			联系人：<span id="lianxiren"></span>&nbsp;&nbsp;&nbsp;&nbsp;
			联系电话：<span id="dianhua"></span>
		</div>
		<div class="con_d"><span class="lable need">所属管家</span><i class="x">*</i><input id="housekeeper" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">合同金额</span><i class="x"></i><input id="contractAmount" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">开票金额</span><i class="x"></i><input id="invoiceAmount" class="common_input" placeholder="（开票后填写，填写后发票状态为已开票）" type="text" /></div>
		<div class="con_d"><span class="lable need">品目</span><i class="x">*</i><select id="itemType" class="common_select">
				<option value="">请选择</option>
				<option value="信息技术服务-技术服务、信息服务">信息技术服务-技术服务、信息服务</option>
				<option value="商务辅助服务-企业管理服务">商务辅助服务-企业管理服务</option>
				<option value="其他现代服务--咨询服务费、网络服务费">其他现代服务--咨询服务费、网络服务费</option>
				<option value="鉴证咨询服务--咨询服务">鉴证咨询服务--咨询服务</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">备注</span><i class="x"></i><textarea id="invoiceRemark" class="common_textarea"></textarea></div>
		<div id="invoiceInfo" name="invoiceInfo" class="con_d con2"><span class="lable need">发票信息</span><i class="x"></i>
			<div val="普通发票" class="common_radio putongradio active" name="invoiceInfo"><i class="i"></i>普通发票</div>
			<div val="增值税专用发票" class="common_radio zengzhiradio" name="invoiceInfo"><i class="i"></i>增值税专用发票</div>
		</div>
		<div class="con_d con2"><span class="lable need">开票名称</span><i class="x"></i><input id="invoiceName" class="common_input" type="text" /></div>
		<div class="con_d con2"><span class="lable need">税号</span><i class="x"></i><input id="invoiceTaxPayerId" class="common_input" type="text" /></div>
		<div class="con_d con2 pu_hide"><span class="lable need">开户银行</span><i class="x"></i><input id="invoiceBank" class="common_input" type="text" /></div>
		<div class="con_d con2 pu_hide"><span class="lable need">银行账户</span><i class="x"></i><input id="invoiceBankAccount" class="common_input" type="text" /></div>
		<div class="con_d con2 pu_hide"><span class="lable need">单位地址</span><i class="x"></i><input id="invoiceCompanyAddress" class="common_input" type="text" /></div>
		<div class="con_d con2 pu_hide"><span class="lable need">电话号码</span><i class="x"></i><input id="invoiceCompanyPhone" class="common_input" type="text" /></div>
		<div class="con_d con2"><span class="lable need">邮寄地址</span><i class="x"></i><input id="invoiceMailingAddress" class="common_input" type="text" /></div>
		<div class="con_d con2"><span class="lable need">收件人</span><i class="x"></i><input id="invoiceReceiver" class="common_input" type="text" /></div>
		<div class="con_d con2"><span class="lable need">电话</span><i class="x"></i><input id="invoiceReceiverPhone" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">物流单号</span><i class="x"></i><input id="expressNum" class="common_input" placeholder="（物流单号不为空表示发票已寄）" type="text" /></div>
		<div class="con_d"><span class="lable need">合同简介</span><i class="x"></i><textarea id="contractAbstract" style="height:500px;" class="common_textarea"></textarea></div>
		<div id="new_create_btn" class="btns_div"><a back='项目管理.html' class="common_abtn goback type1">取消</a><a href="javascript:;" id="create_new_btn" class="common_abtn type2">创建</a></div>
	</div>

	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("id") || "";//获取项目id
	g.do = Utils.getQueryString("do") || "";//获取操作 是查看（check）还是修改（change）新建 （new）
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	g.obj = {};
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('项目管理').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '项目管理.html';
	});
	$('#menu_show_t .s1',parent.document).html(' > 项目基本信息').addClass('active');
	
	$('#editBtn').on('click',editStatic);//进入编辑状态
	$('#change_ok_btn').on('click',function(){changeOrCreateProject(1)});
	$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
	getShenBanFang();//获取客户名称列表
	
	setSearchRole('.choiseDanwei5','管家','li');//给商务经理 选框赋值
	
	
/* **************************************** setTing ******************************************** */	
	
	//判断是选择的普通发票还是增值税发票
	$('#invoiceInfo').find('.common_radio').on('click',function(){
		$(this).addClass('active').siblings('.common_radio').removeClass('active');
		pzcompare();
	})
	loadCheck();//判断编辑还是查看
	//is_show('.xiangMu_xiangMuFaBu');
	
	//编辑状态
	function editStatic(){
		g.do = 'change';
		loadCheck();
	}
	
	//判断是编辑还是查看
	function loadCheck(){
		if(g.do == 'check'){//查看
			$('input,textarea').attr('readonly',true).addClass('readonly');
			$('select').attr('disabled',true).addClass('readonly');
			$('#change_ok_btn').hide();//修改保存按钮
			$('#change_no_btn').hide();//修改取消按钮
			$('#editBtn').show();//编辑按钮
			//$('.set_cancel').hide();//取消项目按钮
			//$('.set_reset').hide();//恢复项目按钮
			getProject();//获取项目信息
			$('#new_create_btn').remove();
			$('#housekeeper').off();
			$("#customerName").off();
			//定义选择分期 只能单选
			$('.common_radio').off();
			$('.xiangmuguanli').off('click','.common_radio');
		}else if(g.do == 'change'){//修改
			$('#editBtn').hide();//编辑按钮
			$('#change_ok_btn').show();//修改保存按钮
			$('#change_no_btn').show();//修改取消按钮
			$('input,textarea').attr('readonly',false).removeClass('readonly');
			$('select').attr('disabled',false).removeClass('readonly');
			$('#new_create_btn').remove();
			getProject();//获取项目信息
			setGetSearchInput('#housekeeper','.choiseDanwei5');//定义可以搜索下拉的
			setClickCus();//定义选择客户下拉
			//定义选择分期 只能单选
			$('.xiangmuguanli').off('click','.common_radio').on('click','.common_radio',function(){
				$(this).addClass('active').siblings('.common_radio').removeClass('active');
				pzcompare();//判断是选择的普通发票还是增值税发票
			});
		}else if(g.do == 'new'){//新建
			$('#new_create_btn').show();
			$('.new_div_hide,#editBtn').remove();//编辑按钮
			$('#editBtn').remove();
			//定义选择分期 只能单选
			$('.xiangmuguanli').off('click','.common_radio').on('click','.common_radio',function(){
				$(this).addClass('active').siblings('.common_radio').removeClass('active');
				pzcompare();//判断是选择的普通发票还是增值税发票
			});
			setGetSearchInput('#housekeeper','.choiseDanwei5');//定义可以搜索下拉的
			setClickCus();//定义选择客户下拉
			$('#contractType').val('办理合同');//默认值
			pzcompare();//判断是选择的普通发票还是增值税发票
		}
	}
	
	function pzcompare(){
		var is = $('.zengzhiradio').hasClass('active');
		var is2 = $('.putongradio').hasClass('active');
		if(is && !is2){
			$('.pu_hide').show();
		}else{
			$('.pu_hide').hide();
		}
	}

	//关闭弹窗
	$(document).click(function(e){
		$('.choiseDanwei').hide();
		stopPropagation(e);
	});
	
	//输入时搜索客户名称
	$("#customerName").keyup(function(){
		var _vth = $(this);
		var _li = $('.choiseDanwei4 li');
		var _val = _vth.val() || '';
		if(_val == '' || _li.length <= 0){return false;}
		_li.show();
		_li.each(function(){//循环搜索
			var _tt = $(this);
			var _val2 = _tt.html() || '';
			var _if = _val2.indexOf(_val);
			if(_if <= -1){//不符合
				_tt.hide();
			}else{_tt.show();}
		});
	});
	
	
	//选择申办方
	function setClickCus(){
	$("#customerName").click(function(e){
		var _is = $(this);
		var xx = _is.offset().left || 0;
        var yy = _is.offset().top || 0;
		var _top = yy + _is.height() -9;
        $('.choiseDanwei4 li').show();
		$('.choiseDanwei').hide();
		$('.choiseDanwei4').show().css({"left":xx,"top":_top});
		$('.choiseDanwei4 li').on('click',function(e){
			var _tis = $(this);
			var _vdan= _tis.html() || '';
			var _vtip= _tis.attr('tip') || '';
			var phone= _tis.attr('phone') || '';
			var contacts= _tis.attr('contacts') || '';
			_is.val(_vdan);
			_is.attr('tip',_vtip);
			$('#lianxiren').html(contacts);
			$('#dianhua').html(phone);
			_tis.parents('.choiseDanwei').hide();
			stopPropagation(e);
		});
		stopPropagation(e);
    });
	}
	
	//获取客户名称列表
	function getShenBanFang(){
		var condi = {};
		condi.number = 1000;//每页显示行数
		var url = Base.serverUrl + "customer/search";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var data = data.content || [];
					var html = '';
					for(var i=0,len=data.length;i<len;i++){
						var d = data[i] || [];
						var id = d.id || '';
						var name = d.name || '';
						var contacts = d.contacts || '';
						var phone = d.phone || '';
						g.obj[id] = d;
						html += '<li phone="'+phone+'" onclick="valproinfo(\''+id+'\')" contacts="'+contacts+'"  tip="'+id+'">'+name+'</li>';
					}
					$('.choiseDanwei4').html(html);
				}
				else{
					var msg = data.message || "登录失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	//选择客户 带出发票信息
	window.valproinfo = function(id){
		var id = id || "";
		if(id == ''){return false;}
		var condi = {};
		condi = g.obj[id];
		setCondiVal(condi,'.content_box1','.con2');//赋值
		console.log(condi.invoiceType);
		setRadioVal('#invoiceInfo','invoiceInfo',condi.invoiceType || '');
	}

	//取消保存按钮
	$('#change_no_btn').on('click',function(){
		g.do = 'check';
		loadCheck();
	});

	//修改保存项目信息
	function changeOrCreateProject(is){
		var is = is || '';//is 1 修改或保存 2 新建
		var lianxiren = $('#lianxiren').html() || '';
		var dianhua = $('#dianhua').html() || '';
		var customerid = $('#customerName').attr('tip') || '';
		var housekeeperId = $('#housekeeper').attr('tipid') || '';
		var condi = {};
		condi.id = g.id ;
		condi = setInfoCondi(condi,'.content_box1');//传值和校验
		if(condi == false){return false;}
		condi.contacts = lianxiren;
		condi.phone = dianhua;
		condi.customerId = customerid;
		condi.housekeeperId = housekeeperId;
		var url = Base.serverUrl + "project/update";
		if(is == '2'){url = Base.serverUrl + "project/create"}
		$('#create_new_btn').off();
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var tip = is != '2' ? '保存成功！' : '新建成功！' ;
					Utils.alert(tip);
					if(is == '2'){//新建项目
						setTimeout(function(){
							parent.document.getElementById("iframeObj").src = '项目管理.html';
						},1000);
					}else if(is == '1'){//保存项目
						g.do = 'check';
						loadCheck();
					}
				}
				else{
					var msg = data.message || "保存失败";
					Utils.alert(msg);
					$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}	
	
	//获取项目信息
	function getProject(){
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "project/edit";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					setCondiVal(d,'.content_box1');//给输入框 赋值	
					$('#lianxiren').html(d.contacts || '');
					$('#dianhua').html(d.phone || '');
					$('#customerName').val(d.customerName || '').attr('tip',d.customerId || '');
					$('#housekeeper').attr('tip',d.housekeeperId || '');
					pzcompare();//判断是选择的普通发票还是增值税发票					
				}
				else{
					var msg = data.message || "获取项目信息失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}


	//加载时间控件
	var timeControl1 = {
	  elem: '#experimental_program_date',
	  format: 'YYYY-MM-DD',
	  //min: laydate.now(), //设定最小日期为当前日期
	  max: '2099-06-16', //最大日期
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		 //end.min = datas; //开始日选好后，重置结束日的最小日期
		 //end.start = datas //将结束日的初始值设定为开始日
	  }
	};
	var timeControl2 = {
	  elem: '#sop_date',
	  format: 'YYYY-MM-DD',
	  //min: laydate.now(), //设定最小日期为当前日期
	  max: '2099-06-16', //最大日期
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		 //end.min = datas; //开始日选好后，重置结束日的最小日期
		 //end.start = datas //将结束日的初始值设定为开始日
	  }
	};
	var timeControl3 = {
	  elem: '#sjihuakaishitime',
	  format: 'YYYY-MM-DD',
	  //min: laydate.now(), //设定最小日期为当前日期
	  max: '2099-06-16', //最大日期
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		 //end.min = datas; //开始日选好后，重置结束日的最小日期
		 //end.start = datas //将结束日的初始值设定为开始日
	  }
	};
	laydate(timeControl1);
	laydate(timeControl2);
	laydate(timeControl3);
	
	
});

</script>
</html>