<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/select2/css/select2.min.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.check_box .i, .check_box2 .i{margin-right:5px;}
		.xiangmujibenxinxi .lable{width:200px;}
	</style>
</head>
<body class="xiangmuguanli xiangmujibenxinxi">
	<!-- 客户名称 -->
	<ul class="choiseDanwei choiseDanwei4">
		<li>加载失败</li>
	</ul>
	<h4 class="page_title">项目基本信息
		<a href="javascript:;" id="editBtn" class="creat_forse">编辑</a>
		<a href="javascript:;" style="display:none;" id="change_ok_btn" class="creat_forse">保存</a>
		<a href="javascript:;" style="display:none;" id="change_no_btn" class="creat_forse type1">取消</a>
	</h4>
	<div class="content_box1">

		<div class="con_d"><span class="lable need">项目编号</span><i class="x">*</i><input id="pro_number" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">合同类型</span><i class="x">*</i><select id="audit_type" class="common_select">
				<option value="">请选择</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">客户名称</span><i class="x">*</i>
			<input id="kehu_name" class="common_input common_inputr readonly1" type="text" />&nbsp;&nbsp;&nbsp;&nbsp;
			联系人：<span>0068</span>&nbsp;&nbsp;&nbsp;&nbsp;
			联系电话：<span>0068</span>
		</div>
		<div class="con_d"><span class="lable need">所属管家</span><i class="x">*</i><select id="suoshuguanjai" class="common_select">
				<option value="">请选择</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">合同金额</span><i class="x"></i><input id="hetongjine" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">开票金额</span><i class="x"></i><input id="kaipiaojine" class="common_input" placeholder="（开票后填写，填写后发票状态为已开票）" type="text" /></div>
		<div class="con_d"><span class="lable need">品目</span><i class="x">*</i><select id="pinmu" class="common_select">
				<option value="">请选择</option>
			</select>
		</div>
		<div class="con_d"><span class="lable need">备注</span><i class="x"></i><textarea id="beizhur" class="common_textarea"></textarea></div>
		<div id="fapiaoxinxi" class="con_d"><span class="lable need">发票信息</span><i class="x"></i>
			<div class="common_radio" name="fapiaoxin"><i class="i"></i>普通发票</div>
			<div class="common_radio" name="fapiaoxin"><i class="i"></i>增值税发票</div>
		</div>
		<div class="con_d"><span class="lable need">开票名称</span><i class="x"></i><input id="kaipiaomingcheng" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">税号</span><i class="x"></i><input id="shuihao" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">开户银行</span><i class="x"></i><input id="kaihuyinhang" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">银行账户</span><i class="x"></i><input id="yinhangzhanghu" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">单位地址</span><i class="x"></i><input id="danweidizhi" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">电话号码</span><i class="x"></i><input id="dianhuahaoma" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">邮寄地址</span><i class="x"></i><input id="youjidizhi" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">收件人</span><i class="x"></i><input id="shoujianren" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">电话</span><i class="x"></i><input id="shoujiandianhua" class="common_input" type="text" /></div>
		<div class="con_d"><span class="lable need">物流单号</span><i class="x"></i><input id="wuliudanhao" class="common_input" placeholder="（物流单号不为空表示发票已寄）" type="text" /></div>
		<div class="con_d"><span class="lable need">合同简介</span><i class="x">*</i><textarea id="hetongjianjie" style="height:500px;" class="common_textarea"></textarea></div>
		<div id="new_create_btn" class="btns_div"><a back='项目管理.html' class="common_abtn goback type1">取消</a><a href="javascript:;" id="create_new_btn" class="common_abtn type2">创建</a></div>
	</div>

	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.id = Utils.getQueryString("id") || "";//获取项目id
	g.do = Utils.getQueryString("do") || "";//获取操作 是查看（check）还是修改（change）新建 （new）
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('项目管理').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '项目管理.html';
	});
	$('#menu_show_t .s1',parent.document).html(' > 项目基本信息').addClass('active');
	
	$('#editBtn').on('click',editStatic);//进入编辑状态
	$('#change_ok_btn').on('click',function(){changeOrCreateProject(1)});
	$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
	getjichamokuai();//获取稽查模块
	getShenBanFang();//加载申办方列表
	
	
/* **************************************** setTing ******************************************** */	
	
	loadCheck();//判断编辑还是查看
	//is_show('.xiangMu_xiangMuFaBu');
	
	//编辑状态
	function editStatic(){
		g.do = 'change';
		loadCheck();
	}
	
	//判断是编辑还是查看
	function loadCheck(){
		if(g.do == 'check'){//查看
			$('input,textarea').attr('readonly',true).addClass('readonly');
			$('select').attr('disabled',true).addClass('readonly');
			$('#change_ok_btn').hide();//修改保存按钮
			$('#change_no_btn').hide();//修改取消按钮
			$('#editBtn').show();//编辑按钮
			//$('.set_cancel').hide();//取消项目按钮
			//$('.set_reset').hide();//恢复项目按钮
			getProject();//获取项目信息
			$('#new_create_btn').remove();
			//定义选择分期 只能单选
			$('.common_radio').off();
			$('.xiangmuguanli').off('click','.common_radio');
		}else if(g.do == 'change'){//修改
			$('#editBtn').hide();//编辑按钮
			$('#change_ok_btn').show();//修改保存按钮
			$('#change_no_btn').show();//修改取消按钮
			$('input,textarea').attr('readonly',false).removeClass('readonly');
			$('select').attr('disabled',false).removeClass('readonly');
			$('#new_create_btn').remove();
			getProject();//获取项目信息
			//定义选择分期 只能单选
			$('.xiangmuguanli').off('click','.common_radio').on('click','.common_radio',function(){
				$(this).addClass('active').siblings('.common_radio').removeClass('active');
			});
		}else if(g.do == 'new'){//新建
			$('#new_create_btn').show();
			$('.new_div_hide').remove();//编辑按钮
			$('#editBtn').remove();
			//定义选择分期 只能单选
			$('.xiangmuguanli').off('click','.common_radio').on('click','.common_radio',function(){
				$(this).addClass('active').siblings('.common_radio').removeClass('active');
			});
		}
	}
	
	

	//关闭弹窗
	$(document).click(function(e){
		$('.choiseDanwei').hide();
		stopPropagation(e);
	});
	
	//输入时搜索客户名称
	$("#kehu_name").keyup(function(){
		var _vth = $(this);
		var _li = $('.choiseDanwei4 li');
		var _val = _vth.val() || '';
		if(_val == '' || _li.length <= 0){return false;}
		_li.show();
		_li.each(function(){//循环搜索
			var _tt = $(this);
			var _val2 = _tt.html() || '';
			var _if = _val2.indexOf(_val);
			if(_if <= -1){//不符合
				_tt.hide();
			}else{_tt.show();}
		});
	});
	//选择申办方
	$("#kehu_name").click(function(e){
		var _is = $(this);
		var xx = _is.offset().left || 0;
        var yy = _is.offset().top || 0;
		var _top = yy + _is.height() -9;
        $('.choiseDanwei4 li').show();
		$('.choiseDanwei').hide();
		$('.choiseDanwei4').show().css({"left":xx,"top":_top});
		$('.choiseDanwei4 li').on('click',function(e){
			var _tis = $(this);
			var _vdan= _tis.html() || '';
			var _vtip= _tis.attr('tip') || '';
			var sid= _tis.attr('sid') || '';
			_is.val(_vdan);
			_is.attr('sid',sid);
			$('#sponsor_code').html(_vtip);
			_tis.parents('.choiseDanwei').hide();
			stopPropagation(e);
		});
		stopPropagation(e);
    });
	//获取客户名称列表
	function getShenBanFang(){
		var condi = {};
		condi.number = 1000;//每页显示行数
		var url = Base.serverUrl + "sponsor/search";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var data = data.content || [];
					var html = '';
					for(var i=0,len=data.length;i<len;i++){
						var d = data[i] || [];
						var id = d.id || '';
						var name = d.name || '';
						var code = d.code || '';
						html += '<li sid="'+id+'" tip="'+code+'">'+name+'</li>';
					}
					$('.choiseDanwei4').html(html);
				}
				else{
					var msg = data.message || "登录失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	//发布项目经理职位 项目发布
	function fabuAbtnFunc(){
		var fabutext = $('#fabutext').val() || '';
		var sjihuakaishitime = $('#sjihuakaishitime').val() || '';
		//if(fabutext == ''){Utils.alert('发布说明不能为空！');return false;}
		var condi = {};
		//condi.page = g.nowPage;//当前页
		condi.projectId = g.id;
		condi.planStart = sjihuakaishitime;
		condi.description = fabutext;
		condi.number = 1000;//每页显示行数
		var url = Base.serverUrl + "publish/task/addProject";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					Utils.alert('发布成功！');
					getProject();//获取项目信息
					closeSbox();
				}
				else{
					var msg = data.message || "发布失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	//获取稽查模块
	function getjichamokuai(){
		var condi = {};
		//condi.page = g.nowPage;//当前页
		condi.number = 1000;//每页显示行数
		var url = Base.serverUrl + "module/search";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					var con = data.content || [];
					var html = '';
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || '';
						var id = d.id || '';
						var code = d.code || '';//编号
						var name = d.name || '';//名称
						var templet = d.templet || '';//模块的模板
						html+='<div class="check_box active"><i class="i"></i>'+name+'</div>';
					}
					$('#audit_module').html(html);
				}
				else{
					var msg = data.message || "获取失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	
	
	//取消保存按钮
	$('#change_no_btn').on('click',function(){
		g.do = 'check';
		loadCheck();
	});

	//修改保存项目信息
	function changeOrCreateProject(is){
		var is = is || '';//is 1 修改或保存 2 新建
		var sponsor_name = $('#sponsor_name').val() || '';
		var sponsor_code = $('#sponsor_code').html() || '';
		var sponsor_id = $('#sponsor_name').attr('sid') || '';
		var cro_name = $('#cro_name').val() || '';
		var pro_number = $('#pro_number').val() || '';
		var name = $('#name').val() || '';
		var medicine = $('#medicine').val() || '';
		var shiyantype = $('#shiyantype').val() || '';
		var indication = $('#indication').val() || '';
		var classification = $('#classification').val() || '';
		var audit_type = $('#audit_type').val() || '';
		var project_staging = setGetCheckValue('#project_staging');
		var center_lab = $('#center_lab').val() || '';
		var data_analysis_center = $('#data_analysis_center').val() || '';
		var fanganbianhao_val = $('#fanganbianhao_val').val() || '';
		var data_manager_center = $('#data_manager_center').val() || '';
		//var test_institution = $('#test_institution').val() || '';
		var experimental_program_version = $('#experimental_program_version').val() || '';
		var experimental_program_date = $('#experimental_program_date').val() || '';
		var sop_version = $('#sop_version').val() || '';
		var sop_date = $('#sop_date').val() || '';
		var start_up_letter = $('#start_up_letter').val() || '';
		var agent = $('#agent').val() || '';
		var agent_address = $('#agent_address').val() || '';
		var agent_contact = $('#agent_contact').val() || '';
		var agent_phone = $('#agent_phone').val() || '';
		var agent_wechat = $('#agent_wechat').val() || '';
		var agent_weburl = $('#agent_weburl').val() || '';
		var business_manager_name = $('#business_manager_name').val() || '';
		var project_manager_name = $('#project_manager_name').val() || '';
		var beizhur = $('#beizhur').val() || '';
		//var xiangmuzhuli = $('#xiangmuzhuli option:selected').text() || '';
		var xiangmuzhuli = $('#xiangmuzhuli').val() || '';
		//var xiangmuzhuli2 = $('#xiangmuzhuli2').val() || '';
		var audit_aim = $('#audit_aim').val() || '';
		var audit_scope = $('#audit_scope').val() || '';
		var audit_reference = $('#audit_reference').val() || '';
		var audit_module = setGetCheckValue('#audit_module');
		//遍历找出不允许为空项 为空提示
		var tips = '';
		$('.con_d').each(function(){//循环所有框
			var _t = $(this) || {};
			var _o = _t.find('.x') || [];
			if(tips != ''){return false;}//跳出循环
			if(_t.css('display') == 'none'){return true;}//隐藏的 跳出本次循环
			if(_o.length > 0){
				_o.each(function(){//循环所有必填标志
					var _ti = $(this) || {};
					var _next = _ti.next().val() || '';
					var _prev = _ti.prev().html() || '';
					var tr = _ti.parents('.con_d').find('.check_box').hasClass('active') ? false : true;
					if(_ti.html() != '' && _ti.next().hasClass('check_box') && tr){//复选框 查找是否有active 判断有没有选中的
						tips = _prev;return false;//跳出循环 如果是复选框 查找是否有active 判断有没有选中的
					}
					if(_ti.html() != '' && _next == '' && !_ti.next().hasClass('check_box')){
						tips = _prev;return false;//跳出循环
					}
				});
			}
		});
		var xiangmuzhuli = xiangmuzhuli.length > 0 ? xiangmuzhuli.join(',') : xiangmuzhuli[0] || '';
		//var xiangmuzhuli2 = xiangmuzhuli2.length > 0 ? xiangmuzhuli2.join(',') : xiangmuzhuli2[0] || '';
		
		if(tips != ''){Utils.alert(tips+'不能为空！');return false;}
		var condi = {};
		condi.sponsor_name = sponsor_name;
		condi.sponsor_id = sponsor_id;
		condi.sponsor_code = sponsor_code;
		condi.cro_name = cro_name;
		condi.code = pro_number;
		condi.name = name;
		condi.medicine = medicine;
		condi.experimentalType = shiyantype;
		condi.indication = indication;
		condi.classification = classification;
		condi.audit_type = audit_type;
		condi.project_staging = project_staging;
		condi.center_lab = center_lab;
		condi.data_analysis_center = data_analysis_center;
		condi.plan_code = fanganbianhao_val;
		condi.data_manager_center = data_manager_center;
		//condi.test_institution = test_institution;
		condi.experimental_program_version = experimental_program_version;
		condi.experimental_program_date = experimental_program_date;
		condi.sop_version = sop_version;
		condi.sop_date = sop_date;
		condi.start_up_letter = start_up_letter;
		condi.agent = agent;
		condi.agent_address = agent_address;
		condi.agent_contact = agent_contact;
		condi.agent_phone = agent_phone;
		condi.agent_wechat = agent_wechat;
		condi.agent_weburl = agent_weburl;
		condi.business_manager_name = business_manager_name;
		condi.project_manager_name = project_manager_name;
		condi.project_assist_manager = xiangmuzhuli;//项目助理
		condi.remarks = beizhur;//
		//condi.project_assist_manager2 = xiangmuzhuli2;//项目助理
		if(is != '2'){//保存
		condi.id = g.id;
		condi.audit_aim = audit_aim;
		condi.audit_scope = audit_scope;
		condi.audit_reference = audit_reference;
		condi.audit_module = audit_module;
		}
		var url = Base.serverUrl + "project/update";
		if(is == '2'){url = Base.serverUrl + "project/create"}
		$('#create_new_btn').off();
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var tip = is != '2' ? '保存成功！' : '新建成功！' ;
					Utils.alert(tip);
					if(is == '2'){//新建项目
						setTimeout(function(){
							parent.document.getElementById("iframeObj").src = '项目管理.html';
						},1000);
					}else if(is == '1'){//保存项目
						g.do = 'check';
						loadCheck();
					}
				}
				else{
					var msg = data.message || "保存失败";
					Utils.alert(msg);
					$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('#create_new_btn').on('click',function(){changeOrCreateProject(2)});
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}	
	
	//获取项目信息
	function getProject(){
		var condi = {};
		condi.id = g.id;
		var url = Base.serverUrl + "project/edit";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || [];
					var id = d.id || '';
					$('#sponsor_name').val(d.sponsor_name || '');
					$('#sponsor_code').html(d.sponsor_code || '');
					$('#cro_name').val(d.cro_name || '');
					$('#pro_number').val(d.code || '');
					$('#name').val(d.name || '');
					$('#medicine').val(d.medicine || '');
					$('#shiyantype').val(d.experimentalType || '');
					$('#indication').val(d.indication || '');
					$('#classification').val(d.classification || '');
					$('#audit_type').val(d.audit_type || '');
					setGetCheckValue('#project_staging',(d.project_staging || ''));//项目分期
					$('#center_lab').val(d.center_lab || '');
					$('#data_analysis_center').val(d.data_analysis_center || '');
					$('#fanganbianhao_val').val(d.plan_code || '');
					$('#data_manager_center').val(d.data_manager_center || '');
					//$('#test_institution').val(d.test_institution || '');
					$('#experimental_program_version').val(d.experimental_program_version || '');
					var experimental_program_date = getDate((d.experimental_program_date || ''),'2');
					$('#experimental_program_date').val(experimental_program_date);
					$('#sop_version').val(d.sop_version || '');
					var sop_date = getDate((d.sop_date || ''),'2');
					$('#sop_date').val(sop_date);
					$('#start_up_letter').val(d.start_up_letter || '');
					$('#agent').val(d.agent || '');
					$('#agent_address').val(d.agent_address || '');
					$('#agent_contact').val(d.agent_contact || '');
					$('#agent_phone').val(d.agent_phone || '');
					$('#agent_wechat').val(d.agent_wechat || '');
					$('#agent_weburl').val(d.agent_weburl || '');
					$('#business_manager_name').val(d.business_manager_name || '');
					$('#project_manager_name').val(d.project_manager_name || '');
					//判断发布状态
					var puStatus = d.publishStatus || '';//未发布、报名中、已结束
					$('#fabuAbtn,#fabuing,#fabu_down').hide();
					switch(puStatus){
						case '未发布': $('#fabuAbtn').show();$('#project_manager_name').removeAttr('disabled').removeClass('red');break;
						case '报名中': $('#fabuing').show();$('#project_manager_name').val('发布中').attr('disabled','disabled').addClass('red');break;
						case '已结束': $('#fabu_down').show();$('#project_manager_name').removeAttr('disabled').removeClass('red');break;
						default:break;
					}
					
					$('#beizhur').val(d.remarks || '');
					var ddas = d.project_assist_manager || '';
					var xval = ddas.indexOf(',') > -1 ? ddas.split(',') : ddas;//项目助理的值
					//var xval2 = d.project_assist_manager2.split(',') || '';//项目助理的值
					$('#xiangmuzhuli').attr('disabled',false);
					$('#xiangmuzhuli').val(xval);
					setTimeout(function(){$('#xiangmuzhuli').val(xval).select2()},600);
					
					//$('#xiangmuzhuli2').attr('disabled',false);
					//$('#xiangmuzhuli2').val(xval2).select2();
					//console.log(xval);
					if(g.do == 'check'){$('#xiangmuzhuli').attr('disabled',true);}
					//valchoiseDanwei('.choiseDanwei10',xval);//公共方法 给项目助理弹窗赋值
					var audit_aim = d.audit_aim || '';
					var audit_scope = d.audit_scope || '';
					var audit_reference = d.audit_reference || '';
					if(audit_aim == '' && audit_scope == '' && audit_reference == ''){//判断有没有存储数据
						mudifanweiShow();//获取目的范围依据
					}else{
						$('#audit_aim').val(audit_aim);
						$('#audit_scope').val(audit_scope);
						$('#audit_reference').val(audit_reference);
					}
					setGetCheckValue('#audit_module',(d.audit_module || ''));//稽查模块
					var is_used = d.is_used || '';//判断是否 项目取消
					var state = d.state || '';//项目状态
					var usedStatic = is_used == 0 ? '项目已取消' : state;
					$('#state').html(usedStatic);
					//根据状态修改 项目取消按钮和项目恢复按钮
					if(is_used == 0 && g.do == 'change'){	
						$('.set_reset').show();//取消项目按钮
						$('.set_cancel').hide();//恢复项目按钮
					}else if(is_used != 0 && g.do == 'change'){
						$('.set_cancel').show();//取消项目按钮
						$('.set_reset').hide();//恢复项目按钮
					}else{
						$('.set_cancel').hide();//取消项目按钮
						$('.set_reset').hide();//恢复项目按钮
					}
					
					
					//loadCheck();
				}
				else{
					var msg = data.message || "获取项目信息失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}


	//加载时间控件
	var timeControl1 = {
	  elem: '#experimental_program_date',
	  format: 'YYYY-MM-DD',
	  //min: laydate.now(), //设定最小日期为当前日期
	  max: '2099-06-16', //最大日期
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		 //end.min = datas; //开始日选好后，重置结束日的最小日期
		 //end.start = datas //将结束日的初始值设定为开始日
	  }
	};
	var timeControl2 = {
	  elem: '#sop_date',
	  format: 'YYYY-MM-DD',
	  //min: laydate.now(), //设定最小日期为当前日期
	  max: '2099-06-16', //最大日期
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		 //end.min = datas; //开始日选好后，重置结束日的最小日期
		 //end.start = datas //将结束日的初始值设定为开始日
	  }
	};
	var timeControl3 = {
	  elem: '#sjihuakaishitime',
	  format: 'YYYY-MM-DD',
	  //min: laydate.now(), //设定最小日期为当前日期
	  max: '2099-06-16', //最大日期
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		 //end.min = datas; //开始日选好后，重置结束日的最小日期
		 //end.start = datas //将结束日的初始值设定为开始日
	  }
	};
	laydate(timeControl1);
	laydate(timeControl2);
	laydate(timeControl3);
	
	
});

</script>
</html>