<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/select2/css/select2.min.css" />
	<link rel="stylesheet" href="../public/css/pagination.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>
	<style>
		.select2-container{float:right;margin-bottom:5px;}
		.sbox .sbox_select.type2{width:38%;}
		.ditudiv_p{float:right;display:inline-block;width:340px;height:140px;}
	</style>
</head>
<body class="xiangmuguanli yonghuguanli">
	<!-- <h4 class="page_title">用户管理</h4> -->
	<div class="btn_div">
		<table class="search_table">
			<tr>
				<td>
					<span class="sear_lable">委托方编号/名称</span>
					<input id="sweituoName" class="com_input com_input1" type="text" />
				</td>
				<td>
					<span class="sear_lable">区域</span>
					<input id="squyu" class="com_input com_input1" type="text" />
				</td>
				<td>
					
				</td>
				<td class="searBtnTd">
					<a id="searchBtn" class="top_btn">搜索</a>
					<a id="searchAll" class="top_btn type2">清空条件</a>
				</td>
			</tr>
		</table>
		<div class="sear_line"></div>
	</div>
	<div class="m_info">
		<a class="creat_forse" id="newCenter" >新增地点</a>
	</div>
	<div id="tableList" class="table_div">
		
	</div>
	<div class="pages">
        <div id="Pagination"></div>
        <div class="searchPage">
          <span style="display:none;" class="page-sum">共<strong class="allPage">1</strong>页</span>
          <span class="page-sum">
			<select class="com_select pagesShow">
				<option value=10 >10条/页</option>
				<option value=30 >30条/页</option>
				<option value=50 >50条/页</option>
			</select>
		</span>
          <span class="page-go">跳转<input type="text">页</span>
          <a href="javascript:;" class="page-btn gogo">GO</a>
        </div>
    </div>
	
	
	
	<!-- 弹窗 -->
	<div info="弹窗背景" class="stip_bg"></div>
	<div info="弹窗容器" class="stip_box">
		<div class="stip_content">
		
			<div class="sbox xiugaizhongxin">
				<h4 class="sbox_h4">新增办公地点</h4>
				<div class="sbox_c"><span class="slable">地点名称</span><i class="star">*</i><input id="sbangongname" class="sbox_input" type="text"/></div>
				<div class="sbox_c"><span class="slable">详细地址</span><i class="star"></i>			
					<select id="sshi" class="sbox_select type2">
						<option value="">选择市</option>
					</select>
					<select id="ssheng" onChange="changeComplexProvince(this.value, sub_array, 'sshi', 'town');" style="margin-right:20px;" class="sbox_select type2">
						<option value="">选择省</option>
					</select>
					<select id="town" style="margin-right:20px;display:none;" class="sbox_select type2">
						<option value="">选择城镇</option>
					</select>
				</div>
				<div class="sbox_c"><span class="slable"></span><i class="star"></i><input id="sxiangxidizhi" class="sbox_input" type="text"/></div>
				<div class="sbox_c"><span class="slable"></span><i class="star"></i><div class="ditudiv_p" id="dituContent"></div></div>
				<div class="sbox_c"><span class="slable">经纬度</span><i class="star"></i><input id="sjingweidu" readonly class="sbox_input readonly" type="text"/></div>
				<div class="sbox_btn_div" style="text-align:center;">
					<a href="javascript:;" id="noBtn" onclick="closeSbox()" class="sbox_btn btn1">取消</a>
					<a id="yesBtn" style="margin-left:25px;" href="javascript:;" class="sbox_btn btn2">确认</a>
				</div>
			</div>
			
		</div>
	</div>	
	
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/libs/ajaxfileupload.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	<script type="text/javascript" src="../public/libs/jquery.pagination.js"></script>
	<script type="text/javascript" src="../public/js/jquery.form.js"></script>
	<script type="text/javascript" src="../public/select2/js/select2.full.min.js"></script>
	<script type="text/javascript" src="../public/select2/js/i18n/zh-CN.js"></script>
	<script type="text/javascript" src="../public/libs/area/Area.js"></script>
	<script type="text/javascript" src="../public/libs/area/AreaData_min.js"></script>
	<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.3&key=738a9581e38855289b779c85e276a1cc"></script>
	
</body>
<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	//g.id = Utils.getQueryString("id") || "";
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	g.usrid = '';//存储用户id
	
/* **************************************** lodding ******************************************** */		
	//初始化 省 市 区
	initComplexArea('ssheng', 'sshi', 'town', area_array, sub_array, '0', '0', '0');
	//初始化地图
	 var map = new AMap.Map("dituContent", {
			resizeEnable: true
		});
	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active');
	//$('#menu_show_t .s0',parent.document).html('系统管理');
	$('#menu_show_t .s0',parent.document).html('办公地点管理').addClass('active');
	$('#newCenter').on('click',function(){shownewCenterSbox('new')});
	$('#searchAll').on('click',function(){g.nowPage = 0;tableListShow(2)});
	$('#searchBtn').on('click',function(){g.nowPage = 0;tableListShow(1)});
	
	saveOrClearCookie(3,'bango_');//加载搜索条件
	//tableListShow();//显示列表
	
/* **************************************** setTing ******************************************** */	
	

	//选择省份 和 城市 输入地址搜索地图
	$('#sshi,#ssheng').change(function(){
		serchmap();
	});
	$('#sxiangxidizhi').keyup(function(){
		serchmap();
	});
	function serchmap(){
		var sheng = $('#ssheng').val() != '0' ? $('#ssheng').find("option:selected").text() : '';
		var shi = $('#sshi').val() != '0' ? $('#sshi').find("option:selected").text() : '';
		var xiang = $('#sxiangxidizhi').val() || '';
		var ser_str = sheng + shi + xiang;
		 AMap.service(["AMap.PlaceSearch"], function() {
			var placeSearch = new AMap.PlaceSearch({ //构造地点查询类
				pageSize: 5,
				pageIndex: 1,
				city: "010", //城市
				map: map//,
				//panel: "panel"
			});
			//关键字查询
			placeSearch.search(ser_str, function(status, result) {
				console.log(status);
				console.log(result);
			});
		});
	}
	
	//关闭弹窗
	$('.stip_content,.sbox').click(function(e){
		$('.choiseDanwei').hide();
		stopPropagation(e);
	});

	//初始化弹窗
	function reloadSbox(){
		$('#head_img').attr('src','');//清空头像记录
		$('.choiseDanwei li').removeClass('active');//清空弹窗的选择项
		$('.xiugaizhongxin input').val('');//清空弹窗
		$('.xiugaizhongxin select').val('');//清空弹窗
		$('#noBtn').html('取消');
		$('#yesBtn').off().show();
		$('.xiugaizhongxin input').removeAttr('readonly').removeClass('readonly');//清空
		$('.xiugaizhongxin select').removeAttr('disabled').removeClass('readonly');//清空
	}	
	//显示新建窗口
	function shownewCenterSbox(){
		reloadSbox();//初始化弹窗
		//$('#mima').val('111111');
		$('.xiugaizhongxin .sbox_h4').html('添加用户');
		showSbox('.xiugaizhongxin');//显示弹窗
		$('#yesBtn').off().on('click',function(){centerFunc('new')});
	}
	//新建
	window.centerFunc = function(is,id){
		var is = is || '';
		var id = id || '';
		var xingming = $('#xingming').val() || '';
		var pic = $('#head_img').attr('src') || '';
		//var mima = $('#mima').val() || '';
		var suoshubumen = $('#suoshubumen').val() || '';
		var suoshujiaose = $('#suoshujiaose').val() || '';
		suoshujiaose = suoshujiaose.length > 1 ? suoshujiaose.join(',') : suoshujiaose[0] || '' ;
		var lianxiPhone = $('#lianxiPhone').val() || '';
		var youxiangEmail = $('#youxiangEmail').val() || '';
		var zhuangtai = $('#zhuangtai').val() || '';
		if(xingming == ''){Utils.alert('姓名不能为空！');return false;}
		//if(pic == ''){Utils.alert('头像不能为空！');return false;}
		//if(mima == ''){Utils.alert('密码不能为空！');return false;}
		//if(suoshubumen == ''){Utils.alert('所属部门不能为空！');return false;}
		//if(suoshujiaose == ''){Utils.alert('所属角色不能为空！');return false;}
		//if(lianxiPhone == ''){Utils.alert('联系方式不能为空！');return false;}
		//if(youxiangEmail == ''){Utils.alert('邮箱不能为空！');return false;}
		//if(zhuangtai == ''){Utils.alert('状态不能为空！');return false;}
		$('#yesBtn').off();
		var condi = {};
		condi.page = g.nowPage;//当前页
		condi.number = g.showPages;//每页显示行数
		condi.name  = xingming;
		//condi.password  = mima;
		condi.icon  = pic;
		//子集元素去掉前缀 例如 稽查部/稽查一部 去掉'稽查部/'
		if(suoshubumen.indexOf('/') > -1){suoshubumen = suoshubumen.split('/')[1];}
		condi.department  = suoshubumen;
		condi.roles  = suoshujiaose;
		condi.phone  = lianxiPhone;
		condi.email  = youxiangEmail;
		//condi.state  = zhuangtai;
		var url = Base.serverUrl + "user/add";
		if(is == 'change'){condi.id = id;url = Base.serverUrl + "user/update";}
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var tips = '新增成功！';
					if(is == 'change'){tips = '修改成功！';}
					Utils.alert(tips);
					tableListShow(2);//列表
					closeSbox();//关闭弹窗
				}
				else{
					var msg = data.message || "获取信息失败";
					Utils.alert(msg);
					$('#yesBtn').off().on('click',function(){centerFunc('new')});
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				$('#yesBtn').off().on('click',function(){centerFunc('new')});
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}
	

	 
	//列表
	function tableListShow(is){
		var is = is || '';
		var sweituoName = $('#sweituoName').val() || '';
		var squyu = $('#squyu').val() || '';
		var condi = {};
		condi.page = g.nowPage;//当前页
		condi.number = g.showPages;//每页显示行数
		if(is == 1 || is == 'pa'){//搜索
			//if(mokuaiInfo == ''){Utils.alert('模块名称/编号不能为空！');}
			condi.name = sweituoName;
			condi.phone = squyu;
			g.loadPage = true;//开启分页
			saveOrClearCookie(2,'bango_');//存储搜索条件
		}else if(is == 2){//搜索全部
			$('.btn_div input,.btn_div select').val('');//全部的时候 清空搜索项
			g.loadPage = true;//开启分页
			saveOrClearCookie(1,'bango_');//清空搜索条件
		}
		var url = Base.serverUrl + "user/search";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					g.totalPage = data.totalPages || 0;//总页数
					var totalElements = data.totalElements || 0;//总共模块数
					$('#totalElements').html(totalElements);
					var html = '';
					html += '<table class="table1">'
						+'<tr>'
							+'<th style="min-width:30px;">编号</th>'
							+'<th style="min-width:75px;">办公地名称</th>'
							+'<th style="min-width:100px;">办公地详细地址</th>'
							+'<th style="min-width:45px;">经纬度</th>'
							+'<th style="min-width:150px;">操作</th>'
						+'</tr>';
					var con = data.content || [];
					for(var i=0,len=con.length;i<len;i++){
						var d = con[i] || '';
						var id = d.id || '';
						var code = d.code || '';//编号
						var name = d.name || '';//名称
						var icons = d.icons || '';//
						var department = d.department || '';//
						var roles = d.roles || '';//
						var phone = d.phone || '';//
						var email = d.email || '';//
						var state_str = d.state_str || '';//
						var state = d.state || '';//
						var isBindWechat = d.isBindWechat || '';//
						html+='<tr>'
							+'<td>'+id+'</td>'
							+'<td>'+name+'</td>'
							+'<td>'+roles+'</td>'
							+'<td>'+state_str+'</td>'
							+'<td class="last">'
								+ '<a href="javascript:;" onclick="change(\''+id+'\')" class="cao_btn cao_btn1">修改</a>'
								+'<a href="javascript:;" onclick="deleteIt(\''+id+'\')" class="cao_btn cao_btn5">删除</a>';
							html+='</td>'
						+'</tr>';
					}	
					 html+='</table>';
					$('#tableList').html(html);
					//加载分页
					if(g.loadPage){
						setPages();//分页
						if($('#Pagination').html() == ''){//判断是否显示分页跳转等
							$('.pagesShow,.page-go,.gogo').hide();
						}else{
							$('.pagesShow,.page-go,.gogo').show();
						}
						g.loadPage = false;
					}
				}
				else{
					var msg = data.message || "获取信息失败";
					//Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}

	//删除一项
	window.deleteIt = function(id){
		var id = id || '';
		if(id == ''){Utils.alert('id不能为空！');return false;}
		if(!confirm('确认删除吗？')){return false;}
		var condi = {};
		condi.id = id;
		var url = Base.serverUrl + "user/deleteById";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					Utils.alert('删除成功！');
					tableListShow(2);//列表
				}
				else{
					var msg = data.message || "删除失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}
	//修改
	window.change = function(id){
		showOrChange(id,'change');
	}
	//查看或者修改的 公共方法
	window.showOrChange = function(id,is){
		var id = id || '';
		var is = is || '';
		if(id == ''){Utils.alert('id不能为空！');return false;}
		var condi = {};
		condi.id = id;
		var url = Base.serverUrl + "user/edit";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"GET",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var d = data.result || {};
					
					reloadSbox();//初始化弹窗
					//赋值
					$('#xingming').val(d.name || '');
					//$('#mima').val(d.password || '');
					$('#head_img').attr('src',d.icons || '');
					$('#suoshubumen').val(d.department || '');
					var _ro = d.roles || '';
					if(_ro.indexOf(',') > -1){_ro = _ro.split(',');}
					$('#suoshujiaose').val(_ro).select2();
					//valchoiseDanwei('.choiseDanwei3',_ro);//选择角色弹窗 赋值
					$('#lianxiPhone').val(d.phone || '');
					$('#youxiangEmail').val(d.email || '');
					$('#zhuangtai').val(d.state || '');

					//弹窗
					var tips = '';//判断弹窗标题
					
					if(is == 'review'){//弹窗是查看
						tips = '用户详情';
						$('#yesBtn').off().hide();
						$('#noBtn').html('关闭');
						$('.xiugaizhongxin input').attr('readonly',true).addClass('readonly');//清空
						$('.xiugaizhongxin select').attr('disabled',true).addClass('readonly');//清空
					}else{//弹窗是修改
						tips = '修改用户';
						$('#yesBtn').off().on('click',function(){centerFunc('change',id)});
					}
					$('.xiugaizhongxin .sbox_h4').html(tips);
					showSbox('.xiugaizhongxin');//显示弹窗
				}
				else{
					var msg = data.message || "删除失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  Utils.alert("超时");
		　　　　}
			}
		});
	}

	
	
	
	//设置每页显示多少行
	$('.pagesShow').change(function(){
		var num = $(this).val() || 10;
		g.nowPage = 0;//回到第一页
		g.showPages = num;
		g.loadPage = true;//设置页面加载 配置分页
		tableListShow();//显示列表
	});
	
	$(".gogo").on("click",function(){
    	var allPage = g.totalPage;
    	//console.log(allPage);
      var goPage = $(".page-go input").val() - 1; //跳转页数
      if(goPage > -1 && goPage <= allPage){
		g.nowPage = goPage;
		tableListShow();//显示列表
      }else {
      	Utils.alert('超出范围!');
      }
      //清空用户跳转页数
      //$(".page-go input").val("");
    });
	

	//分页
	function setPages(){
		$("#Pagination").pagination(g.totalPage,{
			callback: PageCallback, 
			 prev_text: '<',             
			 next_text: '>',
			 current_page:g.nowPage
		});
		$('.allPage').html(g.totalPage);
	}
	function PageCallback(index, jq){
		  g.nowPage = index || 0;
		  tableListShow('pa');//列表
	 }
	 
	 	
	
	
	
});

</script>
</html>