<!doctype html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta content="IE=Edge,chrome=1" http-equiv="X-UA-Compatible">
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="format-detection" content="telephone=no"/>
	<link rel="stylesheet" href="../public/css/pagination.css" />
	<link rel="stylesheet" href="../public/css/common.css" />
	<title></title>

</head>
<body class="xiangmuguanli updownbody">
	<!-- 申办方 -->
	<ul class="choiseDanwei choiseDanwei4">
		<li>加载失败</li>
	</ul>

	<!-- <h4 class="page_title">项目管理</h4> -->
	<div class="btn_div">
		<table class="search_table">
			<tr>
				<td>
					<span class="sear_lable">开始时间</span>
					<input class="com_input com_input3"  id="start_time" placeholder="起" type="text" />
				</td>
				<td >
					<span class="sear_lable">结束时间</span>
					<input class="com_input com_input4" id="end_time" placeholder="止" type="text" />
				</td>
				<td>
					<span class="sear_lable">状态</span>
					<select id="zhuangtai" class="com_select com_select2">
						<option value="">请选择</option>
						<option value="计划中">计划中</option>
						<option value="已完成">已完成</option>
					</select>
				</td>
				<td>
					<span class="sear_lable">角色</span>
					<input id="jiaose" class="com_input com_input2" type="text" />
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
					
				</td>
				<td>
					
				</td>
				<td style="height:31px;">
				</td>
			</tr>
		</table>
		<span class="searBtnTd">
			<a id="searchBtn" class="top_btn xiangMu_xiangMuSouSuo">搜索</a>
			<a id="searchAll" class="top_btn type2">清空条件</a>
			<a class="upserBtn" href="javascript:;" >更多</a>
		</span>
		<div class="sear_line"></div>
	</div>
	<!-- <div class="m_info">
		<a class="creat_forse " id="new_project" >新建项目</a>
	</div> -->
	<div id="tableList" class="table_div">
	</div>
	<div class="pages">
        <div id="Pagination"></div>
        <div style="display:none;"  class="searchPage">
          <span style="display:none;" class="page-sum">共<strong class="allPage">1</strong>页</span>
          <span class="page-sum">
			<select class="com_select pagesShow">
				<option value=10 >10条/页</option>
				<option value=30 >30条/页</option>
				<option value=50 >50条/页</option>
			</select>
		</span>
          <span class="page-go">跳转<input type="text">页</span>
          <a href="javascript:;" class="page-btn gogo">GO</a>
        </div>
    </div>
	
	<script type="text/javascript" src="../public/libs/jquery.min.js"></script>
	<script type="text/javascript" src="../public/laydate/laydate.js"></script>
	<script type="text/javascript" src="../public/libs/json.js"></script>
	<script type="text/javascript" src="../public/libs/base.js"></script>
	<script type="text/javascript" src="../public/libs/layer.js"></script>
	<script type="text/javascript" src="../public/libs/utils.js"></script>
	<script type="text/javascript" src="../public/js/common2.js"></script>
	<script type="text/javascript" src="../public/libs/jquery.pagination.js"></script>
	
</body>

<script>
$(function(){
	var g = {};
	g.login_token = Utils.offLineStore.get("token",false) || "";
	g.name = Utils.getQueryString("name") || "";//从外出稽查统计页面传来 传稽查员名字
	if(g.name != ''){g.name = decodeURI(g.name)}//解码
	g.httpTip = new Utils.httpTip({});
	g.totalPage = 1;//存总页数
	g.nowPage = 0;//存当前页 0 是第一页
	g.showPages = 10;//每页显示多少行
	g.loadPage = true;//判断页面刚加载一次 定义分页的地方用
	g.ids = [];//存储当前所有项目id及其状态
	g.quanxuan = 0;
	
/* **************************************** lodding ******************************************** */	
	//加载顶部标题
	$('#menu_show_t .ss',parent.document).removeClass('active').html('');
	$('#menu_show_t .s0',parent.document).css('cursor','pointer').html('外出稽查统计').off().on('click',function(){
		parent.document.getElementById("iframeObj").src = '外出稽查统计.html';
	});
	$('#menu_show_t .s1',parent.document).html(' > 稽查统计详情').addClass('active');
	$('#searchAll').on('click',function(){g.nowPage = 0;tableListShow(2)});
	$('#searchBtn').on('click',function(){g.nowPage = 0;tableListShow(1)});
	//$('#new_project').on('click',createNewProject);
	loadPage();
	
/* **************************************** setTing ******************************************** */	
	
	//加载页面
	function loadPage(){
		if(g.name != ''){$('')}
		tableListShow(1);//显示列表
		
	}


	//设置每页显示多少行
	$('.pagesShow').change(function(){
		var num = $(this).val() || 10;
		g.nowPage = 0;//回到第一页
		g.showPages = num;
		g.loadPage = true;//设置页面加载 配置分页
		tableListShow();//显示列表
	});
	
	$(".gogo").on("click",function(){
    	var allPage = g.totalPage;
    	//console.log(allPage);
      var goPage = $(".page-go input").val() - 1; //跳转页数
      if(goPage > -1 && goPage <= allPage){
		g.nowPage = goPage;
		tableListShow();//显示列表
      }else {
      	Utils.alert('超出范围!');
      }
      //清空用户跳转页数
      //$(".page-go input").val("");
    });
	
	//分页
	function setPages(){
		$("#Pagination").pagination(g.totalPage,{
			callback: PageCallback, 
			 prev_text: '<',             
			 next_text: '>',
			 current_page:g.nowPage
		});
		$('.allPage').html(g.totalPage);
		$('.searchPage').show();
	}
	function PageCallback(index, jq){
		  g.nowPage = index || 0;
		  tableListShow('pa');//列表
	 }

	//列表
	function tableListShow(is){
		var is = is || '';
		g.start_time = $('#start_time').val() || '';
		g.end_time = $('#end_time').val() || '';
		g.zhuangtai = $('#zhuangtai').val() || '';
		g.jiaose = $('#jiaose').val() || '';
		var condi = {};
		condi.userName = g.name;
		condi.page = g.nowPage;//当前页
		condi.number = g.showPages;//每页显示行数
		if(is == 1 || is == 'pa'){//搜索条件
			condi.start = g.start_time;//
			condi.end = g.end_time;//
			condi.state = g.zhuangtai;//
			condi.role = g.jiaose;//
			if(is != 'pa')g.loadPage = true;//开启分页
		}else if(is == 2){//搜索全部
			$('#start_time').val('');
			$('#end_time').val('');
			$('#zhuangtai').val('');
			$('#jiaose').val('');
			//全部的时候 清空搜索项
			g.loadPage = true;//开启分页
		}
		var url = Base.serverUrl + "schedule/event/out/detail";
		//g.httpTip.show();
		$.ajax({
			url:url,
			data:condi,
			timeout: 30000, //超时时间设置，单位毫秒
			type:"POST",
			xhrFields: {
				withCredentials: true
			},
			crossDomain: true,
			dataType:'json',
			context:this,
			success: function(data){
				var status = data.success || false;
				if(status){
					var data = data.result || [];
					g.totalPage = data.totalPages || 0;//总页数
					var totalElements = data.totalElements || 0;//总共中心数
					//$('#totalElements').html(totalElements);
					var html = '';
					var sstr = '';
					if(g.quanxuan == 1){sstr = 'active';}
					html += '<table class="table1">'
						+'<tr>'
							+'<th style="min-width:30px;">序号</th>'
							+'<th style="min-width:58px;">项目名称</th>'
							+'<th style="min-width:58px;">任务名称</th>'
							+'<th style="min-width:60px;">稽查时间</th>'
							+'<th style="min-width:60px;">稽查组长</th>'
							+'<th style="min-width:45px;">稽查员</th>'
							+'<th style="min-width:30px;">专家</th>'
							+'<th style="min-width:30px;">备注</th>'
							+'<th style="min-width:30px;">状态</th>'
						+'</tr>';
					var con = data || [];
					for(var i=0,len=con.length;i<len;i++){
						var xu =  len - i;//totalElements - g.nowPage*g.showPages - i;
						var d = con[i] || '';
						var id = d.id || '';
						var scheduleProjectName = d.scheduleProjectName || '';//
						var scheduleTaskName = d.scheduleTaskName || '';//
						var startTime = getDate(d.startTime || '');
						startTime = setgetafternoon(startTime,'af');//时间 转成 上午 下午
						var endTime = getDate(d.endTime || '');
						endTime = setgetafternoon(endTime,'af');//时间 转成 上午 下午
						var jichatime = startTime+' - '+endTime;
						var users = d.scheduleEventUsers || [];
						var zuzhang = '',jichayuan = '',zhuanjia = '';
						for(var j=0,lenj=users.length;j<lenj;j++){
							var df = users[j] || {};
							var role = df.role || '';//组长
							var userName = df.userName || '';//稽查员
							if(role == '稽查组长'){zuzhang = zuzhang == '' ? userName : zuzhang +','+ userName;}
							if(role == '稽查员'){jichayuan = jichayuan == '' ? userName : jichayuan +','+ userName;}
							if(role == '专家'){zhuanjia = zhuanjia == '' ? userName : zhuanjia +','+ userName;}
						}
						var remark = d.remark || '';
						var state = d.state || '';
						var stra = '';
						
						html+='<tr>'
							+'<td>'+xu+'</td>'
							+'<td>'+scheduleProjectName+'</td>'
							+'<td>'+scheduleTaskName+'</td>'
							+'<td>'+jichatime+'</td>'
							+'<td>'+zuzhang+'</td>'
							+'<td>'+jichayuan+'</td>'
							+'<td>'+zhuanjia+'</td>'
							+'<td>'+remark+'</td>'
							+'<td>'+state+'</td>'
						+'</tr>';
					}	
					 html+='</table>';
					$('#tableList').html(html);
					//加载分页
					if(g.loadPage){
						setPages();//分页
						if($('#Pagination').html() == ''){//判断是否显示分页跳转等
							$('.pagesShow,.page-go,.gogo').hide();
						}else{
							$('.pagesShow,.page-go,.gogo').show();
						}
						g.loadPage = false;
					}
					
				}
				else{
					var msg = data.message || "获取失败";
					Utils.alert(msg);
				}
				//g.httpTip.hide();
			},
			error:function(data,status){
				//g.httpTip.hide();
				if(status=='timeout'){
		　　　　　  //Utils.alert("超时");
		　　　　}
			}
		});
	}

	//加载时间控件
	var start = {
	  elem: '#start_time',
	  format: 'YYYY-MM-DD hh:mm:ss',
	  //min: laydate.now(), //设定最小日期为当前日期
	  max: '2099-06-16', //最大日期
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		 //end.min = datas; //开始日选好后，重置结束日的最小日期
		 //end.start = datas //将结束日的初始值设定为开始日
	  }
	};
	var end = {
	  elem: '#end_time',
	  format: 'YYYY-MM-DD hh:mm:ss',
	  //min: laydate.now(),
	  max: '2099-06-16',
	  istime: true,
	  istoday: false,
	  choose: function(datas){
		start.max = datas; //结束日选好后，重置开始日的最大日期
	  }
	};
	laydate(start);
	laydate(end);

});

</script>
</html>